Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

feat: add performance tests checking the webhook with and without the owner label check
  internal/webhook/v1alpha1/performance_test.go
Labels: none

Automatic application of license header
  internal/webhook/v1alpha1/performance_test.go
Labels: none

(chore): update pg vals
  charts/greenhouse/values.yaml
Labels: helm-charts

(chore): bump chart version
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

allow Organization resource to reference ConfigMap
  api/v1alpha1/organization_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
  internal/test/setup.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

address review comment
  internal/test/resources.go
Labels: none

implement basic e2e tests for organization-controller
  e2e/organization/e2e_test.go
  e2e/organization/testdata/organization.yaml
Labels: none

feat: remove performance tests, fix flaky e2e test
  e2e/plugin/e2e_test.go
  internal/webhook/v1alpha1/performance_test.go
Labels: none

docs(logging): updates diagram
  docs/architecture/monitoring-architecture-detailed.png
Labels: documentation

fix: fix flaky conversion e2e test
  e2e/conversion/e2e_test.go
Labels: none

chore(charts): update postgres values (#1256)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

(chore): update generated kubeconfig on ca changes
  internal/controller/cluster/bootstrap_controller.go
Labels: none

(chore): update cluster e2e
  e2e/cluster/e2e_test.go
  e2e/shared/cluster.go
Labels: none

docs(logging): adds more detail about alerts
  docs/architecture/monitoring-architecture-detailed.png
Labels: documentation

(chore): fix cluster e2e
  e2e/cluster/e2e_test.go
Labels: none

(chore): remove controllerutil create update
  e2e/cluster/e2e_test.go
  e2e/shared/cluster.go
Labels: none

(fix): stringify ca byte
  e2e/cluster/e2e_test.go
Labels: none

docs(logging): adds alerts and prometheus everywhere basically
  docs/architecture/monitoring-architecture-detailed.png
Labels: documentation

docs(logging): removes one of the legend entries for "any cluster" as Alerts are now in each
  docs/architecture/monitoring-architecture-detailed.png
Labels: documentation

docs(logging): updates diagram
  docs/architecture/monitoring-architecture-detailed.png
Labels: documentation

docs(logging): adds new monitoring diagram to md
  docs/architecture/monitoring-architecture-detailed.png
  docs/architecture/monitoring.md
Labels: documentation

fix(teams): initialize status earlier
  internal/controller/team/team_controller.go
Labels: none

fix(docs): update monitoring docs (#1154)
  .gitignore
  docs/architecture/monitoring-architecture-detailed.png
  docs/architecture/monitoring-architecture.png
  docs/architecture/monitoring.md
Labels: documentation

fix(teamrolebindings): RBACReady not flapping, remove unset condition
  internal/controller/teamrbac/teamrolebinding_controller.go
Labels: none

add testcase
  internal/controller/teamrbac/teamrolebinding_controller_test.go
Labels: none

fix(core): webhook cert suffix for local-webhook-dev
  internal/local/setup/webhook.go
Labels: none

fix(teamrolebindings): rbac Ready condition not flapping, removes unset condition (#1254)
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
Labels: none

fix(teams): initialize status earlier (#1258)
  internal/controller/team/team_controller.go
Labels: none

feat(controller): add flux controller (#1120)
  Makefile
  charts/manager/templates/rbac/manager-role.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  dev-env/dev.config.yaml
  e2e/config.yaml
  e2e/plugin/e2e_test.go
  e2e/plugin/fixtures/fixtures.go
  go.mod
  go.sum
  internal/clientutil/client.go
  internal/controller/flux/builder.go
  internal/controller/flux/builder_test.go
  internal/controller/flux/plugin_controller.go
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/flux/util.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/util.go
Labels: helm-charts, dependencies

fix(core): webhook cert suffix for local-webhook-dev (#1259)
  internal/local/setup/webhook.go
Labels: none

fix(teams): initialize status earlier (#1258)
  internal/controller/team/team_controller.go
Labels: none

fix(teamrolebindings): rbac Ready condition not flapping, removes unset condition (#1254)
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
Labels: none

fix(core): webhook cert suffix for local-webhook-dev (#1259)
  internal/local/setup/webhook.go
Labels: none

feat(webhook): allow kube-monitoring and thanos (#1238)
  internal/webhook/v1alpha1/plugin_webhook.go
Labels: none

chore(release): bump to 0.5.0-rc.2
  charts/cors-proxy/values.yaml
  charts/greenhouse/Chart.yaml
  charts/idproxy/values.yaml
  charts/manager/values.yaml
Labels: helm-charts, idproxy, dependencies

chore(deps): update kubernetes packages to v0.32.6 (patch)
  go.mod
  go.sum
Labels: dependencies

(chore): rollback postgres values
  charts/greenhouse/values.yaml
Labels: helm-charts

chore(deps): update kubernetes packages to v0.32.6 (patch) (#1269)
  go.mod
  go.sum
Labels: dependencies

chore(deps): update kubernetes packages to v0.32.6 (patch) (#1269)
  go.mod
  go.sum
Labels: dependencies
