Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

feat(charts): replace logshipper chart with plugin
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/opensearch-creds.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
  charts/greenhouse/values.yaml
  charts/logshipping/Chart.lock
  charts/logshipping/Chart.yaml
  charts/logshipping/charts/fluent-bit-0.42.0.tgz
  charts/logshipping/templates/fluent-bit-configmap.yaml
  charts/logshipping/templates/fluent-bit-secret.yaml
  charts/logshipping/values.yaml
Labels: helm-charts, dependencies

Revert "fix(dev-env) go install in multiarch build"
  Dockerfile.dev-env
Labels: none

fix(dockerbuild) disable multiarch image build
  .github/workflows/docker-build.yaml
Labels: none

helm pushlish test
  .github/workflows/helm-publish.yaml
Labels: none

add manual trigger
  .github/workflows/helm-publish.yaml
Labels: none

default runner
  .github/workflows/helm-publish.yaml
Labels: none

lowercase name
  .github/workflows/helm-publish.yaml
Labels: none

test
  charts/headscale/templates/deployment.yaml
Labels: helm-charts, headscale

lint
  .github/workflows/helm-lint.yaml
Labels: none

make change
  charts/headscale/templates/deployment.yaml
Labels: helm-charts, headscale

debug
  .github/workflows/helm-publish.yaml
  charts/headscale/templates/etc/_acl_policy.yaml
Labels: helm-charts, headscale

Fix/129/dockerbuild (#136)
  .github/workflows/docker-build.yaml
Labels: none

helm
  charts/headscale/templates/deployment.yaml
  charts/headscale/templates/etc/_acl_policy.yaml
Labels: helm-charts, headscale

* Properly introduce edit mode
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/plugin-edit/ClusterSelect.tsx
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/lib/utils/handleFormChange.ts
  ui/plugin-admin/src/plugin-edit/lib/utils/pluginApi.ts
  ui/plugin-admin/src/plugin-edit/lib/utils/postPlugin.ts
  ui/plugin-admin/src/plugindefinitions/components/PluginList.tsx
  ui/plugin-admin/src/plugindefinitions/store.ts
Labels: ui

feat(charts): replace logshipper chart with plugin (#138)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/opensearch-creds.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
  charts/greenhouse/values.yaml
  charts/logshipping/Chart.lock
  charts/logshipping/Chart.yaml
  charts/logshipping/charts/fluent-bit-0.42.0.tgz
  charts/logshipping/templates/fluent-bit-configmap.yaml
  charts/logshipping/templates/fluent-bit-secret.yaml
  charts/logshipping/values.yaml
Labels: helm-charts, dependencies

fix(logshipper): quote opensearch.port
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts

fix(logshipper): quote opensearch.port (#141)
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts

feat(helm) helm release action
  .github/workflows/helm-push.yaml
Labels: none

fix(helm) space
  .github/workflows/helm-push.yaml
Labels: none

feat(helm) lint checks version bump
  .github/workflows/helm-lint.yaml
Labels: none

fix(chart) rm logshipping from list
  .github/workflows/helm-push.yaml
Labels: none

feat(gh-actions) helm package & publish (#119)
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-push.yaml
Labels: none

[team-admin] change the default value of isMock to false in package.json (#124)
  ui/team-admin/package.json
Labels: ui

* Use Message component for SubmitMessage
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
Labels: ui

* Fix superflous null coalscing operator
  ui/plugin-admin/src/plugindefinitions/components/OptionValueTable.tsx
Labels: ui

* Fix CRD rename
  ui/plugin-admin/src/plugin-edit/lib/utils/initPlugin.ts
Labels: ui

* Remove surplus ResourceStatusIcon
  ui/plugin-admin/src/plugindefinitions/components/ResourceStatusIcon.tsx
Labels: ui

* Set cursor style
  ui/plugin-admin/src/plugindefinitions/components/PluginList.tsx
Labels: ui

Update README with local dev setup
  ui/plugin-admin/README.md
  ui/plugin-admin/docker-compose.yaml
  ui/plugin-admin/secretProps.template.json
Labels: ui

* Refactor PluginApi methods * Refactor + style MarkDown
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/lib/utils/pluginApi.ts
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionDetail.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionTile.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/useFetchMarkDown.ts
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginApi.ts
  ui/plugin-admin/src/styles.scss
Labels: ui

* Close edit screen after successful edit/create
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionDetail.tsx
Labels: ui

fix(charts) update greenhouse chart dependencies
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

chore(controller-tools): bump to v0.14.0
  Makefile
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/dex/api/zz_generated.deepcopy.go
Labels: helm-charts, core-apis, documentation, idproxy, dependencies

Implement plugin delete
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginApi.ts
Labels: ui

chore(controller-tools): bump to v0.14.0 (#150)
  Makefile
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/dex/api/zz_generated.deepcopy.go
Labels: helm-charts, core-apis, documentation, idproxy, dependencies

Use images built in gh-action
  ui/plugin-admin/docker-compose.yaml
  ui/plugin-admin/network-host.docker-compose.yaml
Labels: ui

Extend secretProps template with setup for the authentication
  ui/plugin-admin/secretProps.template.json
Labels: ui

fix(chart) increment ui chart version
  charts/ui/Chart.yaml
Labels: helm-charts, ui, dependencies

feat(helm-lint) add github message when increment needed
  .github/workflows/helm-lint.yaml
Labels: none

fix(chart) increment headscale chart version
  charts/headscale/Chart.yaml
Labels: helm-charts, headscale, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
