Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

Update docs/user-guides/team/rbac.md
  docs/user-guides/team/rbac.md
Labels: documentation

Update pkg/controllers/organization/teamrole_seeder_controller.go
  pkg/controllers/organization/teamrole_seeder_controller.go
Labels: none

Update pkg/controllers/organization/teamrole_seeder_controller.go
  pkg/controllers/organization/teamrole_seeder_controller.go
Labels: none

revert license header in charts
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

Feat/team role seeder (#75)
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/team/rbac.md
  pkg/controllers/organization/teamrole_seeder_controller.go
Labels: helm-charts, documentation

[plugin-admin] Changed Icon in List
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/components/PluginList.js
Labels: ui

Add Edit view
  ui/plugin-admin/bootstrap/plugin.yaml
  ui/plugin-admin/docker-compose.yaml
  ui/plugin-admin/network-host.docker-compose.yaml
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/scripts/templates/typemeta.yaml
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/components/PluginDetail.tsx
  ui/plugin-admin/src/components/PluginTile.tsx
  ui/plugin-admin/src/components/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/store.ts
  ui/plugin-admin/src/types/schema.d.ts
Labels: ui

use ghcr images
  ui/plugin-admin/docker-compose.yaml
  ui/plugin-admin/network-host.docker-compose.yaml
Labels: ui

[plugin-admin] Plugin Condition is now more visible.
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginConditionIcon.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/hooks/useAPI.js
Labels: ui

fix(codeowners): dedicated entry for openapi docs (#76)
  .github/CODEOWNERS
Labels: none

[plugin-admin] fix icon detail heading
  ui/plugin-admin/src/components/PluginDetail.js
Labels: ui

Automatic application of license header
  ui/plugin-admin/src/components/PluginConditionIcon.js
Labels: ui

[plugin-admin] Plugin admin icon (#79)
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginConditionIcon.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/hooks/useAPI.js
Labels: ui

fix(rbac): allow PluginAdmins to edit PluginConfigs
  pkg/rbac/role.go
Labels: none

fix(rbac): allow PluginAdmins to edit PluginConfigs (#86)
  pkg/rbac/role.go
Labels: none

[plugin-admin] fix runtime error for deeply nested optionValues
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/components/PluginDetail.js
Labels: ui

[plugin-admin] update version
  ui/plugin-admin/package.json
Labels: ui

[plugin-admin] Fix deep nested optionValues error (#88)
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/components/PluginDetail.js
Labels: ui

fix(helmcontroller): fix regression that diff was not reconciled
  pkg/controllers/pluginconfig/helm_controller.go
  pkg/controllers/pluginconfig/remote_cluster_test.go
Labels: none

fix(teamrbac): fix deletion logic, fix labeling
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/well_known.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
Labels: core-apis

fix(license): no automatic license headers on helm templates
  .github/licenserc.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

e2e test setup & cluster bootstrap test
  go.mod
  go.sum
  test/e2e/README.md
  test/e2e/cluster_bootstrap_test.go
  test/e2e/e2e_test.go
Labels: dependencies

Automatic application of license header
  test/e2e/cluster_bootstrap_test.go
  test/e2e/e2e_test.go
Labels: none

[plugin-admin] update dependency utils
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

[plugin-admin] iterate version
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

Update pkg/controllers/pluginconfig/remote_cluster_test.go
  pkg/controllers/pluginconfig/remote_cluster_test.go
Labels: none

use remoteK8sClient from StartControlPlane
  pkg/controllers/pluginconfig/remote_cluster_test.go
Labels: none

Update the zustand and messages-provider versions
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

Update the zustand and messages-provider versions (#97)
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

[plugin-admin] no version adjustment needed.
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

[plugin-admin] update dependency utils (#96)
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

fix(helmcontroller): fix regression that diff was not reconciled (#89)
  pkg/controllers/pluginconfig/helm_controller.go
  pkg/controllers/pluginconfig/remote_cluster_test.go
Labels: none

fix(helm-lint) GitHub token is no longer required
  .github/workflows/helm-lint.yaml
Labels: none

fix(plugin): typo in go json structag
  charts/manager/crds/greenhouse.sap_plugins.yaml
  pkg/apis/greenhouse/v1alpha1/pluginconfig_types.go
Labels: helm-charts, core-apis

rename plugin webhook
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
Labels: none

finish rename admission files
  cmd/greenhouse/controllers.go
  cmd/greenhouse/webhooks.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/admission/webhook_suite_test.go
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
  pkg/controllers/pluginconfig/suite_test.go
  pkg/helm/suite_test.go
Labels: core-apis, documentation

finish renaming apis files
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
Labels: core-apis

rename pkg/controllers/pluginconfig
  cmd/greenhouse/controllers.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/controllers/plugin/util_test.go
  pkg/controllers/plugindefinition/plugindefinition_propagation_reconciler.go
  pkg/controllers/propagation_reconciler_test.go
Labels: none

Fix search+replace erorr
  cmd/dev-env/main.go
Labels: none

rename more pluginconfig mentions
  charts/manager/crds/kustomization.yaml
  charts/manager/templates/servicemonitor.yaml
  charts/manager/templates/webhooks.yaml
  cmd/service-proxy/proxy.go
  docs/architecture-decision-records/ADR-4_greenhouse_resource_status_reporting.md
  docs/architecture-decision-records/ADR-5_supported_kubernetes_versions.md
  docs/user-guides/plugin/catalog.md
  docs/user-guides/plugin/deploying.md
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/cmd/plugin_validate.go
  pkg/common/url.go
  pkg/controllers/organization/service_proxy_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/helm/diff_test.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
  pkg/helm/values.go
Labels: helm-charts, documentation
