Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

chore(core): backport for v0.5.0-rc.2 (#1262)
  Makefile
  charts/cors-proxy/values.yaml
  charts/greenhouse/Chart.yaml
  charts/idproxy/values.yaml
  charts/manager/values.yaml
  go.mod
  go.sum
  internal/controller/team/team_controller.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
  internal/local/setup/webhook.go
Labels: helm-charts, idproxy, dependencies

(chore): rollback postgres values (#1270)
  charts/greenhouse/values.yaml
Labels: helm-charts

docs(teamrbac): rework documentation
  docs/user-guides/team/rbac.md
Labels: documentation

(chore): install flux crds for testing with greenhouse
  Makefile
  config/samples/flux/kustomization.yaml
Labels: none

(chore): refactor builder to build only spec
  internal/controller/flux/util.go
  internal/flux/builder.go
  internal/flux/builder_test.go
  internal/flux/utils.go
Labels: none

(chore): include flux crds in envTest
  internal/test/env.go
Labels: none

(chore): add flux source and helm scheme
  internal/clientutil/client.go
Labels: none

(chore): remove duplicate plugindefinition controller
  cmd/greenhouse/controllers.go
  internal/controller/flux/plugindefinition_controller.go
Labels: none

(chore): creates flux helm repository
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

(chore): move deployment tool label to well-known
  api/well_known.go
Labels: core-apis

(chore): move helm release spec builder in CreateOrUpdate
  charts/manager/templates/rbac/manager-role.yaml
  internal/controller/flux/plugin_controller.go
Labels: helm-charts

(chore): update tests
  internal/flux/builder_test.go
Labels: none

(chore): remove event filtering
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

(fix): add missing assertion in test
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

(fix): specify correct chart name and url for assertions
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

(fix): remove test isolation
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

(chore): get helm repository instead of list
  internal/flux/utils.go
Labels: none

(chore): remove redundant initialization
  internal/controller/flux/plugin_controller.go
  internal/flux/builder.go
Labels: none

(chore): update builder test
  internal/flux/builder_test.go
Labels: none

fix(plugins): refactor flux HelmRelease builder (#1274)
  Makefile
  api/well_known.go
  charts/manager/templates/rbac/manager-role.yaml
  cmd/greenhouse/controllers.go
  config/samples/flux/kustomization.yaml
  internal/clientutil/client.go
  internal/controller/flux/plugin_controller.go
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/flux/util.go
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/flux/builder.go
  internal/flux/builder_test.go
  internal/flux/utils.go
  internal/test/env.go
Labels: helm-charts, core-apis

feat: change test helper functions to add a label to a resource
  e2e/cluster/e2e_test.go
  e2e/conversion/e2e_test.go
  e2e/plugin/e2e_test.go
  e2e/shared/cluster.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/cluster/cluster_controller_test.go
  internal/controller/cluster/kubeconfig_controller_test.go
  internal/controller/cluster/status_test.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/teamrbac/conversion_test.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
  internal/helm/diff_test.go
  internal/helm/helm_test.go
  internal/test/resources.go
  internal/test/setup.go
  internal/util/conditions_test.go
  internal/webhook/utils_test.go
  internal/webhook/v1alpha1/cluster_webhook_test.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
  internal/webhook/v1alpha1/pluginpreset_webhook_test.go
  internal/webhook/v1alpha1/teamrole_webhook_test.go
  internal/webhook/v1alpha1/teamrolebinding_webhook_test.go
  internal/webhook/v1alpha2/teamrolebinding_webhook_test.go
Labels: none

(chore): skip helm release if plugin definition has no helm chart
  internal/controller/flux/plugin_controller.go
Labels: none

(chore): skip helm repository creation if there is no helm chart in plugin definition
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

(chore): fix mock in plugin definition test
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

(chore): remove test isolation
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

make organization reference whole config map instead of specific key
  api/v1alpha1/organization_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis

address review comment
  internal/test/resources.go
Labels: none

allow Organization resource to reference ConfigMap
  api/v1alpha1/organization_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
  internal/test/setup.go
Labels: helm-charts, core-apis

make organization reference single ConfigMap
  api/v1alpha1/organization_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/index.html
Labels: documentation

(chore): group namespace assignment
  internal/controller/flux/plugin_controller.go
Labels: none

fix(plugindefinitions): skip helm repository creation for UI PluginDefinitions (#1275)
  internal/controller/flux/plugin_controller.go
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

fix: reuse already created OwnerLabelSetCondition in conditions, remove distinct check for the label value missing for condition
  internal/controller/cluster/cluster_status.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/util.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/util/conditions.go
  internal/util/conditions_test.go
  internal/webhook/utils.go
  internal/webhook/v1alpha1/secret_webhook.go
Labels: none

feat(webhook): allow kube-monitoring and thanos (#1238)
  internal/webhook/v1alpha1/plugin_webhook.go
Labels: none

test refactor, additional validation
  e2e/organization/e2e_test.go
  e2e/organization/testdata/organization_1.yaml
Labels: none

implement basic e2e tests for organization-controller
  e2e/organization/e2e_test.go
  e2e/organization/testdata/organization.yaml
Labels: none

use NewOrganization from internal test package to create org
  e2e/organization/e2e_test.go
Labels: none
