Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

create local e2e cluster
  .gitignore
  Makefile
  go.mod
  go.sum
  test/e2e/local-cluster/create_cluster.go
Labels: dependencies

test suite & running onboard test
  test/e2e/onboard_self_test.go
  test/e2e/suite_test.go
Labels: none

fix: variable usage
  test/e2e/local-cluster/create_cluster.go
Labels: none

chore: bump to go1.22, controller-tools v0.15 (#248)
  .github/renovate.json
  .github/workflows/codeql.yaml
  Dockerfile
  Dockerfile.dev-env
  Dockerfile.headscalectl
  Dockerfile.tailscale
  Dockerfile.tcp-proxy
  Makefile
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  go.mod
Labels: helm-charts, documentation, dependencies

chore: bump envtest version to 1.29.5
  Dockerfile.dev-env
  Makefile
Labels: none

chore: bump envtest version to 1.29.5 (#249)
  Dockerfile.dev-env
  Makefile
Labels: none

refac(teamrbac): introduce helpers for testing
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: none

use client passed into NewTestSetup
  pkg/test/resources.go
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS (#254)
  .github/CODEOWNERS
Labels: none

feat(manifests): Introduce typescript type generation
  .github/licenserc.yaml
  Makefile
  hack/typescript/create-types
  hack/typescript/metadata.yaml
Labels: none

fix(ui): only use watch to avoid rerenders in team-admin
  ui/team-admin/src/hooks/useAPI.js
Labels: ui

Use generated types in cluster-admin
  ui/cluster-admin/src/hooks/useWatch.ts
  ui/cluster-admin/src/lib/utils/resourceStatus.ts
  ui/cluster-admin/src/store.ts
  ui/cluster-admin/src/types/schema.d.ts
  ui/cluster-admin/src/types/types.ts
Labels: ui

fix(ui): only use watch to avoid rerenders in team-admin (#257)
  ui/team-admin/src/hooks/useAPI.js
Labels: ui

docs(plugindev): add guide for local development
  docs/user-guides/plugin/development.md
Labels: documentation

link the dev-env UI getting started page
  docs/user-guides/plugin/development.md
Labels: documentation

Apply suggestions from code review
  pkg/test/resources.go
Labels: none

feat(ui): bump ui versions
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
Labels: ui

fix: move PR template into .github
  .github/pull_request_template.md
Labels: none

fix: move PR template into .github (#273)
  .github/pull_request_template.md
Labels: none

docs(plugindev): add guide for local development (#261)
  docs/user-guides/plugin/development.md
Labels: documentation

chore(hugo): bump hugo version
  .github/workflows/hugo.yaml
Labels: none

chore(hugo): bump hugo version (#274)
  .github/workflows/hugo.yaml
Labels: none

Revert "chore(hugo): bump hugo version (#274)"
  .github/workflows/hugo.yaml
Labels: none

Revert "chore(hugo): bump hugo version (#274)" (#275)
  .github/workflows/hugo.yaml
Labels: none

feat(ui): bump ui versions (#272)
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
Labels: ui

refac(teamrbac): introduce helpers for testing (#237)
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: none

refac(teamrbac): introduce helpers for testing
  pkg/test/resources.go
Labels: none

feat(teamrbac): support clusterSelector
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/conditions.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/resources.go
Labels: helm-charts, core-apis

use client passed into NewTestSetup
  test/e2e/local-cluster/e2e.internal.kubeconfig
  test/e2e/local-cluster/e2e.kubeconfig
Labels: none

remove e2e config
  test/e2e/local-cluster/e2e.internal.kubeconfig
  test/e2e/local-cluster/e2e.kubeconfig
Labels: none

feat(e2e): Introduce test setup
  Makefile
  pkg/test/env.go
  test/e2e/README.md
  test/e2e/controllers.go
  test/e2e/suite_test.go
  test/e2e/webhooks.go
Labels: none

fix(cluster-admin): make app public, remove stars from peerDependencies and some typos
  ui/cluster-admin/package.json
Labels: ui

version upgrade
  ui/cluster-admin/package.json
Labels: ui

fix(dashboard): make app public, remove stars from peerDependencies and some typos
  ui/dashboard/package.json
Labels: ui

fix(org-admin): make app public, remove stars from peerDependencies and some typos
  ui/org-admin/package.json
Labels: ui

version upgrade
  ui/org-admin/package.json
Labels: ui

fix(plugin-admin): make app public, remove stars from peerDependencies and some typos
  ui/plugin-admin/package.json
Labels: ui

fix(secrets): make app public, remove unused peerDependencies
  ui/secret-admin/package.json
Labels: ui

fix(team-admin): make app public, remove stars from peerDependencies and some typos. Version upgrade
  ui/team-admin/package.json
Labels: ui

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
