Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

moved to another PR and reset from main
  .github/workflows/deploy-github-pages.yaml
Labels: none

renamed as in main to avoid conflicts
  .github/workflows/deploy-githug-pages.yaml
Labels: none

renamed folder
  Makefile
  hack/docs-generator/config.json
  hack/docs-generator/templates/members.tpl
  hack/docs-generator/templates/pkg.tpl
  hack/docs-generator/templates/type.tpl
Labels: none

Added also a readme
  hack/docs-generator/README.md
Labels: none

refactored workflows
  .github/workflows/check-changes-crd-api.yaml
  .github/workflows/gen-crd-api-to-docs.yaml
Labels: none

install binary on demand
  .gitignore
  Makefile
Labels: none

renamed to generate-open-api-spec
  .github/workflows/check-changes-crd-api.yaml
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/index.html
Labels: documentation

feat(renovate) add helm-go, wait 14 days for patch versions (#383)
  .github/renovate.json
Labels: none

fix(dev-env): use 8090 for envtest, fix bootstrap
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
Labels: none

fix(dev-env): use 8090 for envtest, fix bootstrap (#384)
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
Labels: none

remove redundant make target since it is called from generate-types
  .github/workflows/check-changes-crd-api.yaml
Labels: none

correct typo
  hack/docs-generator/README.md
Labels: none

removed copy paste comments
  pkg/apis/greenhouse/doc.go
  pkg/apis/greenhouse/v1alpha1/doc.go
Labels: core-apis

Automatic genaration of CRD API Docs
  docs/reference/api/index.html
Labels: documentation

correct typo
  Makefile
Labels: none

errcheck
  test/e2e/local-cluster/create_cluster.go
Labels: none

feat: improve logging & events
  pkg/apis/greenhouse/v1alpha1/event_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: core-apis

Add platform to run the image in mac
  hack/openapi-generator/generate-openapi-spec-from-crds
Labels: none

fix(teamRBAC): ensure status updated on cluster not found (#372)
  pkg/apis/greenhouse/v1alpha1/event_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: core-apis

feat(plugins) Add read only values to plugin options
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
Labels: core-apis

Use E2E_KUBECONFIG instead of KUBECONFIG
  Makefile
  pkg/test/env.go
  test/e2e/README.md
Labels: none

fix: pass docker arch to cluster create
  Makefile
Labels: none

fix: disable e2e cluster create verbose logging by default
  Makefile
Labels: none

fix typo
  test/e2e/README.md
Labels: none

feat(plugin) report workload status deployed by plugin
  cmd/greenhouse/controllers.go
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller_test.go
  pkg/controllers/plugin/util.go
Labels: core-apis

feat(teammembership) init updater controller
  cmd/greenhouse/controllers.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/util.go
Labels: none

Refactor: use TEST_KUBECONFIG
  Makefile
  pkg/test/env.go
  test/e2e/README.md
Labels: none

feat(test): creating local cluster for e2e (#250)
  .gitignore
  Makefile
  go.mod
  go.sum
  pkg/test/env.go
  pkg/test/util.go
  test/e2e/README.md
  test/e2e/local-cluster/create_cluster.go
  test/e2e/local-cluster/idproxy.values.yaml
  test/e2e/local-cluster/manager.values.yaml
  test/e2e/onboard_self_test.go
Labels: dependencies

feat(temmembership) updater use env variable as startup parameter
  cmd/greenhouse/controllers.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
Labels: none

Automatic application of license header
  pkg/controllers/plugin/plugin_workload_status_controller_test.go
Labels: none

feat(controller) make generate
  charts/manager/templates/manager-role.yaml
Labels: helm-charts

feat(dev-env) add mounting a local helm chart
  dev-env/docker-compose.yaml
  docs/user-guides/plugin/development.md
Labels: documentation

feat(dev-env) rm line
  docs/user-guides/plugin/development.md
Labels: documentation

feat(dev-env) update docs
  docs/user-guides/plugin/development.md
Labels: documentation

feat(dev-env) update docs
  docs/user-guides/plugin/development.md
Labels: documentation

feat(plugin-tests): add documentation for plugin testing requirements
  docs/contribute/plugin-tests.md
Labels: documentation

feat(teammembership) move updater to controller
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
Labels: none

feat(dev-env) add mounting a local helm chart (#399)
  dev-env/docker-compose.yaml
  docs/user-guides/plugin/development.md
Labels: documentation

feat(plugin-tests): update documentation for plugin testing requirements
  docs/contribute/plugin-tests.md
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
