Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

fix(build) fix makefile warning
  Makefile
Labels: none

fix(chore) add ignores
  .github/licenserc.yaml
  .gitignore
Labels: none

feat(makefile) cleanup gomodcache
  Makefile
Labels: none

Revert "fix(chore) add ignores"
  .github/licenserc.yaml
  .gitignore
Labels: none

fix(makefile) rm GO111MODULE env var
  Makefile
Labels: none

fix(makefile) rm sumdb
  Makefile
Labels: none

feat(dev-setup): add option to specify image version (#603)
  Makefile
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifest.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/setup.go
Labels: none

fix: prevent incomplete urls for exposed services in plugin
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/test/fixtures/chartWithExposedService/Chart.lock
  pkg/test/fixtures/chartWithExposedService/Chart.yaml
  pkg/test/fixtures/chartWithExposedService/templates/services.yaml
  pkg/test/fixtures/chartWithExposedService/values.yaml
Labels: none

fix: add docs for exposed services
  docs/user-guides/plugin/plugin-deployment.md
Labels: documentation

refac(plugin): fix comments
  pkg/controllers/plugin/util.go
Labels: none

refac(plugin): remove pluginStatus from initClientGetter requirements (#598)
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: none

chore(deps): update website to remove vulnerability
  website/package-lock.json
  website/package.json
Labels: none

chore(deps): update website to remove vulnerability (#607)
  website/package-lock.json
  website/package.json
Labels: none

Fix: prevent incomplete urls for exposed services in plugin (#606)
  docs/user-guides/plugin/plugin-deployment.md
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/test/fixtures/chartWithExposedService/Chart.lock
  pkg/test/fixtures/chartWithExposedService/Chart.yaml
  pkg/test/fixtures/chartWithExposedService/templates/services.yaml
  pkg/test/fixtures/chartWithExposedService/values.yaml
Labels: documentation

feat(e2e): run e2e tests as actions
  .github/workflows/ci-e2e-test.yaml
Labels: none

feat(chart): Make UI optional
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

feat(organizationwebhook): deny deletion of organization
  pkg/admission/organization_webhook.go
  pkg/admission/organization_webhook_test.go
Labels: none

(chore): Adds cluster default and validating webhook and tests
  pkg/admission/cluster_webhook.go
  pkg/admission/cluster_webhook_test.go
Labels: none

(chore): Adds cluster deletion annotations and conidtion
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/apis/well_known.go
Labels: core-apis

(chore): disable propagation controllers
  cmd/greenhouse/controllers.go
Labels: none

(chore): adds helpers to process deletion schedule from cluster annotations
  pkg/clientutil/util.go
Labels: none

(chore): clean up plugins bound to cluster during off-boarding
  pkg/controllers/cluster/direct_access_controller.go
Labels: none

(chore): sets cluster deletion condition
  pkg/controllers/cluster/status_controller.go
Labels: none

(chore): early exit plugin reconciliation when cluster scheduled for deletion
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

(chore): removes plugin clean up
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: none

(chore): handles plugin ready access condition with early exit
  pkg/controllers/plugin/util.go
Labels: none

(test): handles updating cluster with deletion annotations before triggering cluster delete
  pkg/test/assert.go
  pkg/test/util.go
Labels: none

(test): fix onboard self e2e cluster deletion
  test/e2e/onboard_self_test.go
Labels: none

(chore): adds make setup webhook
  Makefile
Labels: none

(fix): fix lint errors
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/util.go
  pkg/test/util.go
Labels: none

(fix): fix lint errors
  pkg/controllers/plugin/util.go
Labels: none

(chore): go fmt
  pkg/admission/cluster_webhook.go
  pkg/admission/cluster_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/clientutil/util.go
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
  pkg/test/assert.go
  pkg/test/util.go
Labels: core-apis

feat(service-proxy): Cap URL subdomain at 63 chars
  pkg/common/url.go
  pkg/common/url_test.go
Labels: none

update docs
  docs/user-guides/plugin/plugin-deployment.md
Labels: documentation

fix test
  pkg/controllers/plugin/remote_cluster_test.go
Labels: none

feat(plugin) Helm controller check difference beetween hooks (#459)
  pkg/helm/diff.go
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

fix(plugin) Test case with hooks (#459)
  pkg/test/fixtures/testHook/Chart.lock
  pkg/test/fixtures/testHook/Chart.yaml
  pkg/test/fixtures/testHook/templates/hook.yaml
  pkg/test/fixtures/testHook/templates/pod.yaml
  pkg/test/fixtures/testHook/values.yaml
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

fix(plugin) Extended test case (#459)
  pkg/helm/diff.go
  pkg/helm/diff_test.go
  pkg/helm/helm.go
  pkg/test/fixtures/testHook/Chart.yaml
  pkg/test/fixtures/testHook/templates/hook.yaml
  pkg/test/fixtures/testHook/templates/pod.yaml
  pkg/test/fixtures/testHook/values.yaml
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

fix(plugin) Change test to set a value by name (#459)
  test/e2e/plugin_lifecycle_test.go
Labels: none

feat(organizationwebhook): deny deletion of organization (#610)
  pkg/admission/organization_webhook.go
  pkg/admission/organization_webhook_test.go
Labels: none
