Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

fix releasename for nginx plugin in e2e test
  e2e/plugin/e2e_test.go
Labels: none

fix: simplify return in teamrolebinding webhook
  internal/webhook/v1alpha2/teamrolebinding_webhook.go
Labels: none

fix: remove registration of unnecessary webhooks in v1alpha2 webhook test suite
  internal/webhook/v1alpha2/webhook_suite_test.go
Labels: none

fix: update ClusterSelector summary comment
  api/v1alpha2/types.go
Labels: core-apis

feat: add comment explaining the need for v1beta1 in conversionReviewVersions
  hack/crd/patches/webhook_teamrolebindings.yaml
Labels: none

feat(clusterplugindefinitions): implements admission webhooks for ClusterPluginDefinition CR (#1188)
  Makefile
  api/v1alpha1/clusterplugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/crds/greenhouse.sap_clusterplugindefinitions.yaml
  charts/manager/crds/kustomization.yaml
  charts/manager/templates/webhook/webhooks.yaml
  cmd/greenhouse/webhooks.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  internal/webhook/plugindefinition_webhook.go
  internal/webhook/plugindefinition_webhook_test.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation, dependencies

bump chart version
  charts/dashboard/Chart.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat: extract common webhook utils
  internal/webhook/utils.go
  internal/webhook/v1alpha1/cluster_webhook.go
  internal/webhook/v1alpha1/organization_webhook.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugindefinition_webhook.go
  internal/webhook/v1alpha1/pluginpreset_webhook.go
  internal/webhook/v1alpha1/secret_webhook.go
  internal/webhook/v1alpha1/team_webhook.go
  internal/webhook/v1alpha1/teamrole_webhook.go
  internal/webhook/v1alpha1/teamrolebinding_webhook.go
  internal/webhook/v1alpha1/utils.go
  internal/webhook/v1alpha2/teamrolebinding_webhook.go
Labels: none

feat: change copyright information to 2025 for new files
  api/v1alpha1/teamrolebinding_conversion.go
  api/v1alpha2/doc.go
  api/v1alpha2/groupversion_info.go
  api/v1alpha2/teamrolebinding_conversion.go
  api/v1alpha2/teamrolebinding_types.go
  api/v1alpha2/types.go
  e2e/conversion/e2e_test.go
  e2e/conversion/testdata/organization.yaml
  hack/crd/patches/cainjection_teamrolebindings.yaml
  hack/crd/patches/webhook_teamrolebindings.yaml
  internal/controller/teamrbac/conversion_test.go
  internal/webhook/v1alpha2/teamrolebinding_webhook.go
  internal/webhook/v1alpha2/teamrolebinding_webhook_test.go
  internal/webhook/v1alpha2/webhook_suite_test.go
Labels: core-apis

feat: use test package methods in conversion e2e tests to create fixtures
  e2e/conversion/e2e_test.go
Labels: none

Automatic application of license header
  types/typescript/schema.d.ts
Labels: none

fix: fix the teamrolebinding tests
  internal/webhook/v1alpha1/teamrolebinding_webhook_test.go
  internal/webhook/v1alpha2/teamrolebinding_webhook_test.go
Labels: none

feat: remove TeamMembership api from the PROJECT configuration file
  PROJECT
Labels: none

feat: update team membership references in docs
  docs/user-guides/organization/creation.md
  docs/user-guides/team/create.md
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

move plugin to flux controller to flux pkg
  cmd/greenhouse/controllers.go
  internal/controller/flux/plugin_controller.go
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/flux/util.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/util.go
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: dependencies

lint Makefile
  Makefile
Labels: none

rm nolint
  internal/controller/plugin/util.go
Labels: none

feat(plugins): adds owning team to global option values (#1138)
  api/well_known.go
  docs/contribute/plugins.md
  internal/helm/helm_test.go
  internal/helm/suite_test.go
  internal/helm/values.go
Labels: core-apis, documentation

docs(logging): removing CRDs to make the diagram more streamlined
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

docs(logging): renames plugins and sorts them alphabetically
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

chore(readme): Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

(chore): adds ginkgo helper
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/test/util.go
Labels: none

(chore): adds structured auth setup
  dev-env/dev.config.yaml
  dev-env/greenhouse-remote-cluster.yaml
  dev-env/structured-auth.yaml
Labels: none

(chore): removes un-supported test case
  e2e/cluster/e2e_test.go
Labels: none

(chore): test new e2e setup
  .github/workflows/ci-e2e-test.yaml
Labels: none

(chore): adds yq requirement to localenv docs
  dev-env/README.md
Labels: none

Automatic application of license header
  dev-env/structured-auth.yaml
Labels: none

(test): run failing test
  e2e/cluster/e2e_test.go
Labels: none

(test): trigger e2e
  e2e/cluster/e2e_test.go
Labels: none

(chore): remove logs upload
  .github/workflows/ci-e2e-test.yaml
Labels: none

(chore): fix e2e tests
  e2e/cluster/e2e_test.go
  e2e/plugin/e2e_test.go
Labels: none

(chore): trigger e2e tests
  e2e/plugin/e2e_test.go
Labels: none

(chore): fix e2e checksOK job
  .github/workflows/ci-e2e-test.yaml
Labels: none

(fix): remove invalid char in e2e workflow
  .github/workflows/ci-e2e-test.yaml
Labels: none

(chore): ignore existing errors for plugin definitions creation in e2e
  e2e/plugin/e2e_test.go
Labels: none

fix(config): add greenhouse-backend to dev-env codeowners
  .github/CODEOWNERS
Labels: none

feat(e2e): remote cluster e2e with structured authentication configuration (#1195)
  .github/workflows/ci-e2e-test.yaml
  dev-env/README.md
  dev-env/dev.config.yaml
  dev-env/greenhouse-remote-cluster.yaml
  dev-env/structured-auth.yaml
  e2e/cluster/e2e_test.go
  e2e/plugin/e2e_test.go
Labels: none
