Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

add lock file
  ui/cluster-admin/package-lock.json
Labels: ui

add lock file
  ui/dashboard/package-lock.json
Labels: ui

add lock file
  ui/org-admin/package-lock.json
Labels: ui

added lock file
  ui/plugin-admin/package-lock.json
Labels: ui

added lock file
  ui/secret-admin/package-lock.json
Labels: ui

added lock file
  ui/team-admin/package-lock.json
Labels: ui

fix(team-admin): make app public, remove stars from peerDependencies, some typos and version upgrade (#284)
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

fix(dashboard): make app public, remove stars from peerDependencies and some typos (#278)
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
Labels: ui

fix(org-admin): make app public, remove stars from peerDependencies and some typos (#279)
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
Labels: ui

fix(plugin-admin): make app public, remove stars from peerDependencies and some typos (#281)
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

Some changes
  Makefile
  pkg/test/env.go
  test/e2e/README.md
Labels: none

fix(cluster-admin): make app public, remove stars from peerDependencies and some typos (#277)
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

Bump cluster-admin version
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

fix(secrets): make app public, remove unused peerDependencies (#282)
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
Labels: ui

split Reconcile, add NewK8sClientFromCluster
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/clientutil/client.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: core-apis

add clientutil.Delete, reduce EventReasons
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/clientutil/delete.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: core-apis

update generated CRD
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
Labels: helm-charts

empty cluster list does not set ready=false
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: none

Feat(e2e): test setup (#276)
  Makefile
  pkg/test/env.go
  test/e2e/README.md
  test/e2e/controllers.go
  test/e2e/onboard_self_test.go
  test/e2e/suite_test.go
  test/e2e/webhooks.go
Labels: none

Feat(manifests): Generate Typescript types from CRDs (#258)
  .github/licenserc.yaml
  Makefile
  hack/typescript/create-types
  hack/typescript/metadata.yaml
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/hooks/useWatch.ts
  ui/cluster-admin/src/lib/utils/resourceStatus.ts
  ui/cluster-admin/src/store.ts
  ui/cluster-admin/src/types/schema.d.ts
  ui/cluster-admin/src/types/types.ts
Labels: ui

feat(all mfes) add apache badge to the readmes
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
Labels: ui

use deleteClusterRole & fixes
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: none

Fix(uis): Update sass package to remove CWE-1050
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

Fix(uis): Update sass package to remove CWE-1050 (#295)
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

Set up workflow to check 3rd party licences. Added readme to test locally
  .github/workflows/3rd-party-licenses.yaml
  .gitignore
Labels: none

proposed improvements
  .github/workflows/3rd-party-licenses.yaml
Labels: none

feat(workflow) added a workflow to check all 3rd party licences from all MFEs (#294)
  .github/workflows/3rd-party-licenses.yaml
  .gitignore
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
Labels: ui

fix(Dockerfile) add apk upgrade to update packages
  Dockerfile.dev-env
  Dockerfile.tailscale
Labels: none

fix(Dockerfile) add apk upgrade to update packages (#296)
  Dockerfile.dev-env
  Dockerfile.tailscale
Labels: none

feat(teamrbac): support clusterSelector (#238)
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/conditions.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/clientutil/client.go
  pkg/clientutil/delete.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/resources.go
Labels: helm-charts, core-apis

feat(teamrbac): add printercolumns for TeamRole TeamRoleBinding
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: core-apis

feat(teamrbac): add printercolumns for TeamRole TeamRoleBinding (#297)
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: core-apis

fix(teamrbac): run generate manifests
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
Labels: helm-charts

[feature] sync issues labeled jira
  .github/workflows/sync-issues-to-jira.yaml
Labels: none

refactor: Introduce secretUtils
  ui/secret-admin/src/components/initSecret.ts
  ui/secret-admin/src/components/secretUtils.ts
Labels: ui

fix: No secrets watch if unauthorized
  ui/secret-admin/src/components/AsyncWorker.tsx
Labels: ui

refactor: use messages-provider instead of custom component
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/App.js
  ui/secret-admin/src/AppContent.tsx
  ui/secret-admin/src/components/SecretEdit.tsx
  ui/secret-admin/src/components/SecretFormBody.tsx
  ui/secret-admin/src/components/SecretFormButtons.tsx
  ui/secret-admin/src/components/SecretFormHeader.tsx
  ui/secret-admin/src/components/SecretList.tsx
  ui/secret-admin/src/components/SecretListItem.tsx
  ui/secret-admin/src/components/SubmitResultMessage.tsx
  ui/secret-admin/src/hooks/useIsAuthorized.ts
  ui/secret-admin/src/hooks/useSecretApi.ts
  ui/types/types.ts
Labels: ui

Automatic application of license header
  ui/secret-admin/src/components/SecretFormBody.tsx
  ui/secret-admin/src/components/SecretFormButtons.tsx
  ui/secret-admin/src/components/SecretFormHeader.tsx
Labels: ui

Update version
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
Labels: ui

fix(secrets-admin): No watch if unauthorized + some refactoring (#300)
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/App.js
  ui/secret-admin/src/AppContent.tsx
  ui/secret-admin/src/components/AsyncWorker.tsx
  ui/secret-admin/src/components/SecretEdit.tsx
  ui/secret-admin/src/components/SecretFormBody.tsx
  ui/secret-admin/src/components/SecretFormButtons.tsx
  ui/secret-admin/src/components/SecretFormHeader.tsx
  ui/secret-admin/src/components/SecretList.tsx
  ui/secret-admin/src/components/SecretListItem.tsx
  ui/secret-admin/src/components/SubmitResultMessage.tsx
  ui/secret-admin/src/components/initSecret.ts
  ui/secret-admin/src/components/secretUtils.ts
  ui/secret-admin/src/hooks/useIsAuthorized.ts
  ui/secret-admin/src/hooks/useSecretApi.ts
  ui/types/types.ts
Labels: ui
