Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

Update go.mod
  go.mod
Labels: dependencies

macos: debug with localhost
  charts/manager/templates/webhooks.yaml
  cmd/dev-env/main.go
  dev-env/docker-compose.yaml
  dev-env/onboard-cluster.sh
Labels: helm-charts

feat(alerts): added predefindedFilters to pluginConfig for alerts
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts

Update docs/user-guides/plugin/plugin-tests.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

Update docs/user-guides/plugin/plugin-tests.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

Update docs/user-guides/plugin/plugin-tests.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

Update docs/user-guides/plugin/plugin-tests.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

Update docs/user-guides/plugin/plugin-tests.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

Update docs/user-guides/plugin/plugin-tests.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

chore: update make command to serve docs 🛠️
  Makefile
Labels: none

fix(clusters): remove test flakiness
  pkg/controllers/cluster/bootstrap_controller_test.go
  pkg/controllers/cluster/direct_access_controller_test.go
  pkg/controllers/cluster/headscale_access_controller_test.go
  pkg/controllers/cluster/status_controller_test.go
  pkg/controllers/cluster/suite_test.go
  pkg/test/resources.go
  pkg/test/util.go
Labels: none

fix: remove toolchain from go.mod (#418)
  go.mod
Labels: dependencies

feat(docs): Improve docs on running greenhouse locally (#421)
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
  test/e2e/README.md
Labels: documentation

Add documentation for plugin testing (#401)
  .gitignore
  Makefile
  docs/README.md
  docs/contribute/local-dev.md
  docs/contribute/plugins.md
  docs/user-guides/plugin/catalog.md
  docs/user-guides/plugin/deploying.md
  docs/user-guides/plugin/local-plugin-development.md
  docs/user-guides/plugin/plugin-deployment.md
  docs/user-guides/plugin/plugin-management.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

fix(clusters): remove test flakiness (#425)
  pkg/controllers/cluster/bootstrap_controller_test.go
  pkg/controllers/cluster/direct_access_controller_test.go
  pkg/controllers/cluster/headscale_access_controller_test.go
  pkg/controllers/cluster/status_controller_test.go
  pkg/controllers/cluster/suite_test.go
  pkg/test/resources.go
  pkg/test/util.go
Labels: none

set workflowrunning status for plugin
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: none

fix setstatus nil pointer
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/util.go
Labels: none

make generate-manifest
  charts/manager/templates/manager-role.yaml
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: helm-charts

make check, fmt
  pkg/controllers/plugin/plugin_workload_status_controller_test.go
Labels: none

fix add message when workload is ready
  pkg/controllers/plugin/util.go
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(workflows) add workflow to generate crd api documentation for the website. Some refactoring (#368)
  .github/workflows/check-changes-crd-api.yaml
  .gitignore
  Makefile
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  hack/docs-generator/README.md
  hack/docs-generator/config.json
  hack/docs-generator/templates/members.tpl
  hack/docs-generator/templates/pkg.tpl
  hack/docs-generator/templates/type.tpl
  hack/openapi-generator/_generate-wrapper
  hack/openapi-generator/generate-openapi-spec-from-crds
  pkg/apis/greenhouse/doc.go
  pkg/apis/greenhouse/v1alpha1/doc.go
Labels: core-apis, documentation

fix(licenserc): ignore alert definitions
  .github/licenserc.yaml
Labels: none

chore(helmChartTest): Add HelmChartTestResultCondition to plugin types
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
Labels: core-apis

feat(test): E2E test for human lifecycle (#419)
  test/e2e/fixtures/fixtures.go
  test/e2e/fixtures/pluginDefinition.yaml
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
Labels: none

Automatic application of license header
  test/e2e/fixtures/fixtures.go
  test/e2e/fixtures/pluginDefinition.yaml
Labels: none

fix(licenserc): ignore alert definitions (#429)
  .github/licenserc.yaml
Labels: none

feat: intial alerts for controller, webhook & proxies
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/greenhouse-operator.alerts
  charts/manager/alerts/proxy-service.alerts
  charts/manager/templates/manager-prometheusrules.yaml
  charts/manager/values.yaml
Labels: helm-charts, dependencies

fix: humanize duration values
  charts/manager/alerts/greenhouse-operator.alerts
  charts/manager/alerts/proxy-service.alerts
Labels: helm-charts

feat: intial alerts for controller, webhook & proxies (#427)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/greenhouse-operator.alerts
  charts/manager/alerts/proxy-service.alerts
  charts/manager/templates/manager-prometheusrules.yaml
  charts/manager/values.yaml
Labels: helm-charts, dependencies

fix: distinct names for proxy and operator alerts
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/proxies.alerts
  charts/manager/templates/manager-prometheusrules.yaml
Labels: helm-charts

fix: distinct names for proxy and operator alerts (#431)
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/proxies.alerts
  charts/manager/templates/manager-prometheusrules.yaml
Labels: helm-charts

feat(alerts): increment helm version
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

feat(alerts): inc helmchart version
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

feat(alerts): fix typo
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

feat(alerts): added predefindedFilters to pluginConfig for alerts (#422)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts, dependencies

feat(teammembership): add watch for Teams and Organizations, add more tests
  pkg/controllers/teammembership/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
  pkg/controllers/teammembership/util.go
Labels: none

feat: Add pluginChartTest controller for reconciling Plugins
  cmd/greenhouse/controllers.go
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

fix(alerts): default value for predefinedFilters.
  charts/greenhouse/values.yaml
Labels: helm-charts

fix(alerts): inc version helm
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies
