Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

feat: add /test folder to codeowners (#338)
  .github/CODEOWNERS
Labels: none

feat: bump k/*, k-sigs/*, helm to v1.30.2 (#336)
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  go.mod
  go.sum
Labels: helm-charts, dependencies

refac(helm): match no CRD error instead of string
  pkg/helm/manifest.go
  pkg/helm/manifest_test.go
Labels: none

add flag dockerImagePlatform
  test/e2e/local-cluster/create_cluster.go
Labels: none

docker image build - extract error from response
  test/e2e/local-cluster/create_cluster.go
Labels: none

fix(service-proxy): git sha does not always correspond to new image
  pkg/controllers/organization/service_proxy_controller.go
Labels: none

feat(service-proxy): add servicemonitor to collect metrics
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/servicemonitor.yaml
Labels: helm-charts, dependencies

fix(docker-build): trigger build if go deps change
  .github/workflows/docker-build.yaml
Labels: none

feat(service-proxy): add servicemonitor to collect metrics (#349)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/servicemonitor.yaml
Labels: helm-charts, dependencies

fix(docker-build): trigger build if go deps change (#350)
  .github/workflows/docker-build.yaml
Labels: none

refac(helm): match no CRD error instead of string (#341)
  pkg/helm/manifest.go
  pkg/helm/manifest_test.go
Labels: none

fix(envtest) bump envtest k8s version
  Dockerfile.dev-env
Labels: none

feat(docs): Move dev-env to core repo
  .github/workflows/docker-build.yaml
  Dockerfile.dev-ui
  cmd/dev-env/main.go
  dev-env/.gitignore
  dev-env/README.md
  dev-env/bootstrap/clusters.yaml
  dev-env/bootstrap/nodes.yaml
  dev-env/bootstrap/plugins.yaml
  dev-env/bootstrap/teams.yaml
  dev-env/bootstrap/test-org.yaml
  dev-env/build/greenhouse-ui/secretProps.json
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
Labels: documentation

fix(envtest) bump envtest k8s version (#351)
  Dockerfile.dev-env
Labels: none

fix(ui): cluster-admin update tests
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/store.test.ts
Labels: ui

feat(service-proxy): enable servicemonitor across namespaces
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/servicemonitor.yaml
Labels: helm-charts, dependencies

fix(ui): cluster-admin update tests (#355)
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/store.test.ts
Labels: ui

feat(service-proxy): enable servicemonitor across namespaces (#354)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/servicemonitor.yaml
Labels: helm-charts, dependencies

PR remarks
  .github/CODEOWNERS
  dev-env/bootstrap/additional_resources/clusters.yaml
  dev-env/bootstrap/additional_resources/nodes.yaml
  dev-env/bootstrap/additional_resources/plugins.yaml
  dev-env/bootstrap/additional_resources/teams.yaml
  dev-env/bootstrap/clusters.yaml
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
  docs/user-guides/plugin/development.md
Labels: documentation

fix(website) links and asset links
  docs/architecture/monitoring-architecture.png
  docs/architecture/monitoring.md
  docs/architecture/simplified-architecture.png
  docs/getting-started/greenhouse.svg
  docs/getting-started/overview.md
  docs/getting-started/quick-start.md
  docs/getting-started/value-propositions.png
Labels: documentation

fix(charts/demo): change alertmanager endpoint
  charts/demo/Chart.yaml
  charts/demo/values.yaml
Labels: helm-charts, dependencies

fix high-level.md asset
  docs/architecture/high-level.md
Labels: documentation

cleanup website chart
  charts/website/.helmignore
  charts/website/Chart.yaml
  charts/website/ci/test-values.yaml
  charts/website/templates/_helpers.tpl
  charts/website/templates/deployment.yaml
  charts/website/templates/hpa.yaml
  charts/website/templates/ingress.yaml
  charts/website/templates/service.yaml
  charts/website/templates/serviceaccount.yaml
  charts/website/values.yaml
Labels: helm-charts, dependencies

fix(charts/alerts): unique plugin name; align slack config
  charts/demo/templates/alertmanager-pluginconfig.yaml
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts

cleanup website chart from helm push action
  .github/workflows/helm-push.yaml
Labels: none

chore(charts/greenhouse): bump chart
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

chore(charts/greenhouse): bump away
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

fix(charts/alerts): unique plugin name; align slack config (#323)
  charts/demo/Chart.yaml
  charts/demo/templates/alertmanager-pluginconfig.yaml
  charts/demo/values.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts, dependencies

fix(website) links and asset links (#358)
  .github/workflows/helm-push.yaml
  charts/website/.helmignore
  charts/website/Chart.yaml
  charts/website/ci/test-values.yaml
  charts/website/templates/_helpers.tpl
  charts/website/templates/deployment.yaml
  charts/website/templates/hpa.yaml
  charts/website/templates/ingress.yaml
  charts/website/templates/service.yaml
  charts/website/templates/serviceaccount.yaml
  charts/website/values.yaml
  docs/architecture/high-level.md
  docs/architecture/monitoring-architecture.png
  docs/architecture/monitoring.md
  docs/architecture/simplified-architecture.png
  docs/getting-started/greenhouse.svg
  docs/getting-started/overview.md
  docs/getting-started/quick-start.md
  docs/getting-started/value-propositions.png
Labels: helm-charts, documentation, dependencies

values files & idproxy deploy
  test/e2e/local-cluster/create_cluster.go
  test/e2e/local-cluster/idproxy.values.yaml
  test/e2e/local-cluster/manager.values.yaml
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: dependencies

linter
  test/e2e/local-cluster/create_cluster.go
Labels: none

feat(ui): Pin UI versions to latest releases
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
Labels: ui

feat(ui): Pin UI versions to latest releases (#361)
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
Labels: ui

PR remarks
  Dockerfile.dev-env
  dev-env/bootstrap/core/test-org.yaml
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
Labels: documentation

fix(teamrbac): Remove cluster existence check
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
Labels: none

removed orfan file
  _config.yaml
Labels: none

disable section for the landing page
  docs/architecture/_index.md
  docs/contribute/_index.md
  docs/contribute/plugins.md
  docs/getting-started/_index.md
  docs/reference/_index.md
  docs/reference/api/api-reference.md
  docs/reference/catalog/_index.md
  docs/user-guides/_index.md
  docs/user-guides/cluster/_index.md
  docs/user-guides/organization/_index.md
  docs/user-guides/plugin/_index.md
  docs/user-guides/team/_index.md
Labels: documentation

removed not required layout partials
  website/layouts/partials/footer.html
  website/layouts/partials/landing-page-section-footer-user-docu.html
  website/layouts/partials/landing-page.html
  website/layouts/partials/navbar.html
Labels: none

assets to the new hugo templater
  website/assets/icons/logo.svg
  website/assets/scss/_custom_styles_project.scss
  website/layouts/partials/footer-custom-area.html
  website/layouts/partials/navbar-custom-items.html
  website/static/assets/greenhouse_logo.svg
Labels: none
