Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

(chore): tidy up
  go.mod
  go.sum
Labels: dependencies

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

tidy up
  Makefile
  cmd/greenhouse/main.go
Labels: none

Update icon in website (#486)
  website/hugo.yaml
Labels: none

feat(teammembership): run lint and fix suggestions
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teammembership/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Update hugo.yaml
  website/hugo.yaml
Labels: none

Update hugo.yaml (#487)
  website/hugo.yaml
Labels: none

(chore): use method chains
  cmd/greenhouse/main.go
  dev-env/localenv/sample.config.json
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifest.go
  pkg/internal/local/commands/manifests.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/helm/helm.go
  pkg/internal/local/klient/docker.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/klient/klient.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/helm.go
  pkg/internal/local/setup/manifest.go
  pkg/internal/local/setup/manifests.go
  pkg/internal/local/setup/setup.go
  pkg/internal/local/setup/webhook.go
  pkg/internal/local/utils/exec.go
  pkg/internal/local/utils/expect.go
  pkg/internal/local/utils/utils.go
Labels: none

(chore): regenerate docs
  dev-env/localenv/README.md
  pkg/internal/local/commands/common.go
Labels: none

Automatic application of license header
  pkg/internal/local/setup/setup.go
Labels: none

(fix): fix linting errors
  pkg/internal/local/commands/setup.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/setup/manifest.go
  pkg/internal/local/setup/webhook.go
  pkg/internal/local/utils/utils.go
Labels: none

(chore): regenerate docs
  dev-env/localenv/README.md
  dev-env/localenv/docs.go
Labels: none

feat(cluster) Sending metrics in direct access controller and headscale access controller (#453)
  cmd/greenhouse/controllers.go
  pkg/controllers/cluster/direct_access_controller.go
  pkg/controllers/cluster/headscale_access_controller.go
  pkg/controllers/cluster/metrics.go
  pkg/controllers/cluster/metrics_controller_test.go
  pkg/controllers/cluster/metrics_test.go
Labels: none

(revert): revert greenhousectl worklflow
  .github/workflows/build-greenhousectl.yaml
Labels: none

feat(cluster) Changes after CodeReview (#453)
  pkg/controllers/cluster/direct_access_controller.go
  pkg/controllers/cluster/headscale_access_controller.go
  pkg/controllers/cluster/metrics.go
  pkg/controllers/cluster/metrics_test.go
Labels: none

Automatic application of license header
  pkg/controllers/cluster/metrics.go
  pkg/controllers/cluster/metrics_test.go
Labels: none

Feat/additional metrics for cluster (#479)
  charts/manager/alerts/operator.alerts
  go.mod
  pkg/controllers/cluster/direct_access_controller.go
  pkg/controllers/cluster/headscale_access_controller.go
  pkg/controllers/cluster/metrics.go
  pkg/controllers/cluster/metrics_test.go
Labels: helm-charts, dependencies

feat(plugin): add status for workload resources readiness (#398)
  charts/manager/templates/manager-role.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
  pkg/helm/manifest.go
Labels: helm-charts, core-apis, documentation

fix: reformat imports
  pkg/controllers/cluster/metrics.go
  pkg/controllers/cluster/metrics_test.go
Labels: none

feat(makefile): split fmt into fmt and lint
  .github/workflows/unit-tests.yml
  Makefile
Labels: none

fix: reformat imports (#493)
  pkg/controllers/cluster/metrics.go
  pkg/controllers/cluster/metrics_test.go
Labels: none

feat(makefile): split fmt into fmt and lint (#494)
  .github/workflows/unit-tests.yml
  Makefile
Labels: none

(chore): go fmt and tidy up!
  dev-env/localenv/docs.go
  go.mod
  go.sum
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/cmd/dev.go
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifest.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/helm/helm.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/klient/klient.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/manifest.go
  pkg/internal/local/setup/setup.go
  pkg/internal/local/setup/webhook.go
  pkg/internal/local/utils/exec.go
  pkg/internal/local/utils/expect.go
  pkg/internal/local/utils/utils.go
Labels: core-apis, dependencies

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(organizationscim): set scim credentials to be taken from organization secret
  charts/manager/crds/greenhouse.sap_organizations.yaml
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(greenhouse): new crd for storing cluster kubeconfig data (#464)
  PROJECT
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/clusterkubeconfig_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: helm-charts, core-apis, documentation

enable multiarch
  .github/workflows/docker-build.yaml
Labels: none

update runner
  .github/workflows/docker-build.yaml
Labels: none

run on ubuntu-latest
  .github/workflows/docker-build.yaml
Labels: none

(chore): remove unused method
  pkg/internal/local/klient/klient.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): re-run manifest generation
  charts/manager/templates/manager-role.yaml
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  ui/types/schema.d.ts
Labels: helm-charts, core-apis, documentation, ui

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): refactor helm install
  pkg/internal/local/helm/helm.go
  pkg/internal/local/setup/manifest.go
  pkg/internal/local/utils/utils.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(teammembership): add StatusConditions
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  pkg/apis/greenhouse/v1alpha1/teammembership_types.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

Update dev-env/localenv/README.md
  dev-env/localenv/README.md
Labels: none

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
