Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

feat(test) E2E CodeReview fixes (#419)
  test/e2e/fixtures/pluginDefinition.yaml
  test/e2e/plugin_lifecycle_test.go
Labels: none

feat(test) Change ptr func to PointTo (#419)
  test/e2e/plugin_lifecycle_test.go
Labels: none

fix(plugindefinition) Add spec.Version as required field (#442)
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/admission/team_webhook_test.go
  pkg/helm/suite_test.go
Labels: none

fix(plugindefinition) Add spec.Version as required field (#442) (#456)
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/admission/team_webhook_test.go
  pkg/helm/suite_test.go
Labels: none

feat(test) Add DexController to e2e test (#419)
  test/e2e/controllers.go
  test/e2e/suite_test.go
Labels: none

Automatic application of license header
  test/e2e/fixtures/fixtures.go
Labels: none

feat(dev-env): add DEX crds to installed CRDs
  pkg/test/env.go
Labels: none

refac(teamrbac): use test.TestSetup for webhook tests
  pkg/admission/plugin_webhook_test.go
  pkg/admission/teamrole_webhook_test.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/admission/webhook_suite_test.go
Labels: none

feat(dev-env): add DEX crds to installed CRDs (#457)
  pkg/test/env.go
Labels: none

feat(greenhouse): plutono plugin and dashboards added
  charts/greenhouse/Chart.yaml
  charts/greenhouse/dashboards/controller-resources.json
  charts/greenhouse/dashboards/controller-runtime.json
  charts/greenhouse/dashboards/proxy-services.json
  charts/greenhouse/templates/configmap-plutono-dashboards.yaml
  charts/greenhouse/templates/plugin-plutono.yaml
Labels: helm-charts, dependencies

fix(charts/greenhouse): ci values added
  charts/greenhouse/ci/test-values.yaml
Labels: helm-charts

fix: typo in CRD API bot commit message
  .github/workflows/check-changes-crd-api.yaml
Labels: none

fix: typo in CRD API bot commit message (#462)
  .github/workflows/check-changes-crd-api.yaml
Labels: none

refac(teamrbac): use test.TestSetup for webhook tests (#458)
  pkg/admission/plugin_webhook_test.go
  pkg/admission/teamrole_webhook_test.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/admission/webhook_suite_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

disable alerts for manager chart
  test/e2e/local-cluster/manager.values.yaml
Labels: none

fix(codeowners): add .golangci.yaml
  .github/CODEOWNERS
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(helm) add ObjectMapFromManifestWithMultipleFilters to manifest
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/helm/manifest.go
Labels: none

fix do not overwrite status every time
  pkg/controllers/plugin/util.go
Labels: none

crd for storing cluster kubeconfig data
  PROJECT
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  docs/reference/api/index.html
  pkg/apis/greenhouse/v1alpha1/clusterkubeconfig_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: helm-charts, core-apis, documentation

feat(teammembership): rework controller logic around teams, get scim config from organization
  charts/manager/crds/greenhouse.sap_organizations.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/controllers/teammembership/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
  pkg/controllers/teammembership/util.go
  pkg/test/resources.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

feat(webhook): Log all admission requests of CRDs
  charts/manager/templates/webhooks.yaml
  pkg/admission/cluster_webhook.go
  pkg/admission/organization_webhook.go
  pkg/admission/plugin_webhook.go
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/secret_webhook.go
  pkg/admission/team_webhook.go
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/utils.go
Labels: helm-charts

Undo explicit var naming
  pkg/admission/organization_webhook.go
Labels: none

fix: remove accidental colon from scim mock
  pkg/scim/scim_client_mocks.go
Labels: none

feat(e2e): add plugin lifecycle test (#430)
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
Labels: none

disable alerts for manager chart (#463)
  test/e2e/local-cluster/manager.values.yaml
Labels: none

(chore): adds make setup dev
  Makefile
Labels: none

(fix): typo in docs
  docs/user-guides/cluster/onboarding.md
Labels: documentation

fix: remove accidental colon from scim mock (#466)
  pkg/scim/scim_client_mocks.go
Labels: none

expose prometheus metrics for workload
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix linter findings
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
  test/e2e/suite_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix linter findings two
  test/e2e/plugin_lifecycle_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(fix): typo in docs (#470)
  docs/user-guides/cluster/onboarding.md
Labels: documentation

fix: resolve linter warnings
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
Labels: core-apis
