Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

fix(alerts): default value for predefinedFilters. (#432)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

chore(helmChartTest): Update HelmChartTestController and HelmController
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
Labels: none

Update pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
Labels: core-apis

Update pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

Update pkg/controllers/plugin/util.go
  pkg/controllers/plugin/util.go
Labels: none

fix(workloadstatus) typo
  pkg/controllers/plugin/util.go
Labels: none

feat(HelmChartTest): Add Helm Chart Test controller
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/helm/helm.go
Labels: none

feat(HelmChartTest): controller adjustments
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/helm/helm.go
Labels: none

fix(helmController): expose error on helm reconcile failure"
  pkg/controllers/plugin/helm_controller.go
Labels: none

fix(pluginpreset): remove watch on labelled plugins
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: none

fix(helmcontroller): remove watch on old label
  pkg/controllers/plugin/helm_controller.go
Labels: none

fix(helmcontroller): only queue plugins for cluster in same namespace
  pkg/apis/well_known.go
  pkg/controllers/plugin/helm_controller.go
Labels: core-apis

Update envtest to v1.30.3
  Dockerfile.dev-env
Labels: none

refactor initClientGetter into a package private method
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: none

fix(helmController): expose error on helm reconcile failure" (#435)
  pkg/controllers/plugin/helm_controller.go
Labels: none

feat(HelmChartTest): improve test hook handling #106
  pkg/helm/helm.go
Labels: none

bump ENVTEST_K8S_VERSION
  Makefile
Labels: none

Update envtest to v1.30.3 (#436)
  Dockerfile.dev-env
  Makefile
Labels: none

fix(pluginpreset): only watch for plugin spec changes
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: none

fix(workloadstatus) report high level objects only
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: none

fix(plugin): reduce watches on Plugin & PluginPreset (#434)
  pkg/apis/well_known.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: core-apis

feat(HelmChartTest): improve test hook handling
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/helm/helm.go
Labels: none

feat(teammembership): add logging about number of members, add tests about logging, fix test
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

feat(teammembership): remove teammembership helm chart and cronjob
  charts/team-membership/.gitignore
  charts/team-membership/Chart.yaml
  charts/team-membership/templates/configmap.yaml
  charts/team-membership/templates/cronjob.yaml
  charts/team-membership/templates/rbac.yaml
  charts/team-membership/templates/secret.yaml
  charts/team-membership/templates/serviceaccount.yaml
  charts/team-membership/values.yaml
  cmd/team-membership/k8s_client.go
  cmd/team-membership/main.go
  cmd/team-membership/team_membership_updater.go
  cmd/team-membership/team_membership_updater_test.go
Labels: helm-charts, dependencies

feat(HelmChartTest): set Helm Chart Test result condition in reconcile function #106
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

feat(teammembership): remove unused const
  cmd/greenhouse/main.go
Labels: none

feat(teammembership): fix failing test
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(teammembership): remove team-membership cronjob from makefile and greenhouse chart
  Makefile
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  hack/install
Labels: helm-charts, dependencies

feat(test): Codereview part 1 (#419)
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
Labels: none

feat(test): E2E test for human lifecycle (#419)
  test/e2e/fixtures/fixtures.go
  test/e2e/fixtures/pluginDefinition.yaml
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
Labels: none

feat: add idproxy duration_seconds, unify metric names
  cmd/cors-proxy/instrumentation.go
  cmd/service-proxy/instrumentation.go
Labels: none

feat(teammembership): update helm dependencies
  charts/greenhouse/Chart.lock
Labels: helm-charts

feat(teammembership): update helm dependencies 2
  charts/greenhouse/Chart.lock
Labels: helm-charts

feat(teammembership): increment greenhouse chart version
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

feat: add idproxy duration_seconds, unify metric names (#438)
  cmd/cors-proxy/instrumentation.go
  cmd/service-proxy/instrumentation.go
Labels: none

feat(test) CodeReview fixes part 2 (#419)
  test/e2e/controllers.go
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

feat(HelmChartTest): adjust Helm Chart Test result condition and test hook handling
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/helm/helm.go
Labels: none

feat(HelmChartTest): remove unnecessary requeue delay in reconcile function when success
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
