Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

docs(logging): updates logging arch diagram
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

docs(logging): updates monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): fixes review comments
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
  docs/architecture/monitoring.md
Labels: documentation

Apply suggestions from code review
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): update monitoring.md (re adds opensearch)
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): changes capitalisation for the diagram
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(monitoring): updates docs for monitoring
  docs/architecture/monitoring.md
Labels: documentation

cleanup
  docs/getting-started/operations/ownership.md
  docs/getting-started/operations/processes.md
Labels: documentation

fix link
  docs/getting-started/operations/processes.md
Labels: documentation

further changes
  docs/getting-started/operations/processes.md
Labels: documentation

fix mermaid
  docs/getting-started/core-concepts/teams.md
Labels: documentation

fix mermaid
  docs/getting-started/core-concepts/teams.md
Labels: documentation

Fix search&replace
  docs/getting-started/core-concepts/teams.md
Labels: documentation

Some fixes
  docs/getting-started/operations/ownership.md
  docs/getting-started/operations/processes.md
Labels: documentation

use correct label
  docs/getting-started/operations/ownership.md
Labels: documentation

missed one
  docs/getting-started/operations/ownership.md
Labels: documentation

feat: change the owned-by label validation to a warning and don't require the team to be support-group
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/test/setup.go
  internal/webhook/utils.go
  internal/webhook/v1alpha1/cluster_webhook.go
  internal/webhook/v1alpha1/cluster_webhook_test.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/pluginpreset_webhook.go
  internal/webhook/v1alpha1/pluginpreset_webhook_test.go
  internal/webhook/v1alpha1/secret_webhook.go
Labels: none

fix(logs): fix naming for operator
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-logs.yaml
Labels: helm-charts, dependencies

fix(logs): fix naming for operator (#1228)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-logs.yaml
Labels: helm-charts, dependencies

feat(docs): add bmwk eu funding logo
  website/assets/icons/BMWE-EU.png
  website/layouts/partials/footer-custom-area.html
  website/layouts/partials/landing-page-footer-custom-area.html
Labels: none

little fix
  docs/getting-started/operations/processes.md
Labels: documentation

refactor(ci): upload helm charts only on tagged commits (#1221)
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-push.yaml
  RELEASE.md
Labels: none

create Helmrealase via HelmReleaseBuilder
  internal/controller/flux/builder.go
  internal/controller/flux/builder_test.go
  internal/controller/flux/plugin_controller.go
Labels: none

feat(docs): add bmwk eu funding logo (#1230)
  website/assets/icons/BMWE-EU.png
  website/layouts/partials/footer-custom-area.html
  website/layouts/partials/landing-page-footer-custom-area.html
Labels: none

refactor(charts): remove plugins & organization from greenhouse chart
  charts/greenhouse/templates/cluster-admin-rbac.yaml
  charts/greenhouse/templates/configmap-perses-dashboards.yaml
  charts/greenhouse/templates/configmap-plutono-dashboards.yaml
  charts/greenhouse/templates/container-image-retainer.yaml
  charts/greenhouse/templates/organization-secrets.yaml
  charts/greenhouse/templates/organization.yaml
  charts/greenhouse/templates/plugin-alerts.yaml
  charts/greenhouse/templates/plugin-cert-manager.yaml
  charts/greenhouse/templates/plugin-digicert-issuer.yaml
  charts/greenhouse/templates/plugin-disco.yaml
  charts/greenhouse/templates/plugin-ingress-nginx.yaml
  charts/greenhouse/templates/plugin-kube-monitoring.yaml
  charts/greenhouse/templates/plugin-logs.yaml
  charts/greenhouse/templates/plugin-logshipping.yaml
  charts/greenhouse/templates/plugin-perses.yaml
  charts/greenhouse/templates/plugin-plutono.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
  charts/greenhouse/templates/teams.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

remove deprecated test values
  charts/greenhouse/ci/test-values.yaml
Labels: helm-charts

first draft
  dev-env/README.md
  docs/contribute/local-dev.md
Labels: documentation

remove unused resources
  charts/greenhouse/etc/retain.sh
  charts/greenhouse/templates/_helpers.tpl
Labels: helm-charts

chaneg to upstream LabelSelectorPredicate, fix typo, naming, PR review
  internal/clientutil/predicates.go
  internal/controller/flux/builder.go
  internal/controller/flux/plugin_controller.go
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/flux/util.go
  internal/controller/plugin/plugin_controller.go
Labels: none

feat: skip helm release secrets when validating owned-by label, add support-group as required for the owner team, adapt tests
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/helm/diff_test.go
  internal/helm/helm_test.go
  internal/helm/suite_test.go
  internal/test/setup.go
  internal/webhook/utils.go
  internal/webhook/v1alpha1/cluster_webhook_test.go
  internal/webhook/v1alpha1/secret_webhook.go
Labels: none

feat: change the warning messages to include support-group
  internal/webhook/v1alpha1/cluster_webhook.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/pluginpreset_webhook.go
  internal/webhook/v1alpha1/secret_webhook.go
Labels: none

fix: add missing context.Context to dex API calls
  internal/controller/organization/dex.go
  internal/controller/organization/service_proxy.go
Labels: none

chore(deps): bump dex to 2.43.1
  go.mod
  go.sum
Labels: dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
