Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic application of license header
  pkg/clientutil/finalizer_test.go
  pkg/controllers/fixtures/dummy_gvk_info.go
  pkg/lifecycle/reconcile_test.go
Labels: none

(chore): remove gvk for dummy due to regression
  pkg/clientutil/finalizer_test.go
  pkg/controllers/fixtures/dummy_gvk_info.go
  pkg/controllers/fixtures/dummy_types.go
Labels: none

(chore): fix lint issues
  pkg/clientutil/finalizer_test.go
  pkg/lifecycle/reconcile.go
  pkg/lifecycle/reconcile_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): fix lint issues
  pkg/clientutil/finalizer_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): go fmt
  pkg/controllers/plugin/util.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix: remove org admin idp profile from chart
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

fix: remove org admin idp profile from chart (#633)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
