Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

Remove surplus auth app
  ui/dashboard/public/index.html
Labels: ui

Add Secret as type and to store
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugindefinitions/store.ts
  ui/types/package-lock.json
  ui/types/package.json
  ui/types/types.ts
Labels: ui

Refactor: generalize api access
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useSecretApi.ts
Labels: ui

feat(dev-env): Accept all hosts (#168)
  Dockerfile.dev-env
  ui/cluster-admin/README.md
  ui/cluster-admin/docker-compose.yaml
  ui/cluster-admin/network-host.docker-compose.yaml
  ui/cluster-admin/secretProps.dev.json
Labels: ui

feat(ui): Use new frontend app name
  charts/ui/templates/index-html-cm.yaml
Labels: helm-charts, ui

feat(ui): Use new frontend app name (#194)
  charts/ui/templates/index-html-cm.yaml
Labels: helm-charts, ui

Add secret create/update
  ui/plugin-admin/bootstrap/plugindefinitions.yaml
  ui/plugin-admin/src/plugin-edit/OptionInput.tsx
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/lib/utils/handleFormChange.ts
  ui/plugin-admin/src/plugin-edit/lib/utils/initPlugin.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginApi.ts
  ui/plugin-admin/src/plugindefinitions/store.ts
  ui/types/types.ts
Labels: ui

fix(helm): drift detection not run immediately after last deploy
  pkg/helm/helm.go
Labels: none

fix(helm): drift detection not run immediately after last deploy (#196)
  pkg/helm/helm.go
Labels: none

fix(helm): default namespace for diff/drift detection
  pkg/helm/manifest.go
Labels: none

fix(helm): diff with the plugins release namespace
  pkg/helm/helm.go
Labels: none

fix(helm): diff with the plugins release namespace (#198)
  pkg/helm/helm.go
Labels: none

fix(helm): ensure releaseNamespace is set on clientGetter
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
Labels: none

fix(helm): ensure releaseNamespace is set on clientGetter (#199)
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
Labels: none

feat(plugin): move greenhouse values to helm global scope
  pkg/helm/helm_test.go
  pkg/helm/values.go
Labels: none

infer type in secret api
  ui/plugin-admin/src/plugindefinitions/hooks/useSecretApi.ts
Labels: ui

infer type in PluginApi
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginApi.ts
Labels: ui

feat(rbac): permit org admins to debug alertmangers
  pkg/rbac/role.go
Labels: none

feat(rbac): permit org admins to debug alertmangers (#201)
  pkg/rbac/role.go
Labels: none

WIP: Add Secret CRUD
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/plugin-edit/OptionInput.tsx
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/SecretKeySelect.tsx
  ui/plugin-admin/src/plugin-edit/SubmitResultMessage.tsx
  ui/plugin-admin/src/plugin-edit/lib/utils/handleFormChange.ts
  ui/plugin-admin/src/plugindefinitions/components/AsyncWorker.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginList.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useWatch.ts
  ui/plugin-admin/src/plugindefinitions/store.ts
  ui/plugin-admin/src/plugins/components/AsyncWorker.js
  ui/plugin-admin/src/secrets/SecretEdit.tsx
  ui/plugin-admin/src/secrets/SecretList.tsx
  ui/plugin-admin/src/secrets/SecretListItem.tsx
  ui/plugin-admin/src/secrets/handleSecretFormChange.ts
  ui/plugin-admin/src/secrets/initSecret.ts
  ui/types/types.ts
Labels: ui

feat(preset): enqueue Preset if Plugin is labelled with Preset LabelKey
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: none

fix(helm): diff returns early if release not found
  pkg/helm/helm.go
Labels: none

fix(plugin): admission validate immutable releaseNamespace
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
Labels: none

[plugin-admin] added plugindefinition to a panel, changed empty plugin message.
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionPanel.tsx
  ui/plugin-admin/src/plugins/components/PluginList.js
  ui/plugin-admin/src/plugins/components/StoreProvider.js
  ui/plugin-admin/src/plugins/lib/store/createGlobalsSlice.js
Labels: ui

Minor fixes
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionDetail.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useWatch.ts
  ui/plugin-admin/src/secrets/SecretEdit.tsx
  ui/plugin-admin/src/secrets/initSecret.ts
Labels: ui

Add PluginPreset switch
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/types/types.ts
Labels: ui

fix(plugin): admission validate immutable releaseNamespace (#204)
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
Labels: none

fix(helm): diff returns early if release not found (#205)
  pkg/helm/helm.go
Labels: none

Refactor: Use KeyValueInput
  ui/plugin-admin/src/secrets/KeyValueInput.tsx
  ui/plugin-admin/src/secrets/SecretEdit.tsx
Labels: ui

chore(envtest): bump used k8s version
  Makefile
Labels: none

[plugin admin] new ui, refactor plugin
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionDetail.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionGrid.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionPanel.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionTile.tsx
  ui/plugin-admin/src/plugins/components/Plugin.js
  ui/plugin-admin/src/plugins/components/PluginConditionIcon.js
  ui/plugin-admin/src/plugins/components/PluginDetail.js
  ui/plugin-admin/src/plugins/components/PluginList.js
  ui/plugin-admin/src/plugins/components/buildExternalServicesUrls.js
  ui/plugin-admin/src/plugins/hooks/useAPI.js
  ui/plugin-admin/src/plugins/lib/store/createPluginSlice.js
Labels: ui

chore(envtest): bump used k8s version (#206)
  Makefile
Labels: none

fix(envtest): bump used k8s version
  Dockerfile.dev-env
Labels: none

fix envtest k8s version
  Dockerfile.dev-env
Labels: none

Update Makefile
  Makefile
Labels: none

fix(envtest): bump used k8s version (#207)
  Dockerfile.dev-env
  Makefile
Labels: none

Add creation of PluginPresets
  ui/cluster-admin/src/types/schema.d.ts
  ui/plugin-admin/network-host.docker-compose.yaml
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/handleFormChange.ts
  ui/plugin-admin/src/plugin-edit/initPlugin.ts
  ui/plugin-admin/src/plugin-edit/initPluginPreset.ts
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionDetail.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginPresetApi.ts
  ui/plugin-admin/src/secrets/KeyValueInput.tsx
  ui/plugin-admin/src/secrets/SecretEdit.tsx
  ui/plugin-admin/src/secrets/handleSecretFormChange.ts
  ui/types/schema.d.ts
  ui/types/types.ts
Labels: ui

Update PluginPreset Deletion
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/handleFormChange.ts
Labels: ui

feat(preset): enqueue Preset if Plugin is labelled with Preset LabelKey (#202)
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: none

feat(plugin): move greenhouse values to helm global scope (#200)
  pkg/helm/helm_test.go
  pkg/helm/values.go
Labels: none
