Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

chore(deps): bump dex to 2.43.1 (#1233)
  go.mod
  go.sum
  internal/controller/organization/dex.go
  internal/controller/organization/service_proxy.go
Labels: dependencies

feat: add OwnerLabelSetCondition and common computation for controllers
  api/meta/v1alpha1/conditions_constants.go
  internal/controller/cluster/cluster_status.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/util/conditions.go
  internal/webhook/utils.go
Labels: core-apis

lookup on all namespaces
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts

Update docs/getting-started/core-concepts/teams.md
  docs/getting-started/core-concepts/teams.md
Labels: documentation

Update docs/getting-started/core-concepts/teams.md
  docs/getting-started/core-concepts/teams.md
Labels: documentation

Update docs/getting-started/operations/ownership.md
  docs/getting-started/operations/ownership.md
Labels: documentation

Update docs/getting-started/operations/ownership.md
  docs/getting-started/operations/ownership.md
Labels: documentation

Update docs/getting-started/operations/ownership.md
  docs/getting-started/operations/ownership.md
Labels: documentation

Update docs/getting-started/operations/ownership.md
  docs/getting-started/operations/ownership.md
Labels: documentation

Update docs/getting-started/core-concepts/teams.md
  docs/getting-started/core-concepts/teams.md
Labels: documentation

docs(diagram): adds another diagram with a more detailed view into the observability setup
  docs/architecture/monitoring-architecture-detailed.png
Labels: documentation

Update docs/getting-started/operations/processes.md
  docs/getting-started/operations/processes.md
Labels: documentation

Update docs/getting-started/operations/ownership.md
  docs/getting-started/operations/ownership.md
Labels: documentation

Update docs/getting-started/operations/processes.md
  docs/getting-started/operations/processes.md
Labels: documentation

Update docs/getting-started/operations/ownership.md
  docs/getting-started/operations/ownership.md
Labels: documentation

Update docs/getting-started/operations/ownership.md
  docs/getting-started/operations/ownership.md
Labels: documentation

PR remarks
  docs/getting-started/core-concepts/teams.md
  docs/getting-started/operations/ownership.md
  docs/getting-started/operations/processes.md
Labels: documentation

refactor(charts): remove plugins & organization from greenhouse chart (#1220)
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/etc/retain.sh
  charts/greenhouse/templates/_helpers.tpl
  charts/greenhouse/templates/cluster-admin-rbac.yaml
  charts/greenhouse/templates/configmap-perses-dashboards.yaml
  charts/greenhouse/templates/configmap-plutono-dashboards.yaml
  charts/greenhouse/templates/container-image-retainer.yaml
  charts/greenhouse/templates/organization-secrets.yaml
  charts/greenhouse/templates/organization.yaml
  charts/greenhouse/templates/plugin-alerts.yaml
  charts/greenhouse/templates/plugin-cert-manager.yaml
  charts/greenhouse/templates/plugin-digicert-issuer.yaml
  charts/greenhouse/templates/plugin-disco.yaml
  charts/greenhouse/templates/plugin-ingress-nginx.yaml
  charts/greenhouse/templates/plugin-kube-monitoring.yaml
  charts/greenhouse/templates/plugin-logs.yaml
  charts/greenhouse/templates/plugin-logshipping.yaml
  charts/greenhouse/templates/plugin-perses.yaml
  charts/greenhouse/templates/plugin-plutono.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
  charts/greenhouse/templates/teams.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

Update docs/contribute/local-dev.md
  docs/contribute/local-dev.md
Labels: documentation

fix(charts): enable metric dashboards by default
  charts/greenhouse/Chart.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

fix(charts): enable metric dashboards by default (#1234)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

feat: add owned-by label validation and condition to team role bindings
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/test/resources.go
  internal/webhook/v1alpha2/teamrolebinding_webhook.go
  internal/webhook/v1alpha2/teamrolebinding_webhook_test.go
Labels: none

refactor(docs): update copyright footer
  website/layouts/partials/footer-custom-area.html
  website/layouts/partials/landing-page-footer-custom-area.html
Labels: none

feat: add tests for computing OwnerLabelSet condition, refactor test utils; fix plugin options test
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/suite_test.go
  internal/test/resources.go
  internal/test/setup.go
  internal/util/conditions_test.go
  internal/util/suite_test.go
  internal/webhook/v1alpha2/teamrolebinding_webhook_test.go
Labels: none

refactor(docs): update copyright footer (#1236)
  website/layouts/partials/footer-custom-area.html
  website/layouts/partials/landing-page-footer-custom-area.html
Labels: none

add kube-monitoring and thanos
  internal/webhook/v1alpha1/plugin_webhook.go
Labels: none

feat: change the owner label validation to only for greenhouse secret types
  internal/webhook/v1alpha1/secret_webhook.go
Labels: none

feat: add a comment to bootstrap controller, change the message in secret webhook
  internal/controller/cluster/bootstrap_controller.go
  internal/webhook/v1alpha1/secret_webhook.go
Labels: none

feat: add tests for webhook ValidateLabelOwnedBy util function
  internal/util/conditions_test.go
  internal/webhook/suite_test.go
  internal/webhook/utils_test.go
Labels: none

Update docs/getting-started/core-concepts/teams.md
  docs/getting-started/core-concepts/teams.md
Labels: documentation

Update docs/getting-started/operations/processes.md
  docs/getting-started/operations/processes.md
Labels: documentation

Update docs/getting-started/operations/processes.md
  docs/getting-started/operations/processes.md
Labels: documentation

Update charts/manager/alerts/organization.alerts
  charts/manager/alerts/organization.alerts
Labels: helm-charts

use namespace label across metrics
  charts/manager/alerts/plugin.alerts
  charts/manager/alerts/team.alerts
  internal/controller/cluster/metrics.go
  internal/controller/plugin/plugin_workload_status.go
  internal/controller/teamrbac/metrics.go
  internal/metrics/plugin_metrics.go
  internal/metrics/plugin_metrics_test.go
Labels: helm-charts

No duplicate time evaluation in alerts
  charts/manager/alerts/cluster.alerts
  charts/manager/alerts/organization.alerts
  charts/manager/alerts/plugin.alerts
  charts/manager/alerts/team.alerts
Labels: helm-charts

Add org and support group for proxy alerts
  charts/manager/alerts/proxies.alerts
Labels: helm-charts

bump chart version
  charts/cors-proxy/values.yaml
  charts/greenhouse/Chart.yaml
  charts/idproxy/values.yaml
  charts/manager/values.yaml
Labels: helm-charts, idproxy, dependencies

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

feat(docs): updates docs for Logging to be more in-line with the Apeiro branding
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation
