Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

fix(makefile) rm tty (#128)
  Makefile
Labels: none

Move introduced fields to PluginDefinition
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
Labels: helm-charts, core-apis, documentation

displayName is not required
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
Labels: helm-charts, core-apis, documentation

Refactor: use PluginDefinition CRD
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
  ui/plugindefinition-admin/bootstrap/plugin.yaml
  ui/plugindefinition-admin/bootstrap/pluginconfig.yaml
  ui/plugindefinition-admin/bootstrap/plugindefinitions.yaml
  ui/plugindefinition-admin/src/App.js
  ui/plugindefinition-admin/src/AppContent.tsx
  ui/plugindefinition-admin/src/components/AsyncWorker.tsx
  ui/plugindefinition-admin/src/components/PluginDefinitionDetail.tsx
  ui/plugindefinition-admin/src/components/PluginDefinitionTile.tsx
  ui/plugindefinition-admin/src/components/PluginDetail.tsx
  ui/plugindefinition-admin/src/components/PluginGrid.tsx
  ui/plugindefinition-admin/src/components/PluginList.tsx
  ui/plugindefinition-admin/src/components/PluginTile.tsx
  ui/plugindefinition-admin/src/components/plugin-edit/PluginEdit.tsx
  ui/plugindefinition-admin/src/hooks/useUrlState.ts
  ui/plugindefinition-admin/src/hooks/useWatch.ts
  ui/plugindefinition-admin/src/store.ts
  ui/plugindefinition-admin/src/types/schema.d.ts
  ui/plugindefinition-admin/src/types/types.ts
Labels: helm-charts, core-apis, documentation, ui

Update charts/greenhouse/values.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

Extend alerts plugin template by adding new attribute silenceTemplates. (#118)
  charts/greenhouse/templates/pluginconfig-alerts.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

configurable namespace for a pluginconfig release
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/templates/manager-role.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/plugin_webhook.go
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/helm/helm.go
Labels: helm-charts, core-apis, documentation

[cluster-admin] changed showClusterDetails to boolean
  ui/cluster-admin/src/AppContent.tsx
  ui/cluster-admin/src/components/ClusterListItem.tsx
  ui/cluster-admin/src/store.ts
Labels: ui

[cluster-admin] fixed wrong value
  ui/cluster-admin/src/components/ClusterDetail.tsx
Labels: ui

[cluster-admin] fix reopen closed active item
  ui/cluster-admin/src/components/ClusterListItem.tsx
Labels: ui

feat(gh-actions) add stale gh-actions
  .github/workflows/stale.yaml
Labels: none

fix(teamrbac): fix deletion logic, fix labeling (#92)
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/well_known.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
Labels: core-apis

fix(stale) messages
  .github/workflows/stale.yaml
Labels: none

feat(gh-actions) add stale gh-actions (#131)
  .github/workflows/stale.yaml
Labels: none

Add docker-compose setup
  ui/plugin-admin/bootstrap/cluster-3.yaml
  ui/plugin-admin/bootstrap/cluster-secrets.yaml
  ui/plugin-admin/bootstrap/nodes.yaml
  ui/plugin-admin/bootstrap/plugin.yaml
  ui/plugin-admin/bootstrap/plugindefinitions.yaml
  ui/plugin-admin/bootstrap/test-org.yaml
  ui/plugin-admin/docker-compose.yaml
  ui/plugin-admin/network-host.docker-compose.yaml
Labels: ui

Refactor: Move plugin related files to respective subfolder
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.js
  ui/plugin-admin/src/plugins/components/AsyncWorker.js
  ui/plugin-admin/src/plugins/components/Auth.js
  ui/plugin-admin/src/plugins/components/Plugin.js
  ui/plugin-admin/src/plugins/components/PluginConditionIcon.js
  ui/plugin-admin/src/plugins/components/PluginDetail.js
  ui/plugin-admin/src/plugins/components/PluginList.js
  ui/plugin-admin/src/plugins/components/StoreProvider.js
  ui/plugin-admin/src/plugins/hooks/.gitkeep
  ui/plugin-admin/src/plugins/hooks/useAPI.js
  ui/plugin-admin/src/plugins/hooks/useAPI.test.js
  ui/plugin-admin/src/plugins/hooks/useClient.js
  ui/plugin-admin/src/plugins/hooks/useCommunication.js
  ui/plugin-admin/src/plugins/hooks/useUrlState.js
  ui/plugin-admin/src/plugins/lib/store/createGlobalsSlice.js
  ui/plugin-admin/src/plugins/lib/store/createPluginSlice.js
  ui/plugin-admin/src/plugins/lib/store/createPluginSlice.test.js
  ui/plugin-admin/src/plugins/lib/store/index.js
Labels: ui

[cluster-admin] Highlighted list items for better UX (#120)
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/components/ClusterList.tsx
  ui/cluster-admin/src/components/ClusterListItem.tsx
  ui/cluster-admin/src/styles.scss
Labels: ui

nit: show releaseNamespace in table
  charts/manager/crds/greenhouse.sap_plugins.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
Labels: helm-charts, core-apis, documentation

fix(Makefile) dev-env dockerfile name
  Makefile
Labels: none

fix(Dockerfile) add args for TARGETOS,TARGETARCH
  Dockerfile
  Dockerfile.dev-env
  Dockerfile.headscalectl
  Dockerfile.tailscale
  Dockerfile.tcp-proxy
Labels: none

fix(website) update base docker image
  Dockerfile.website
Labels: none

Incorporate plugindefinition into plugin-admin
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.js
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/lib/utils/initPlugin.ts
  ui/plugin-admin/src/plugindefinitions/assets/.gitkeep
  ui/plugin-admin/src/plugindefinitions/components/AsyncWorker.tsx
  ui/plugin-admin/src/plugindefinitions/components/OptionValueTable.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionDetail.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionGrid.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginDefinitionTile.tsx
  ui/plugin-admin/src/plugindefinitions/components/PluginList.tsx
  ui/plugin-admin/src/plugindefinitions/components/ResourceStatusIcon.tsx
  ui/plugin-admin/src/plugindefinitions/components/StoreProvider.js
  ui/plugin-admin/src/plugindefinitions/components/WelcomeView.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/.gitkeep
  ui/plugin-admin/src/plugindefinitions/hooks/useClient.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useCommunication.js
  ui/plugin-admin/src/plugindefinitions/hooks/useNamespace.js
  ui/plugin-admin/src/plugindefinitions/hooks/useUrlState.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useWatch.ts
  ui/plugin-admin/src/plugindefinitions/lib/store/index.js
  ui/plugin-admin/src/plugindefinitions/store.ts
  ui/plugin-admin/src/styles.scss
  ui/plugin-admin/tsconfig.json
  ui/plugindefinition-admin/src/assets/juno-danger.svg
  ui/plugindefinition-admin/src/assets/kubeconfig-template.ts
  ui/plugindefinition-admin/src/assets/map.svg
  ui/plugindefinition-admin/src/assets/rocket.gif
  ui/types/schema.d.ts
  ui/types/types.ts
Labels: ui

* refactor: extract plugin post function
  ui/plugin-admin/src/plugin-edit/ClusterSelect.tsx
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/lib/utils/postPlugin.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useClient.ts
Labels: ui

* refactor: Extract handleFormChange function
  ui/plugin-admin/src/plugin-edit/ClusterSelect.tsx
  ui/plugin-admin/src/plugin-edit/OptionInput.tsx
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
  ui/plugin-admin/src/plugin-edit/lib/utils/handleFormChange.ts
  ui/types/types.ts
Labels: ui

prefer GetReleaseNamespace() in tests
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/helm/helm_test.go
Labels: none

configurable namespace for a pluginconfig release (#98)
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/templates/manager-role.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/plugin_webhook.go
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
Labels: helm-charts, core-apis, documentation

Fix/129/dockerbuild (#133)
  Dockerfile
  Dockerfile.dev-env
  Dockerfile.headscalectl
  Dockerfile.tailscale
  Dockerfile.tcp-proxy
  Makefile
Labels: none

fix(website) update base docker image (#134)
  Dockerfile.website
Labels: none

fix(dev-env) go install in multiarch build
  Dockerfile.dev-env
Labels: none

prettify print columns header
  charts/manager/crds/greenhouse.sap_plugins.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
Labels: helm-charts, core-apis, documentation

prettify print columns header (#137)
  charts/manager/crds/greenhouse.sap_plugins.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
Labels: helm-charts, core-apis, documentation

test build
  .github/CODEOWNERS
  Dockerfile.dev-env
  tmp/Dockerfile
  tmp/Dockerfile.headscalectl
  tmp/Dockerfile.tailscale
  tmp/Dockerfile.tcp-proxy
  tmp/Dockerfile.website
Labels: none

update build
  .github/workflows/docker-build.yaml
Labels: none

rm GOBIN
  Dockerfile.dev-env
  Makefile
Labels: none

rm GOPATH
  Dockerfile.dev-env
Labels: none

mod GOPATH
  Makefile
Labels: none

gopath
  Dockerfile.dev-env
Labels: none

try to fix
  Dockerfile.dev-env
  Makefile
Labels: none

aed
  Makefile
Labels: none

rm multiarch build
  .github/workflows/docker-build.yaml
  Dockerfile.dev-env
  Makefile
Labels: none

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
