Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

fix(ui): Fix secret-admin test (#222)
  ui/secret-admin/__mocks__/client.js
  ui/secret-admin/__mocks__/fileMock.js
  ui/secret-admin/__mocks__/styleMock.js
  ui/secret-admin/package-lock.json
  ui/secret-admin/src/App.test.js
  ui/secret-admin/src/AppContent.tsx
Labels: ui

Fix(ui): Match package name with folder name
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
Labels: ui

Fix(ui): Match package name with folder name (#226)
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
Labels: ui

Feat(ui): Add secret admin and bump versions
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
Labels: ui

Added beta badge in the side navigation and upgrade versions
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/org-admin/src/components/PluginContainer.jsx
  ui/org-admin/src/components/SideNav.js
  ui/org-admin/src/lib/store.js
Labels: ui

Added beta badge in the side navigation and upgrade versions (#228)
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/org-admin/src/components/PluginContainer.jsx
  ui/org-admin/src/components/SideNav.js
  ui/org-admin/src/lib/store.js
Labels: ui

Fix(ui): secret-admin correctly base64 encode data
  ui/secret-admin/src/components/SecretEdit.tsx
  ui/secret-admin/src/components/SecretListItem.tsx
Labels: ui

Reset images in docker compose files
  ui/plugin-admin/docker-compose.yaml
  ui/plugin-admin/network-host.docker-compose.yaml
Labels: ui

Remove TODOs
  ui/plugin-admin/src/plugin-edit/PluginEdit.tsx
Labels: ui

remove icon from beta badge
  ui/org-admin/src/components/SideNav.js
Labels: ui

upgrade version
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
Labels: ui

feat(ui): cluster-admin add edit screen (#225)
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/AppContent.tsx
  ui/cluster-admin/src/components/ClusterDetail.tsx
  ui/cluster-admin/src/components/ClusterEdit.tsx
  ui/cluster-admin/src/components/KeyValueInput.tsx
  ui/cluster-admin/src/components/ResultMessage.tsx
  ui/cluster-admin/src/hooks/useApi.ts
  ui/cluster-admin/src/hooks/useClusterApi.ts
  ui/cluster-admin/src/store.ts
Labels: ui

Fix(ui): secret-admin correctly base64 encode data (#229)
  ui/secret-admin/src/components/SecretEdit.tsx
  ui/secret-admin/src/components/SecretListItem.tsx
Labels: ui

[org-admin] Remove icon from beta icon (#230)
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/org-admin/src/components/SideNav.js
Labels: ui

Fix controller-gen version and ommit arm64 build
  .github/workflows/docker-build.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

[org-admin] just warn if releaseState is set and different from the white list
  ui/org-admin/package.json
  ui/org-admin/src/lib/store.js
Labels: ui

[secrets-admin] remove beta message
  ui/secret-admin/src/AppContent.tsx
Labels: ui

version upgrade
  ui/secret-admin/package.json
Labels: ui

[org-admin] use new version of secrets
  ui/org-admin/package.json
Labels: ui

[org-admin] just warn if releaseState is set and different from the white list (#231)
  ui/org-admin/package.json
  ui/org-admin/src/lib/store.js
Labels: ui

upgrade versions
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/secret-admin/package-lock.json
Labels: ui

[secrets-admin] remove beta message and upgrade version (#232)
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/AppContent.tsx
Labels: ui

Fix(ui): allow . in option identifiers and fix falsy string comparison
  ui/plugin-admin/src/plugin-edit/handleFormChange.ts
Labels: ui

Don't show valid JSON for consistent UX
  ui/plugin-admin/src/plugin-edit/OptionInput.tsx
Labels: ui

Fix(ui): secrets
  ui/secret-admin/src/AppContent.tsx
  ui/secret-admin/src/components/SecretList.tsx
  ui/secret-admin/src/hooks/useWatch.ts
Labels: ui

Fix(ui): allow . in option identifiers and fix falsy string comparison
  ui/plugin-admin/src/plugin-edit/handleFormChange.ts
Labels: ui

Don't show valid JSON for consistent UX
  ui/plugin-admin/src/plugin-edit/OptionInput.tsx
Labels: ui

Fix(ui): minor plugin admin fixes (#235)
  ui/plugin-admin/src/plugin-edit/OptionInput.tsx
  ui/plugin-admin/src/plugin-edit/handleFormChange.ts
Labels: ui

Fix(ui): secrets (#234)
  ui/secret-admin/src/AppContent.tsx
  ui/secret-admin/src/components/SecretList.tsx
  ui/secret-admin/src/hooks/useWatch.ts
Labels: ui

Fix(ui): secrets add missing import for tests
  ui/secret-admin/src/AppContent.tsx
Labels: ui

Fix(ui): secrets add missing import for tests (#236)
  ui/secret-admin/src/AppContent.tsx
Labels: ui

feat(makefile): make architecture used to build dev-images configurable
  Makefile
Labels: none

feat(makefile): make architecture used to build dev-images configurable (#239)
  Makefile
Labels: none

fix(headscale): fix usage of deprecated grpc api
  pkg/clientutil/headscale.go
Labels: none

chore: bump kustomize, controller-tools and ginkgolinter
  Makefile
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: helm-charts, core-apis

chore: bump kustomize, controller-tools and ginkgolinter (#246)
  Makefile
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: helm-charts, core-apis

revert(controller-tools): use v0.14.0 until bump to go1.22
  Makefile
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

revert(controller-tools): use v0.14.0 until bump to go1.22 (#247)
  Makefile
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

chore: bump to go1.22, controller-tools v0.15
  .github/renovate.json
  .github/workflows/codeql.yaml
  Dockerfile
  Dockerfile.dev-env
  Dockerfile.headscalectl
  Dockerfile.tailscale
  Dockerfile.tcp-proxy
  Makefile
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  go.mod
Labels: helm-charts, documentation, dependencies

from #211
  pkg/test/env.go
Labels: none
