Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

refactor: move cluster metrics into the internal metrics package
  internal/controller/cluster/cluster_controller.go
  internal/metrics/cluster_metrics.go
  internal/metrics/cluster_metrics_test.go
Labels: none

fix(clusters): regenerate OIDC kubeconfig on ca changes (#1257)
  e2e/cluster/e2e_test.go
  e2e/cluster/expect/expect.go
  internal/controller/cluster/bootstrap_controller.go
Labels: none

refactor: move plugin metrics tests to metrics_test package, add alias to metrics import
  internal/metrics/cluster_metrics.go
  internal/metrics/plugin_metrics.go
  internal/metrics/plugin_metrics_test.go
  internal/metrics/suite_test.go
Labels: none

refactor: move organization metrics into the internal metrics package
  internal/controller/organization/organization_controller.go
  internal/metrics/organization_metrics.go
Labels: none

refactor: move teamrbac metrics into the internal metrics package
  internal/controller/teamrbac/metrics.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/metrics/teamrbac_metrics.go
Labels: none

refactor: move team metrics into the internal metrics package
  internal/controller/team/team_controller.go
  internal/metrics/team_metrics.go
Labels: none

refactor: move helmcharttesting metrics to metrics package, unify imports
  internal/controller/plugin/helm_chart_testing.go
  internal/metrics/helmcharttesting_metrics.go
  internal/metrics/organization_metrics.go
  internal/metrics/team_metrics.go
  internal/metrics/teamrbac_metrics.go
Labels: none

refactor: move pluginworkload metrics to the internal metrics package
  internal/controller/plugin/plugin_workload_status.go
  internal/controller/plugin/util.go
  internal/metrics/pluginworkload_metrics.go
Labels: none

refactor: fix import and metric registration in cluster metrics
  internal/metrics/cluster_metrics.go
  internal/metrics/cluster_metrics_test.go
Labels: none

feat: add commonmetrics with OwnedByLabelMissingMetric, updated in plugin and cluster controllers
  internal/controller/cluster/cluster_status.go
  internal/controller/flux/plugin_controller.go
  internal/controller/plugin/plugin_controller.go
  internal/helm/helm.go
  internal/metrics/cluster_metrics_test.go
  internal/metrics/common_metrics.go
  internal/metrics/common_metrics_test.go
  internal/metrics/plugin_metrics.go
  internal/metrics/plugin_metrics_test.go
Labels: none

feat: update OwnedByLabelMissingMetric in pluginpreset and teamrolebinding controllers
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/teamrbac/teamrolebinding_controller.go
Labels: none

feat(organizations): enable oauth2-proxy by default
  internal/controller/organization/service_proxy.go
Labels: none

feat(plugins): improved error for invalid plugindefinition
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

small refactor
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/util.go
Labels: none

make organization reference single ConfigMap
  api/v1alpha1/organization_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

make organization reference whole config map instead of specific key
  api/v1alpha1/organization_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis

address review comment
  internal/test/resources.go
Labels: none

allow Organization resource to reference ConfigMap
  api/v1alpha1/organization_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
  internal/test/setup.go
Labels: helm-charts, core-apis

feat(organizations): allow Organization to reference ConfigMap (#1247)
  api/v1alpha1/organization_types.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/util.go
  internal/test/resources.go
  internal/test/setup.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

feat(organizations): enable oauth2-proxy by default
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
Labels: none

(chore): update intro template
  dev-env/templates/_intro.md
Labels: none

(chore): do not deploy webhook in devMode
  internal/local/setup/manifest.go
  internal/local/setup/webhook.go
Labels: none

(chore): remove devMode from config
  dev-env/dev.config.yaml
  e2e/config.yaml
Labels: none

(chore): pass devMode to execution env
  internal/local/commands/common.go
  internal/local/commands/dashboard.go
  internal/local/commands/setup.go
  internal/local/setup/setup.go
Labels: none

(chore): do not deploy controller in devMode
  Makefile
Labels: none

(chore): regenerate docs
  dev-env/docs.go
  docs/contribute/local-dev.md
Labels: documentation

(chore): update docs
  dev-env/templates/_intro.md
  docs/contribute/local-dev.md
Labels: documentation

(chore): fix line break
  dev-env/docs.go
  docs/contribute/local-dev.md
Labels: documentation

feat: add GreenhouseResourceOwnedByLabelMissing alert for resources
  charts/manager/alerts/resource.alerts
Labels: helm-charts

docs: set correct condition and metric names
  docs/getting-started/operations/ownership.md
Labels: documentation

fix: imports order
  internal/metrics/common_metrics.go
Labels: none

feat(organizations): enable oauth2-proxy by default (#1293)
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
Labels: none

feat: move plugin preparation outside of measurement, refactor plugin and plugin definition preparation
  e2e/perf/e2e_test.go
  e2e/perf/fixtures/fixtures.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/helm/diff_test.go
  internal/helm/helm_test.go
  internal/test/resources.go
  internal/test/setup.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
  internal/webhook/v1alpha1/team_webhook_test.go
Labels: none

feat: set QPS and burst in perf tests to prevent client-side throttling
  e2e/perf/e2e_test.go
  e2e/shared/e2e.go
Labels: none

fix: lint suggestion
  e2e/shared/e2e.go
Labels: none

feat: change GreenhouseResourceOwnedByLabelMissing alert rule
  charts/manager/alerts/resource.alerts
Labels: helm-charts
