Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

fix(dashboard): point docs to github pages
  ui/cluster-admin/src/components/OnBoardCluster.tsx
  website/hugo.yaml
Labels: ui

feat(reuse) add reuse action
  .github/workflows/ci-reuse-check.yaml
  LICENSES/CC0-1.0.txt
Labels: none

run only on pull_request
  .github/workflows/ci-reuse-check.yaml
Labels: none

(chore): init local env cli
  hack/localenv/cmd/root.go
  hack/localenv/go.mod
  hack/localenv/go.sum
  hack/localenv/main.go
Labels: none

feat: Update HelmChartTestResultCondition to NoHelmChartTestFailuresCondition in reconcile function
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
Labels: core-apis

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(test) Additional check in E2E test
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

improve docs for plugin test
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

(chore): adds kind cluster creation
  hack/localenv/pkg/kind/kind.go
Labels: none

(chore): adds cluster command
  hack/localenv/cmd/cluster.go
  hack/localenv/pkg/cluster/cluster.go
  hack/localenv/pkg/utils/utils.go
Labels: none

(chore): common variables
  hack/localenv/cmd/common.go
  hack/localenv/go.mod
  hack/localenv/go.sum
Labels: none

(chore): adds environment variables to disable webhooks and controllers
  cmd/greenhouse/main.go
Labels: none

feat: use clientcmd.ConfigOverrides for kubeconfig
  pkg/controllers/cluster/direct_access_controller.go
  pkg/controllers/cluster/util.go
Labels: none

(chore): adds cluster list and delete commands
  hack/localenv/cmd/cluster.go
  hack/localenv/pkg/cluster/cluster.go
  hack/localenv/pkg/kind/kind.go
Labels: none

(chore): adds manifests command
  hack/localenv/cmd/manifests.go
  hack/localenv/go.mod
  hack/localenv/go.sum
  hack/localenv/pkg/kind/kind.go
  hack/localenv/pkg/klient/helm.go
  hack/localenv/pkg/manifests/manifests.go
  hack/localenv/pkg/utils/utils.go
Labels: none

(chore): adds webhook command
  hack/localenv/cmd/webhook.go
  hack/localenv/go.mod
  hack/localenv/go.sum
  hack/localenv/pkg/kind/kind.go
  hack/localenv/pkg/klient/docker.go
  hack/localenv/pkg/manifests/manifests.go
  hack/localenv/pkg/manifests/webhook.go
  hack/localenv/pkg/utils/utils.go
Labels: none

(chore): adds setup command
  hack/localenv/cmd/cluster.go
  hack/localenv/cmd/common.go
  hack/localenv/cmd/manifests.go
  hack/localenv/cmd/setup.go
  hack/localenv/config-sample.json
  hack/localenv/pkg/cluster/cluster.go
  hack/localenv/pkg/setup/setup.go
  hack/localenv/values-sample.yaml
Labels: none

(chore): adds CLI markdown docs
  hack/localenv/cmd/cluster.go
  hack/localenv/cmd/manifests.go
  hack/localenv/cmd/setup.go
  hack/localenv/cmd/webhook.go
  hack/localenv/docs.go
  hack/localenv/docs/localenv_cluster.md
  hack/localenv/docs/localenv_cluster_create.md
  hack/localenv/docs/localenv_cluster_delete.md
  hack/localenv/docs/localenv_cluster_list.md
  hack/localenv/docs/localenv_manifests.md
  hack/localenv/docs/localenv_setup.md
  hack/localenv/docs/localenv_setup_webhook.md
Labels: none

fix(dashboard): point docs to github pages (#444)
  ui/cluster-admin/src/components/OnBoardCluster.tsx
  website/hugo.yaml
Labels: ui

feat(helmChartTest): improve condition handling + review comment fix
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/helm/helm.go
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): move commands to greenhousectl
  go.mod
  hack/localenv/cmd/cluster.go
  hack/localenv/cmd/root.go
  hack/localenv/config-sample.json
  hack/localenv/docs.go
  hack/localenv/docs/localenv_cluster.md
  hack/localenv/docs/localenv_cluster_create.md
  hack/localenv/docs/localenv_cluster_delete.md
  hack/localenv/docs/localenv_cluster_list.md
  hack/localenv/docs/localenv_manifests.md
  hack/localenv/docs/localenv_setup.md
  hack/localenv/docs/localenv_setup_webhook.md
  hack/localenv/go.mod
  hack/localenv/go.sum
  hack/localenv/main.go
  pkg/cmd/dev.go
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifests.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/docker.go
  pkg/internal/local/setup/helm.go
  pkg/internal/local/setup/kind.go
  pkg/internal/local/setup/manifests.go
  pkg/internal/local/setup/setup.go
  pkg/internal/local/setup/webhook.go
Labels: dependencies

(chore): adds error handling and logging
  pkg/internal/local/utils/utils.go
Labels: none

(fix): fixes typo
  .github/workflows/check-changes-crd-api.yaml
Labels: none

Automatic application of license header
  pkg/cmd/dev.go
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifests.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/docker.go
  pkg/internal/local/setup/helm.go
  pkg/internal/local/setup/kind.go
  pkg/internal/local/setup/manifests.go
  pkg/internal/local/setup/setup.go
  pkg/internal/local/setup/webhook.go
  pkg/internal/local/utils/utils.go
Labels: none

(chore): adds review dog lint
  .github/workflows/unit-tests.yml
  Makefile
  pkg/internal/local/commands/common.go
Labels: none

feat(helmChartTest): Add Prometheus metrics for Helm Chart test runs #106
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(helmChartTest): Add Prometheus metrics for Helm Chart test runs
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(fix): address lint issues
  pkg/internal/local/utils/utils.go
Labels: none

(chore): use review dog linting
  .github/workflows/build-greenhousectl.yaml
  .github/workflows/unit-tests.yml
Labels: none

(chore): update reviewdog lint version
  .github/workflows/unit-tests.yml
Labels: none

(chore): run lint as a separate job
  .github/workflows/unit-tests.yml
Labels: none

feat(charts/greenhouse) alerts slack routes by severity
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts, dependencies

feat(charts/greenhouse) alerts slack routes by severity (#454)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts, dependencies

Fix(proxy): Fixes the proxy alert expression
  charts/manager/alerts/proxies.alerts
Labels: helm-charts

Fix(proxy): Fixes the proxy alert expression (#455)
  charts/manager/alerts/proxies.alerts
Labels: helm-charts

chore(helmChartTest) review comment fix
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
