Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

feat(dev-env): Setup local development environment using greenhousectl (#452)
  Makefile
  charts/manager/templates/manager-role.yaml
  cmd/greenhouse/main.go
  dev-env/localenv/README.md
  dev-env/localenv/docs.go
  dev-env/localenv/sample.config.json
  dev-env/localenv/sample.values.yaml
  dev-env/localenv/templates/_generate-docs.md
  dev-env/localenv/templates/_intro.md
  docs/reference/api/openapi.yaml
  go.mod
  go.sum
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/cmd/dev.go
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifest.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/helm/helm.go
  pkg/internal/local/klient/docker.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/klient/klient.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/manifest.go
  pkg/internal/local/setup/setup.go
  pkg/internal/local/setup/webhook.go
  pkg/internal/local/utils/exec.go
  pkg/internal/local/utils/expect.go
  pkg/internal/local/utils/utils.go
  ui/types/schema.d.ts
Labels: helm-charts, core-apis, documentation, ui, dependencies

fix: set logger depth for local-setup
  pkg/internal/local/utils/utils.go
Labels: none

(fix): create namespace using kubeconfig
  pkg/internal/local/klient/kind.go
  pkg/internal/local/setup/cluster.go
Labels: none

fix: set logger depth for local-setup (#506)
  pkg/internal/local/utils/utils.go
Labels: none

Update pkg/controllers/plugin/util.go
  pkg/controllers/plugin/util.go
Labels: none

Update pkg/controllers/plugin/util.go
  pkg/controllers/plugin/util.go
Labels: none

add comments when the ready condition changes
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: none

fix(audit-logs): Redact secret data
  pkg/admission/utils.go
Labels: none

Fix linting
  pkg/admission/utils.go
Labels: none

(fix): create namespace using kubeconfig (#507)
  pkg/internal/local/klient/kind.go
  pkg/internal/local/setup/cluster.go
Labels: none

fix(plugin) workload status controller duplicate message / ComputeReadyCondition (#504)
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: none

Remove Object and OldObject completely from log
  pkg/admission/utils.go
Labels: none

fix(audit-logs): Remove Object and OldObject completely from log (#508)
  pkg/admission/utils.go
Labels: none

chore(apps) upgrade versions due to patch dependencies upgrade
  ui/cluster-admin/package.json
  ui/dashboard/package.json
  ui/org-admin/package.json
  ui/plugin-admin/package.json
  ui/secret-admin/package.json
  ui/team-admin/package.json
Labels: ui

chore(apps) upgrade versions due to patch dependencies upgrade (#513)
  ui/cluster-admin/package.json
  ui/dashboard/package.json
  ui/org-admin/package.json
  ui/plugin-admin/package.json
  ui/secret-admin/package.json
  ui/team-admin/package.json
Labels: ui

feat(plugin): admission checks that PluginDefinition is immutable
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/admission/webhook_suite_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: none

reduce test boilerplate
  pkg/admission/plugin_webhook_test.go
  pkg/test/resources.go
Labels: none

feat(plugin): admission checks that PluginDefinition is immutable (#499)
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/admission/webhook_suite_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: none

test reuse from here
  .github/workflows/reuse-check.yaml
Labels: none

wf disp
  .github/workflows/reuse-check.yaml
Labels: none

like this?
  .github/workflows/reuse-check.yaml
Labels: none

now ?
  .github/workflows/reuse-check.yaml
Labels: none

Update Makefile
  Makefile
Labels: none

like this
  .github/workflows/reuse-check.yaml
Labels: none

feat(organizationcontroller): rename NamespaceController to OrganizationController; add creation and update of org admin team
  cmd/greenhouse/controllers.go
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
  pkg/controllers/organization/rbac_controller_test.go
  pkg/controllers/organization/suite_test.go
  test/e2e/controllers.go
Labels: none

feat(organizationcontroller): recreate org admin team if deleted
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
Labels: none

feat(organizationcontroller): add test for returning team idp group to its original value
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
Labels: none

(fix): provides kubeconfig param for namespace apply
  pkg/internal/local/klient/kind.go
Labels: none

update go mod
  go.mod
  go.sum
Labels: dependencies

bump GOLINT_VERSION
  Makefile
Labels: none

bump codeql to go 1.23
  .github/workflows/codeql.yaml
Labels: none

bump renovate to go 1.23
  .github/renovate.json
Labels: none

(fix): provides kubeconfig param for namespace apply (#523)
  pkg/internal/local/klient/kind.go
Labels: none

update this
  .github/workflows/reuse-check.yaml
Labels: none

make build instead of Autobuild
  .github/workflows/codeql.yaml
Labels: none

fix syntax codeql
  .github/workflows/codeql.yaml
Labels: none

feat(organizationcontroller): remove unnecessary check, fix controller permissions, change tests to be independent of each other
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
  pkg/test/resources.go
Labels: none

feat(organizationcontroller): remove unnecessary getting of team, fix occasional test conflict
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
Labels: none

fix(alerting): add for conditions, ignory proxy unauth(z) err
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/proxies.alerts
Labels: helm-charts, dependencies

refac(org): controller reconciles namespace and team (#521)
  cmd/greenhouse/controllers.go
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
  pkg/controllers/organization/rbac_controller_test.go
  pkg/controllers/organization/suite_test.go
  pkg/test/resources.go
  test/e2e/controllers.go
Labels: none
