Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

fix(alerting): add for conditions, ignory proxy unauth(z) err (#525)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/proxies.alerts
Labels: helm-charts, dependencies

chore(HelmChartTestController) fix merge conflicts and other minor fixes
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/util.go
Labels: none

fix(workloadStatusController) don't panic when status is empty
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

chore(helmChartTestController): fix lint
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

chore(helmChartTestController): remove empty line in Reconcile method
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

chore: fix lint
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat: add controller to periodically run Helm Chart Tests (#441)
  cmd/greenhouse/controllers.go
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
  pkg/helm/helm.go
Labels: core-apis, documentation

feat(logshipper): add config to send audit logs
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

feat(teammembership): update permissions, set metric when MappedIDPGroup was removed, invert owner reference, use createOrPatch for TM
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

fix: ignore NotFound errors
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

feat(teammembership): simplify calling setStatus
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

chore: improve helm chart test controller
  charts/manager/alerts/operator.alerts
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: helm-charts

feat(pluginpreset) Fix error with only first option in override (#491)
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Unit test for cluster definition overrides (#491)
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Overrides cluster plugins in cluster reconciler (#491)
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: core-apis

feat(pluginpreset) ClusterOptionOverride is optional (#491)
  pkg/admission/pluginpreset_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: core-apis

feat(pluginpreset) Fix empty Cluster option override (#491)
  pkg/admission/pluginpreset_webhook_test.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Update documentation with new values in PluginPreset struct (#491)
  docs/user-guides/plugin/plugin-management.md
Labels: documentation

chore: improve helm chart test controller (#531)
  charts/manager/alerts/operator.alerts
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: helm-charts

fix: ignore NotFound errors (#530)
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

feat(teammembership): fix condition for unchanged users, refactor tests
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

chore(ui): add oauth to jest config ignore section
  ui/dashboard/jest.config.js
Labels: ui

chore(ui): add Readme for dockerized version
  ui/docker/README.md
Labels: ui

chore(dashboard): remove dependency to auth app and adopt dockerfile
  docker/builder/greenhouse-dashboard/entrypoint.sh
  ui/dashboard/package.json
  ui/dashboard/src/components/Auth.jsx
  ui/dashboard/src/hooks/useAuthentication.js
  ui/docker/.gitignore
  ui/docker/Dockerfile
  ui/docker/appProps.sample.json
  ui/docker/entrypoint.sh
  ui/docker/generate_manifest.sh
  ui/docker/index.html
  ui/docker/nginx.conf
  ui/org-admin/package.json
Labels: ui

chore(ui): improve Dockerfile
  ui/docker/Dockerfile
Labels: ui

chore(ui): remove obsolete code
  ui/docker/index.html
Labels: ui

fix(org-admin-ui): use the new signature of mount method
  ui/dashboard/package.json
  ui/docker/Dockerfile
  ui/docker/README.md
  ui/docker/appProps.sample.json
  ui/docker/index.html
  ui/docker/nginx.conf
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/org-admin/src/components/Plugin.jsx
Labels: ui

chore(dashboard): remove dependencies to auth app and utils
  docker/builder/greenhouse-dashboard/Dockerfile.ui
  docker/builder/greenhouse-dashboard/entrypoint.sh
  docker/builder/greenhouse-dashboard/generate_manifest.sh
  docker/builder/greenhouse-dashboard/index.html
  docker/builder/greenhouse-dashboard/nginx.conf
  ui/dashboard/jest.config.js
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/dashboard/public/index.html
  ui/dashboard/secretProps.js
  ui/dashboard/src/components/Auth.jsx
  ui/dashboard/src/components/Plugin.jsx
  ui/dashboard/src/hooks/useApi.js
  ui/dashboard/src/hooks/useAuthentication.js
  ui/dashboard/src/lib/appLoader.js
  ui/org-admin/jest.config.js
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/org-admin/src/components/Plugin.jsx
  ui/org-admin/src/lib/appLoader.js
Labels: ui

Automatic application of license header
  ui/dashboard/secretProps.js
  ui/dashboard/src/hooks/useAuthentication.js
  ui/dashboard/src/lib/appLoader.js
  ui/docker/Dockerfile
  ui/docker/entrypoint.sh
  ui/docker/generate_manifest.sh
  ui/docker/index.html
  ui/org-admin/src/lib/appLoader.js
Labels: ui

chore(dashboard): enable standalone deployments of Greenhouse UI (#524)
  ui/dashboard/jest.config.js
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/dashboard/secretProps.js
  ui/dashboard/src/components/Auth.jsx
  ui/dashboard/src/components/Plugin.jsx
  ui/dashboard/src/hooks/useApi.js
  ui/dashboard/src/hooks/useAuthentication.js
  ui/dashboard/src/lib/appLoader.js
  ui/docker/.gitignore
  ui/docker/Dockerfile
  ui/docker/README.md
  ui/docker/appProps.sample.json
  ui/docker/entrypoint.sh
  ui/docker/generate_manifest.sh
  ui/docker/index.html
  ui/docker/nginx.conf
  ui/org-admin/jest.config.js
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/org-admin/src/components/Plugin.jsx
  ui/org-admin/src/lib/appLoader.js
Labels: ui

feat(ui): add workflow to build the dashboard image
  .github/workflows/ui-dashboard-image.yaml
Labels: none

feat(pluginpreset) Regenerate CRDs (#491)
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  docs/reference/api/index.html
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: helm-charts, core-apis, documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(pluginpreset): add clusterOptionOverrides (#515)
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/plugin/plugin-management.md
  pkg/admission/pluginpreset_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: helm-charts, core-apis, documentation

fix(ci): adapt labels for greenhouse when creating image
  .github/workflows/ui-dashboard-image.yaml
Labels: none

feat(ui): add workflow to build the dashboard image (#533)
  .github/workflows/ui-dashboard-image.yaml
Labels: none

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
