Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

use customConfig to pass inputs/filters/outputs
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts

feat(logshipper): add config to send audit logs (#528)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

fix(logshipping): use correct values for octobus
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

fix(logshipping): use correct values for octobus (#534)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

fix: remove superfluous colon
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

fix: remove superfluous colon (#535)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

fix(logshipper): update config
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

fix(logshipper): update config (#536)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

feat(pluginpreset) Skip updating when plugin is not different (#437)
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Skip plugin definition default (#437)
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Add test with plugin definition defaults variables (#437)
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) slices.ContainsFunc insteed of custom contains function (#437)
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Change to table test (#437)
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Remove plugin definition check (#437)
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Replace counting loops with something better and fix tests (#437)
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

feat(pluginpreset) Simplier skip contition (#437)
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: none

fix: update helmReleaseStatus
  pkg/controllers/plugin/helm_controller.go
Labels: none

feat(pluginpreset) Skip updating when plugin is not different (#437) (#495)
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

chore(ci): create dashboard image with a human readable timestamp and remove untagged images
  .github/workflows/ui-dashboard-image.yaml
Labels: none

chore(ci): create dashboard image with a human readable timestamp and remove untagged images (#547)
  .github/workflows/ui-dashboard-image.yaml
Labels: none

feat(teammembership): remove unnecessary check for equality
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

fix(ui): propagate assetsHost to appLoader
  ui/dashboard/public/index.html
  ui/org-admin/package.json
  ui/org-admin/public/index.html
  ui/org-admin/secretProps.js
  ui/org-admin/src/lib/appLoader.js
Labels: ui

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(actions) use shared actions
  .github/workflows/ci-reuse.yaml
  .github/workflows/codeql.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/license.yaml
  .github/workflows/stale.yaml
Labels: none

chore(ui): add .gitignore
  ui/org-admin/.gitignore
  ui/org-admin/secretProps.js
Labels: ui

fix(ui): propagate assetsHost to appLoader (#548)
  ui/dashboard/public/index.html
  ui/org-admin/.gitignore
  ui/org-admin/package.json
  ui/org-admin/public/index.html
  ui/org-admin/src/lib/appLoader.js
Labels: ui

feat: fix linter suggestions
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat: update helm dependencies, generate manifests
  charts/greenhouse/Chart.lock
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat: increment greenhouse chart version, fix linter suggestion
  charts/greenhouse/Chart.yaml
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: helm-charts, dependencies

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(ui): bump dashboard version
  ui/dashboard/package.json
Labels: ui

feat(ui): bump dashboard version (#549)
  ui/dashboard/package.json
Labels: ui

fix(pluginpreset): handle valueFrom in shouldSkipPlugin
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/helm/helm.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix(helmChartTestController): dont run helm chart test when the plugin is disabled
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

chore(build): adjust helm charts to switch to dashboard image
  charts/ui/templates/dashboard-props-cm.yaml
  charts/ui/templates/deployment.yaml
  charts/ui/templates/index-html-cm.yaml
  charts/ui/values.yaml
Labels: helm-charts, ui

fix(pluginpreset): handle valueFrom in shouldSkipPlugin (#551)
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/helm/helm.go
Labels: core-apis, documentation

fix(helmChartTestController): dont run helm chart test when the plugin is disabled (#553)
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: none

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
