Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

(fix): remove dev comment
  cmd/greenhouse/controllers.go
Labels: none

(fix): go fmt!
  pkg/admission/cluster_webhook.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/cluster/status_controller_test.go
  pkg/controllers/plugin/util.go
Labels: core-apis

(fix): go fmt!
  pkg/controllers/cluster/status_controller_test.go
Labels: none

fix(service-proxy-controller): return without error when plugin definition is missing, watch service-proxy plugin definition
  pkg/controllers/organization/service_proxy_controller.go
Labels: none

refac(helm) Read Helm chart from cache (#512)
  pkg/helm/helm.go
Labels: none

move typescript types to dedicated types folder
  Makefile
  types/typescript/schema.d.ts
Labels: none

Update codeowners
  .github/CODEOWNERS
Labels: none

fix: correct broken api reference link
  README.md
Labels: documentation

refac(helm) Read Helm chart from cache (#512) (#621)
  pkg/helm/helm.go
Labels: none

fix(types): Reintroduce typescript types (#616)
  .github/CODEOWNERS
  Makefile
  types/typescript/schema.d.ts
Labels: none

(chore): move deletion condition to cluster_types
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/cluster/status_controller_test.go
  pkg/controllers/cluster/util.go
  pkg/controllers/plugin/util.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix(service-proxy-controller): simplify reconcile requests creation in watch
  pkg/controllers/organization/service_proxy_controller.go
Labels: none

(fix): fix test
  pkg/controllers/plugin/remote_cluster_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(cluster): Cluster Off-Boarding (#609)
  .github/workflows/unit-tests.yml
  Makefile
  docs/reference/api/openapi.yaml
  pkg/admission/cluster_webhook.go
  pkg/admission/cluster_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/apis/well_known.go
  pkg/clientutil/util.go
  pkg/controllers/cluster/direct_access_controller.go
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/cluster/status_controller_test.go
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/internal/local/setup/webhook.go
  pkg/test/assert.go
  pkg/test/util.go
  test/e2e/onboard_self_test.go
Labels: core-apis, documentation

docs: add link to documentation / overview to README
  README.md
Labels: documentation

fix: point architecture document link to docs
  README.md
Labels: documentation

(chore): common clean up finalizer
  pkg/apis/well_known.go
Labels: core-apis

(chore): adds deletion condition
  pkg/apis/greenhouse/v1alpha1/conditions.go
Labels: core-apis

(chore): adds reconcile context helpers
  pkg/reconcile/context.go
Labels: none

(chore): adds reconcile utilities
  pkg/reconcile/utils.go
Labels: none

(chore): adds common reconcile interface
  pkg/reconcile/reconcile.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix: update api reference link + add documentation link (#622)
  README.md
Labels: documentation

Automatic application of license header
  pkg/reconcile/context.go
  pkg/reconcile/reconcile.go
  pkg/reconcile/utils.go
Labels: none

(fix): go fmt!
  go.mod
  pkg/reconcile/context.go
  pkg/reconcile/reconcile.go
  pkg/reconcile/utils.go
Labels: dependencies

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(fix): address lint issues
  pkg/reconcile/context.go
  pkg/reconcile/utils.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): implements direct access reconcile standardization
  cmd/greenhouse/controllers.go
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/controllers/cluster/cluster_controller.go
  pkg/controllers/cluster/cluster_controller_test.go
  test/e2e/controllers.go
Labels: core-apis

(chore): update unit tests
  cmd/greenhouse/controllers.go
  pkg/controllers/cluster/suite_test.go
  pkg/controllers/plugin/suite_test.go
Labels: none

(chore): move to lifecycle pkg
  pkg/apis/well_known.go
  pkg/lifecycle/context.go
  pkg/lifecycle/reconcile.go
  pkg/lifecycle/utils.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): remove redundant break
  pkg/lifecycle/utils.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): go fmt
  pkg/lifecycle/utils.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
