Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

(chore): removes focused step
  internal/controller/organization/service_proxy_test.go
Labels: none

(fix): fix lint issues
  internal/controller/organization/service_proxy.go
Labels: none

fix: update external link overwrite in api docs
  api/meta/v1alpha1/doc.go
  api/meta/v1alpha1/groupversion_info.go
  docs/reference/api/index.html
  hack/docs-generator/config.json
Labels: core-apis, documentation

fix: tidy go mod
  go.mod
  go.sum
Labels: dependencies

chore(charts): add thanos ingress
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

chore(charts): add thanos ci test-values
  charts/greenhouse/ci/test-values.yaml
Labels: helm-charts

chore(charts): add thanos ingress (#1123)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

chore(charts): add thanos ingress tls
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

chore(charts): add thanos ingress tls (#1125)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

chore(greenhouse): remove thanos option value complexity
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts

fix: wait after context change in local setup
  dev-env/dev.config.yaml
Labels: none

fix: wait after context change in local setup (#1126)
  dev-env/dev.config.yaml
Labels: none

fix(tests): set new pluginoption values on fixture
  internal/test/resources.go
Labels: none

fix(teams): remove flaky nil pointer
  internal/controller/teammembership/teammembership_updater_controller_test.go
Labels: none

feat(tests): add options for ui only plugindefinitions
  internal/test/resources.go
Labels: none

feat(tests): helper for preset deletion
  api/v1alpha1/pluginpreset_types.go
  internal/test/assert.go
  internal/test/util.go
  internal/webhook/pluginpreset_webhook.go
  internal/webhook/pluginpreset_webhook_test.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

chore(core): regenerate crds
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix(teams): remove flaky nil pointer (#1128)
  internal/controller/teammembership/teammembership_updater_controller_test.go
Labels: none

fix(tests): set new pluginoption values on fixture (#1127)
  internal/test/resources.go
Labels: none

feat(tests): add options for ui only plugindefinitions (#1129)
  internal/test/resources.go
Labels: none

feat(tests): helper for preset deletion (#1130)
  api/v1alpha1/pluginpreset_types.go
  docs/reference/api/openapi.yaml
  internal/test/assert.go
  internal/test/util.go
  internal/webhook/pluginpreset_webhook.go
  internal/webhook/pluginpreset_webhook_test.go
Labels: core-apis, documentation

feat(plugin): add ReleaseName field and defaulting logic
  api/v1alpha1/plugin_types.go
  docs/user-guides/plugin/plugin-deployment.md
  internal/helm/helm.go
  internal/test/resources.go
  internal/webhook/plugin_webhook.go
  internal/webhook/plugin_webhook_test.go
Labels: core-apis, documentation

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

set releaseName for service-proxy
  internal/controller/organization/service_proxy.go
Labels: none

regenerate crds
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts, core-apis

ensure helm release used consistently
  api/v1alpha1/plugin_types.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/helm/helm.go
Labels: core-apis

ensure releaseName is compliant with helm
  internal/webhook/plugin_webhook.go
  internal/webhook/plugin_webhook_test.go
  internal/webhook/pluginpreset_webhook.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

regenerate api-docs
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

chore(core): regenerate crds (#1131)
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts, core-apis

regenerate crds
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

fix(charts): make thanos plugin optional
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

fix(charts): make thanos plugin optional (#1132)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

fix(charts): broken thanos template
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

fix(charts): broken thanos template (#1134)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

feat: move teamrbac tests to test package, add conversion tests
  internal/controller/teamrbac/conversion_test.go
  internal/controller/teamrbac/suite_test.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
Labels: none

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
