Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

fix(manager): Remove tests from docker build
  Dockerfile
Labels: none

feat(CODEOWNERS): add initial set of CODEOWNERS
  .github/CODEOWNERS
Labels: none

reuse compliance
  .reuse/dep5
  README.md
Labels: documentation

reuse compliance (#24)
  .reuse/dep5
  README.md
Labels: documentation

feat(CODEOWNERS): add initial set of CODEOWNERS (#22)
  .github/CODEOWNERS
Labels: none

update copyright year
  .reuse/dep5
Labels: none

[plugin-admin] PluginDetails are triggered via id change
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useURLState.js
  ui/plugin-admin/src/styles.scss
Labels: ui

update copyright year (#25)
  .reuse/dep5
Labels: none

[plugin-admin] deeplinks fo details enabled
  ui/plugin-admin/src/components/AsyncWorker.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/hooks/useURLState.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.js
Labels: ui

[plugin-admin] pluginList last col reduce width
  ui/plugin-admin/src/components/PluginList.js
Labels: ui

Update licenserc.yaml
  .github/licenserc.yaml
Labels: none

fix: add license to .jsx
  .github/licenserc.yaml
Labels: none

[plugin-admin] implement tests for useAPI
  ui/plugin-admin/babel.config.js
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/App.test.js
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/hooks/test.json
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useAPI.test.js
Labels: ui

[plugin-admin] Tests for createPluginConfig
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useAPI.test.js
Labels: ui

fix: add jsx license year
  .github/licenserc.yaml
Labels: none

fix too many blank lines in chart
  charts/idproxy/values.yaml
Labels: helm-charts, idproxy

update copyright year
  LICENSES/Apache-2.0.txt
  README.md
Labels: documentation

fix(manager): Remove tests from docker build (#21)
  Dockerfile
Labels: none

[plugin-admin] Fix colorbug tailwind, overflow DataGrid
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/tailwind.config.js
Labels: ui

feat(gh-actions) add codeql
  .github/workflows/codeql.yaml
Labels: none

feat(gh-actions) add docker-build
  .github/workflows/docker-build.yaml
Labels: none

fix(Docker) rename dev-env image
  .github/CODEOWNERS
  Dockerfile.dev-env
Labels: none

fix(gh-action) schedule actions updater
  .github/workflows/ghactions-updater.yaml
Labels: none

fix(gh-action) rm workflow_dispatch from License header action
  .github/workflows/license.yaml
Labels: none

[plugin-admin] Added heading for details
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/hooks/useAPI.js
Labels: ui

feat(greenhouse-rbac): add ClusterAdmin and PluginAdmin roles
  cmd/dev-env/main.go
  pkg/controllers/organization/rbac_controller.go
  pkg/controllers/organization/rbac_controller_test.go
  pkg/idproxy/connector.go
  pkg/rbac/clusterrole.go
  pkg/rbac/role.go
  pkg/rbac/util.go
Labels: idproxy

[plugin-admin] datagrid supports hover and active
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/styles.scss
Labels: ui

[plugin-admin] Changed UI of PluginDetail
  ui/plugin-admin/src/components/PluginDetail.js
Labels: ui

Feat/add gh actions (#28)
  .github/CODEOWNERS
  .github/workflows/codeql.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/ghactions-updater.yaml
  .github/workflows/license.yaml
  Dockerfile.dev-env
Labels: none

fix(docker-build) disable cache in build action
  .github/workflows/docker-build.yaml
Labels: none

fix(docker-build) add QEMU for multi-platform images
  .github/workflows/docker-build.yaml
Labels: none

fix(docker-build) disable cache in build action (#31)
  .github/workflows/docker-build.yaml
Labels: none

feat(renovate) update renovate config
  .github/renovate.json
Labels: none

fix(greenhousectl) remove apiserver check from bootstrap
  pkg/cmd/cluster_bootstrap.go
Labels: none

feat(renovate) addign from codeowner, k8s grouping
  .github/renovate.json
Labels: none

fix(renovate) move controller-runtime into prefixes
  .github/renovate.json
Labels: none

fix(kustomize-lint): remove generate docs to avoid permission issue
  Makefile
Labels: none

fix(kustomize-lint): remove generate docs to avoid permission issue (#34)
  Makefile
Labels: none

fix(makefile): add all generate cmds to generate-all
  Makefile
  charts/manager/crds/extensions.greenhouse.sap_rolebindings.yaml
  charts/manager/crds/extensions.greenhouse.sap_roles.yaml
  charts/manager/templates/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: helm-charts, documentation

feat(renovate) update renovate config (#32)
  .github/renovate.json
Labels: none
