Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

fix(website) fix aseests link for website
  docs/architecture/high-level.md
  docs/architecture/monitoring.md
  docs/getting-started/overview.md
Labels: documentation

fix(website) fix aseests link for website (#312)
  docs/architecture/high-level.md
  docs/architecture/monitoring.md
  docs/getting-started/overview.md
Labels: documentation

fix(website) fix assets links
  docs/architecture/high-level.md
  docs/architecture/monitoring.md
  docs/getting-started/overview.md
Labels: documentation

Fix/no ref/greenhouse website (#313)
  docs/architecture/high-level.md
  docs/architecture/monitoring.md
  docs/getting-started/overview.md
Labels: documentation

fix(website) assets links
  docs/architecture/high-level.md
  docs/architecture/monitoring.md
  docs/getting-started/overview.md
Labels: documentation

fix(website) assets link overview
  docs/getting-started/overview.md
Labels: documentation

fix(website) assets links (#314)
  docs/architecture/high-level.md
  docs/architecture/monitoring.md
  docs/getting-started/overview.md
Labels: documentation

docs: adds adr for pluginoverrides
  docs/architecture-decision-records/ADR-11_plugin_overrides.md
Labels: documentation

add Martin to adr-3
  docs/architecture-decision-records/ADR-3_location_of_plugins.md
Labels: documentation

fix: website image by copying assets
  .github/workflows/hugo.yaml
Labels: none

feat: adds image-retainer cronjob
  charts/greenhouse/Chart.yaml
  charts/greenhouse/etc/retain.sh
  charts/greenhouse/templates/container-image-retainer.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

Automatic application of license header
  charts/greenhouse/etc/retain.sh
Labels: helm-charts

fix(ui): Safeguard watch if unauthorized
  ui/cluster-admin/network-host.docker-compose.yaml
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/components/AsyncWorker.tsx
  ui/cluster-admin/src/hooks/useApi.ts
  ui/cluster-admin/src/hooks/useClusterApi.ts
  ui/cluster-admin/src/hooks/useGetPlugin.ts
  ui/cluster-admin/src/hooks/useWatch.ts
  ui/cluster-admin/src/store.ts
  ui/plugin-admin/README.md
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/public/index.html
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/plugindefinitions/components/AsyncWorker.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginDefinitionApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useSecretApi.ts
  ui/plugin-admin/src/plugindefinitions/store.ts
  ui/plugin-admin/src/plugins/components/AsyncWorker.js
  ui/secret-admin/README.md
  ui/secret-admin/src/components/AsyncWorker.tsx
  ui/secret-admin/src/components/SecretFormHeader.tsx
  ui/secret-admin/src/hooks/useApi.ts
  ui/secret-admin/src/hooks/useNamespace.js
  ui/secret-admin/src/hooks/useSecretApi.ts
  ui/secret-admin/src/hooks/useWatch.ts
  ui/secret-admin/src/store.ts
  ui/types/types.ts
Labels: ui

increase secret-admin version
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
Labels: ui

fix: website image by copying assets (#319)
  .github/workflows/hugo.yaml
Labels: none

fix(team-membership): Do not spin up pods on failure
  charts/team-membership/templates/cronjob.yaml
Labels: helm-charts

fix(team-membership): Do not spin up pods on failure (#322)
  charts/team-membership/templates/cronjob.yaml
Labels: helm-charts

feat: adds image-retainer cronjob (#320)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/etc/retain.sh
  charts/greenhouse/templates/container-image-retainer.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

feat: add tlsConfig.caCert to greenhouse prom
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

fix(ui): Safeguard watch if unauthorized (#321)
  ui/cluster-admin/network-host.docker-compose.yaml
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/components/AsyncWorker.tsx
  ui/cluster-admin/src/hooks/useApi.ts
  ui/cluster-admin/src/hooks/useClusterApi.ts
  ui/cluster-admin/src/hooks/useGetPlugin.ts
  ui/cluster-admin/src/hooks/useWatch.ts
  ui/cluster-admin/src/store.ts
  ui/plugin-admin/README.md
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/public/index.html
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.tsx
  ui/plugin-admin/src/plugindefinitions/components/AsyncWorker.tsx
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/usePluginDefinitionApi.ts
  ui/plugin-admin/src/plugindefinitions/hooks/useSecretApi.ts
  ui/plugin-admin/src/plugindefinitions/store.ts
  ui/plugin-admin/src/plugins/components/AsyncWorker.js
  ui/secret-admin/README.md
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/components/AsyncWorker.tsx
  ui/secret-admin/src/components/SecretFormHeader.tsx
  ui/secret-admin/src/hooks/useApi.ts
  ui/secret-admin/src/hooks/useNamespace.js
  ui/secret-admin/src/hooks/useSecretApi.ts
  ui/secret-admin/src/hooks/useWatch.ts
  ui/secret-admin/src/store.ts
  ui/types/types.ts
Labels: ui

migrate adrs to cloudoperators/documentation
  docs/architecture-decision-records/ADR-1_logical_authorization_concept_for_plugins.md
  docs/architecture-decision-records/ADR-2_technical_implementation_of_access_authorization_for_plugins.md
  docs/architecture-decision-records/ADR-3_location_of_plugins.md
  docs/architecture-decision-records/ADR-4_greenhouse_resource_status_reporting.md
  docs/architecture-decision-records/ADR-5_supported_kubernetes_versions.md
  docs/architecture-decision-records/README.md
  docs/architecture-decision-records/assets/0b91d753-b862-4e0c-b43e-e87f6fe852ee.png
  docs/architecture-decision-records/assets/5562b186-8744-4dc0-8d85-8d5edaf2150c.png
  docs/architecture-decision-records/assets/5f1b0a46-15f2-414b-99d5-8f102b67dcd8.png
  docs/architecture-decision-records/assets/7f365a58-5c96-4648-8c15-d53b32e5b3f7.png
  docs/architecture-decision-records/assets/9d6e6c65-1229-4aba-ab8f-a732f3e68e68.png
  docs/architecture-decision-records/assets/a0b55e95-8ded-47bb-96ce-67729b3f123c.png
  docs/architecture-decision-records/assets/b36ac896-60c0-4074-9f20-7e6c554f4ace.png
  docs/architecture-decision-records/assets/c652bfd8-2552-4eea-9e1a-89ee1a078e69.png
  docs/architecture-decision-records/assets/d315c458-b3b1-4ede-99cc-0d427dfe9d83.png
  docs/architecture-decision-records/assets/d5689168-6b71-4468-ac9e-ada131ec46c2.png
  docs/architecture-decision-records/assets/df757ef6-b316-4dec-b6de-a0ed0e5716a5.png
  docs/architecture-decision-records/assets/e23bbf83-02b3-44f2-9f5d-e1cd2f9b9dea.png
  docs/architecture-decision-records/assets/f8d6f6fd-2fe8-4ce1-8fc2-52bcc3d2ebd6.png
Labels: documentation

migrate adrs to cloudoperators/documentation (#327)
  docs/architecture-decision-records/ADR-1_logical_authorization_concept_for_plugins.md
  docs/architecture-decision-records/ADR-2_technical_implementation_of_access_authorization_for_plugins.md
  docs/architecture-decision-records/ADR-3_location_of_plugins.md
  docs/architecture-decision-records/ADR-4_greenhouse_resource_status_reporting.md
  docs/architecture-decision-records/ADR-5_supported_kubernetes_versions.md
  docs/architecture-decision-records/README.md
  docs/architecture-decision-records/assets/0b91d753-b862-4e0c-b43e-e87f6fe852ee.png
  docs/architecture-decision-records/assets/5562b186-8744-4dc0-8d85-8d5edaf2150c.png
  docs/architecture-decision-records/assets/5f1b0a46-15f2-414b-99d5-8f102b67dcd8.png
  docs/architecture-decision-records/assets/7f365a58-5c96-4648-8c15-d53b32e5b3f7.png
  docs/architecture-decision-records/assets/9d6e6c65-1229-4aba-ab8f-a732f3e68e68.png
  docs/architecture-decision-records/assets/a0b55e95-8ded-47bb-96ce-67729b3f123c.png
  docs/architecture-decision-records/assets/b36ac896-60c0-4074-9f20-7e6c554f4ace.png
  docs/architecture-decision-records/assets/c652bfd8-2552-4eea-9e1a-89ee1a078e69.png
  docs/architecture-decision-records/assets/d315c458-b3b1-4ede-99cc-0d427dfe9d83.png
  docs/architecture-decision-records/assets/d5689168-6b71-4468-ac9e-ada131ec46c2.png
  docs/architecture-decision-records/assets/df757ef6-b316-4dec-b6de-a0ed0e5716a5.png
  docs/architecture-decision-records/assets/e23bbf83-02b3-44f2-9f5d-e1cd2f9b9dea.png
  docs/architecture-decision-records/assets/f8d6f6fd-2fe8-4ce1-8fc2-52bcc3d2ebd6.png
Labels: documentation

Update charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts

fix(plugin): remove cluster validation during update
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
Labels: none

fix(image-retainer): typo in configmap name
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/container-image-retainer.yaml
Labels: helm-charts, dependencies

fix(image-retainer): typo in configmap name (#329)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/container-image-retainer.yaml
Labels: helm-charts, dependencies

feat: add tlsConfig.caCert to greenhouse prom (#325)
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts

fix: typo in values path
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

fix: typo in values path (#330)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

fix: typo in values path
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

fix: typo in values path (#331)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

fix: readd seperator between manifests
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

fix: readd seperator between manifests (#332)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

fix(plugin): remove cluster validation during update (#328)
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
Labels: none

fix(charts/greenhouse): set ingress annotations
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

fix(charts/greenhouse): set ingress annotations (#335)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

feat: bump k/*, k-sigs/*, helm to v1.30.2
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  go.mod
  go.sum
Labels: helm-charts, dependencies

fix: import order
  test/e2e/onboard_self_test.go
Labels: none

feat: add /test folder to codeowners
  .github/CODEOWNERS
Labels: none

fix: import order (#337)
  test/e2e/onboard_self_test.go
Labels: none
