Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

Use new CRDs in cluster-admin
  ui/cluster-admin/bootstrap/plugindefinitions.yaml
  ui/cluster-admin/bootstrap/plugins.yaml
  ui/cluster-admin/network-host.docker-compose.yaml
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/scripts/templates/metadata.yaml
  ui/cluster-admin/src/components/ClusterDetail.tsx
  ui/cluster-admin/src/components/ClusterListItem.tsx
  ui/cluster-admin/src/components/ClusterPluginList.tsx
  ui/cluster-admin/src/components/ConditionList.tsx
  ui/cluster-admin/src/hooks/useGetPlugin.ts
  ui/cluster-admin/src/hooks/useUrlState.ts
  ui/cluster-admin/src/hooks/useWatch.ts
  ui/cluster-admin/src/store.ts
  ui/cluster-admin/src/types/schema.d.ts
  ui/cluster-admin/src/types/types.ts
Labels: ui

fix(make) generate-manifests removes 2-line license headers
  Makefile
Labels: none

Use new CRDs in plugin-admin
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useClient.js
Labels: ui

fix teamrolebinding clusterName description
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
Labels: helm-charts, core-apis, documentation

Automatic application of license header
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  ui/cluster-admin/src/types/schema.d.ts
Labels: helm-charts, ui

fix rebase error
  pkg/admission/plugin_webhook_test.go
Labels: none

fix(ui): rebuild plugin-admin
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

fix(ui): rebuild plugin-admin (#113)
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

fix(license): no automatic license headers on helm templates (#93)
  .github/licenserc.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

fix(manager chart): undo renaming of label
  charts/manager/templates/servicemonitor.yaml
Labels: helm-charts

fix(gh-actions) Fix warnings (#111)
  .github/workflows/helm-lint.yaml
  Makefile
Labels: none

fix(renovate) add minimumReleaseAge to all packagerules
  .github/renovate.json
Labels: none

Update Dockerfile.dev-env
  Dockerfile.dev-env
Labels: none

Update Dockerfile.dev-env (#117)
  Dockerfile.dev-env
Labels: none

fix(renovate) add minimumReleaseAge to all packagerules (#116)
  .github/renovate.json
Labels: none

Extend alerts plugin template by adding new attribute silenceTemplates.
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts

feat(gh-actions) helm package & publish
  .github/workflows/helm-push.yaml
Labels: none

fix: empty section between colons
  charts/greenhouse/values.yaml
Labels: helm-charts

[cluster-admin] miniwidth col-0, close panel on Listitemclick
  ui/cluster-admin/src/components/ClusterList.tsx
  ui/cluster-admin/src/components/ClusterListItem.tsx
Labels: ui

added test values
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

removed blank lines
  charts/greenhouse/ci/test-values.yaml
Labels: helm-charts

removed test values since not required attribute
  charts/greenhouse/ci/test-values.yaml
Labels: helm-charts

[cluster-admin] added hover / active highlighting.
  ui/cluster-admin/src/AppContent.tsx
  ui/cluster-admin/src/components/ClusterList.tsx
  ui/cluster-admin/src/components/ClusterListItem.tsx
  ui/cluster-admin/src/styles.scss
Labels: ui

[cluster-admin] restructure to unselect items
  ui/cluster-admin/src/components/ClusterDetail.tsx
  ui/cluster-admin/src/components/ClusterListItem.tsx
  ui/cluster-admin/src/store.ts
Labels: ui

[cluster-admin] useStore not mock
  ui/cluster-admin/src/AppContent.tsx
Labels: ui

[cluster-admin] fix AppContent
  ui/cluster-admin/src/AppContent.tsx
Labels: ui

[cluster-admin] iterate version
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

feat(codeowners): more granular owners for .github
  .github/CODEOWNERS
Labels: none

fix(makefile) pwd to shell pwd
  Makefile
Labels: none

[team-admin] change the default value of isMock to false in package.json
  ui/team-admin/package.json
Labels: ui

fix(makefile) pwd to shell pwd (#123)
  Makefile
Labels: none

Introduce git commit short sha as image tag
  .github/workflows/docker-build.yaml
Labels: none

feat(codeowners): more granular owners for .github (#121)
  .github/CODEOWNERS
Labels: none

Update .github/workflows/docker-build.yaml
  .github/workflows/docker-build.yaml
Labels: none

Update .github/workflows/docker-build.yaml
  .github/workflows/docker-build.yaml
Labels: none

Introduce git commit short sha as image tag (#126)
  .github/workflows/docker-build.yaml
Labels: none

added value so it can compile helm charts
  charts/greenhouse/values.yaml
Labels: helm-charts

no "sha-" prefix on docker tag
  .github/workflows/docker-build.yaml
Labels: none

no "sha-" prefix on docker tag (#127)
  .github/workflows/docker-build.yaml
Labels: none

fix(makefile) rm tty
  Makefile
Labels: none
