Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

deleted unused files
  docs/reference/api/api-reference.md
  docs/reference/api/openapi.yaml
Labels: documentation

Setup for gen-crd-api-reference-docs
  .gitignore
  Makefile
  docs/reference/api/index.html
  hack/gen-crd-api-reference-docs/config.json
  hack/gen-crd-api-reference-docs/generate-api-docs.sh
  hack/gen-crd-api-reference-docs/templates/members.tpl
  hack/gen-crd-api-reference-docs/templates/pkg.tpl
  hack/gen-crd-api-reference-docs/templates/type.tpl
  pkg/apis/greenhouse/doc.go
  pkg/apis/greenhouse/v1alpha1/doc.go
Labels: core-apis, documentation

upgrade to local templater
  website/go.mod
  website/hugo.yaml
Labels: none

Automatic application of license header
  pkg/apis/greenhouse/doc.go
  pkg/apis/greenhouse/v1alpha1/doc.go
  website/assets/icons/logo.svg
  website/assets/scss/_custom_styles_project.scss
  website/layouts/partials/footer-custom-area.html
  website/layouts/partials/navbar-custom-items.html
  website/static/assets/greenhouse_logo.svg
Labels: core-apis

docker api to cli
  go.mod
  go.sum
  test/e2e/local-cluster/create_cluster.go
Labels: dependencies

more logging
  test/e2e/local-cluster/create_cluster.go
Labels: none

fix(teamrbac): Remove cluster existence check (#362)
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
Labels: none

fix(PluginDefinitions): Disallow defaulting of Option with Type Secret
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
Labels: core-apis

Update Dockerfile.dev-env
  Dockerfile.dev-env
Labels: none

feat(idproxy): collect metrics from exposed port
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/service.yaml
  charts/idproxy/templates/servicemonitor.yaml
Labels: helm-charts, idproxy, dependencies

fix(ui): remove default verbose output on api calls
  ui/.gitignore
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/hooks/useApi.ts
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/secretProps.template.json
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/hooks/useApi.ts
Labels: ui

fix(ui): remove default verbose output on api calls (#367)
  ui/.gitignore
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/hooks/useApi.ts
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/secretProps.template.json
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/hooks/useApi.ts
Labels: ui

Update pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
Labels: core-apis

Update pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook.go
Labels: none

Rename workflow to fit it to the naming convention
  .github/workflows/deploy-github-pages.yaml
Labels: none

generate crd api docs workflow
  .github/workflows/check-changes-crd-api.yaml
  .github/workflows/gen-crd-api-to-docs.yaml
Labels: none

feat(idproxy): collect metrics from exposed port (#364)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/service.yaml
  charts/idproxy/templates/servicemonitor.yaml
Labels: helm-charts, idproxy, dependencies

test change
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
Labels: core-apis

rename workflow just for testing
  .github/workflows/check-changes-crd-api.yaml
Labels: none

Add test for json value illustration
  pkg/admission/plugindefinition_webhook_test.go
Labels: none

feat(cors-proxy): add and collect http metrics
  charts/cors-proxy/Chart.yaml
  charts/cors-proxy/templates/deployment.yaml
  charts/cors-proxy/templates/service.yaml
  charts/cors-proxy/templates/servicemonitor.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  cmd/cors-proxy/instrumentation.go
  cmd/cors-proxy/main.go
Labels: helm-charts, dependencies

Fix tests
  pkg/admission/plugindefinition_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
Labels: core-apis

fix(teamrbac): remove unused params
  pkg/admission/teamrolebinding_webhook.go
Labels: none

return the handler directly
  cmd/cors-proxy/instrumentation.go
Labels: none

fix(PluginDefinitions): Disallow defaulting of Option with Type Secret (#365)
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
Labels: core-apis

add the config and templates
  hack/gen-crd-api-reference-docs/config.json
  hack/gen-crd-api-reference-docs/generate-api-docs.sh
  hack/gen-crd-api-reference-docs/templates/members.tpl
  hack/gen-crd-api-reference-docs/templates/pkg.tpl
  hack/gen-crd-api-reference-docs/templates/type.tpl
Labels: none

moved to another pr
  hack/gen-crd-api-reference-docs/config.json
  hack/gen-crd-api-reference-docs/generate-api-docs.sh
  hack/gen-crd-api-reference-docs/templates/members.tpl
  hack/gen-crd-api-reference-docs/templates/pkg.tpl
  hack/gen-crd-api-reference-docs/templates/type.tpl
Labels: none

fix(teamrbac): remove unused params (#369)
  pkg/admission/teamrolebinding_webhook.go
Labels: none

test
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
Labels: core-apis

rename metrics port flag
  cmd/cors-proxy/main.go
Labels: none

add package files
  pkg/apis/greenhouse/doc.go
  pkg/apis/greenhouse/v1alpha1/doc.go
Labels: core-apis

moved to another pr
  pkg/apis/greenhouse/doc.go
Labels: core-apis

moved to another pr
  pkg/apis/greenhouse/v1alpha1/doc.go
Labels: core-apis

add outputs
  .github/workflows/gen-crd-api-to-docs.yaml
Labels: none

just show some lines
  .github/workflows/gen-crd-api-to-docs.yaml
Labels: none

some debug
  .github/workflows/gen-crd-api-to-docs.yaml
Labels: none

mistaken path
  .github/workflows/check-changes-crd-api.yaml
Labels: none

rename file
  .github/workflows/check-changes-crd-api.yaml
Labels: none

add some checkout credentials
  .github/workflows/gen-crd-api-to-docs.yaml
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/index.html
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
