Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

remove test
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
Labels: core-apis

removed test sh file
  hack/gen-crd-api-reference-docs/generate-api-docs.sh
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/index.html
Labels: documentation

reference to main
  .github/workflows/check-changes-crd-api.yaml
Labels: none

clean up workflow
  .github/workflows/gen-crd-api-to-docs.yaml
Labels: none

feat(cors-proxy): add and collect http metrics (#366)
  charts/cors-proxy/Chart.yaml
  charts/cors-proxy/templates/deployment.yaml
  charts/cors-proxy/templates/service.yaml
  charts/cors-proxy/templates/servicemonitor.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  cmd/cors-proxy/instrumentation.go
  cmd/cors-proxy/main.go
Labels: helm-charts, dependencies

fix(plugindefinition): rename the plugin.yaml to plugindefinition.yaml
  docs/user-guides/plugin/deploying.md
  docs/user-guides/plugin/development.md
  pkg/cmd/plugin_generate.go
  pkg/cmd/plugin_validate.go
  website/scripts/sync-plugin-catalog-from-greenhouse-extensions
Labels: documentation

fix(plugindefinition): rename the plugin.yaml to plugindefinition.yaml (#370)
  docs/user-guides/plugin/deploying.md
  docs/user-guides/plugin/development.md
  pkg/cmd/plugin_generate.go
  pkg/cmd/plugin_validate.go
  website/scripts/sync-plugin-catalog-from-greenhouse-extensions
Labels: documentation

fix(hugo): get description from plugindefinition.yaml
  .github/workflows/hugo.yaml
Labels: none

fix(teamRBAC): ensure status updated on cluster not found
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: none

feat(dev-env): Move dev-env to core repo (#353)
  .github/CODEOWNERS
  .github/workflows/docker-build.yaml
  Dockerfile.dev-env
  Dockerfile.dev-ui
  cmd/dev-env/main.go
  dev-env/.gitignore
  dev-env/README.md
  dev-env/bootstrap/additional_resources/clusters.yaml
  dev-env/bootstrap/additional_resources/nodes.yaml
  dev-env/bootstrap/additional_resources/plugins.yaml
  dev-env/bootstrap/additional_resources/teams.yaml
  dev-env/bootstrap/core/test-org.yaml
  dev-env/build/greenhouse-ui/secretProps.json
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
  docs/user-guides/plugin/development.md
Labels: documentation

fix(dev-env): Failing docker builds
  Dockerfile.dev-env
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
Labels: none

Remove dev-ui docker build from gh action and add docs
  .github/workflows/docker-build.yaml
  docs/contribute/local-dev.md
Labels: documentation

fix(dev-env): Failing docker builds (#374)
  .github/workflows/docker-build.yaml
  Dockerfile.dev-env
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
Labels: documentation

fix(hugo): get description from plugindefinition.yaml (#371)
  .github/workflows/hugo.yaml
Labels: none

upgrade to hugo-documentation-templater v2
  website/go.mod
  website/go.sum
  website/hugo.yaml
Labels: none

remove link in the footer
  website/layouts/partials/footer-custom-area.html
Labels: none

add verbose logging
  test/e2e/local-cluster/create_cluster.go
Labels: none

Prepare tests to use KIND setup
  Makefile
  pkg/test/env.go
  pkg/test/util.go
  test/e2e/README.md
  test/e2e/onboard_self_test.go
Labels: none

revert changes on global makefile
  Makefile
Labels: none

update make file in website to run it locally
  website/Makefile
Labels: none

removed not used file
  website/scripts/copy-content-from-docs
Labels: none

restore apenapi.yaml file
  docs/reference/api/openapi.yaml
Labels: documentation

Only generate openapi.yaml with __generate-wrapper
  Makefile
  hack/openapi-generator/_generate-wrapper
Labels: none

chore(website): upgraded website to new templater version, fix generating CRDs documentation and refactoring (#363)
  .gitignore
  Makefile
  _config.yaml
  docs/architecture/_index.md
  docs/contribute/_index.md
  docs/contribute/plugins.md
  docs/getting-started/_index.md
  docs/reference/_index.md
  docs/reference/api/api-reference.md
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/reference/catalog/_index.md
  docs/user-guides/_index.md
  docs/user-guides/cluster/_index.md
  docs/user-guides/organization/_index.md
  docs/user-guides/plugin/_index.md
  docs/user-guides/team/_index.md
  website/Makefile
  website/assets/icons/logo.svg
  website/assets/scss/_custom_styles_project.scss
  website/go.mod
  website/go.sum
  website/hugo.yaml
  website/layouts/partials/footer.html
  website/layouts/partials/landing-page-section-footer-user-docu.html
  website/layouts/partials/landing-page.html
  website/layouts/partials/navbar-custom-items.html
  website/layouts/partials/navbar.html
  website/scripts/copy-content-from-docs
  website/static/assets/greenhouse_logo.svg
Labels: documentation

chore(pages-workflow) rename and remove oudated steps
  .github/workflows/deploy-githug-pages.yaml
Labels: none

fix(deploy-github-pages) rename workflow after naming convention and remove outdated steps (#377)
  .github/workflows/deploy-githug-pages.yaml
Labels: none

chore(hugo) upgrade version of hugo in the workflow
  .github/workflows/deploy-githug-pages.yaml
Labels: none

chore(hugo) upgrade version of hugo in the workflow (#378)
  .github/workflows/deploy-githug-pages.yaml
Labels: none

move index to docs with the rest of the documentation setup
  docs/_index.md
Labels: documentation

add fixed version of autoprefixer and postcss-cli so it can be reproduce locally also
  .github/workflows/deploy-githug-pages.yaml
  website/package-lock.json
  website/package.json
Labels: none

ignore node_modules
  .gitignore
Labels: none

chore(hugo-npm-deps) add package.json with fix dependencies so we have the same setup locally and in the CI. Moved index file to docs (#379)
  .github/workflows/deploy-githug-pages.yaml
  .gitignore
  docs/_index.md
  website/package-lock.json
  website/package.json
Labels: documentation

fix(workflow) run npm ci in the website folder
  .github/workflows/deploy-githug-pages.yaml
Labels: none

fix(workflow) run npm ci in the website folder (#380)
  .github/workflows/deploy-githug-pages.yaml
Labels: none

fix(website): Remove local-dev link from homepage
  docs/contribute/local-dev.md
Labels: documentation

fix(website): Remove local-dev link from homepage (#381)
  docs/contribute/local-dev.md
Labels: documentation

fix(envtest) bump envtest to v1.30.2
  Dockerfile.dev-env
Labels: none

fix(envtest) bump envtest to v1.30.2 (#382)
  Dockerfile.dev-env
Labels: none

feat(renovate) add helm-go, wait 14 days for patch versions
  .github/renovate.json
Labels: none
