Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

Update version in package.json
  ui/cluster-admin/package.json
Labels: ui

[cluster-admin] update package-lock with correct version
  ui/cluster-admin/package-lock.json
Labels: ui

[cluster-admin] Fix dependencies. Don't use latest (#47)
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

fix(renovate) fix invalid json
  .github/renovate.json
Labels: none

fix(headscale) fix leftover files in template
  charts/headscale/templates/etc/_acl_policy.yaml
  charts/headscale/templates/etc/_config.yaml
  charts/headscale/templates/etc/_derp.yaml
  charts/headscale/templates/etc/configmap.yaml
Labels: helm-charts, headscale

fix test
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/pluginconfig/remote_cluster_test.go
  pkg/controllers/pluginconfig/suite_test.go
Labels: core-apis

feat(role&bindings): enable webhooks (#45)
  cmd/greenhouse/webhooks.go
Labels: none

enforce clusterName configured on pluginconfig (#41)
  pkg/admission/pluginconfig_webhook.go
  pkg/admission/pluginconfig_webhook_test.go
  pkg/admission/utils.go
  pkg/cmd/cluster_bootstrap.go
  pkg/controllers/pluginconfig/remote_cluster_test.go
  pkg/controllers/pluginconfig/suite_test.go
Labels: none

fix(renovate) fix invalid json (#48)
  .github/renovate.json
Labels: none

Fix head scale chart leftover license header in etc (#49)
  charts/headscale/templates/etc/_acl_policy.yaml
  charts/headscale/templates/etc/_config.yaml
  charts/headscale/templates/etc/_derp.yaml
  charts/headscale/templates/etc/configmap.yaml
Labels: helm-charts, headscale

feat: add issue and pr templates
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: none

fix(CODEOWNERS): ensure single files are only matched under root
  .github/CODEOWNERS
Labels: none

[plugin-admin] fix filename of UrlState hook for case sensitivity
  ui/plugin-admin/src/hooks/useUrlState.js
Labels: ui

[plugin-admin] fix filename of UrlState hook for case sensitivity (#53)
  ui/plugin-admin/src/hooks/useUrlState.js
Labels: ui

fix(CODEOWNERS): ensure single files are only matched under root (#52)
  .github/CODEOWNERS
Labels: none

fix(charts) repository for images in headscale, tailscale-proxy
  charts/headscale/values.yaml
  charts/tailscale-proxy/values.yaml
Labels: helm-charts, headscale

feat: add issue and pr templates (#51)
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: none

fix(charts) repository for images in headscale, tailscale-proxy (#57)
  charts/headscale/values.yaml
  charts/tailscale-proxy/values.yaml
Labels: helm-charts, headscale

fix: deletion failed if remote rolebinding was never created
  pkg/controllers/rbac/rolebinding_controller.go
Labels: none

feat(teamrole): ensure referenced resources exist
  pkg/admission/pluginconfig_webhook_test.go
  pkg/admission/role_webhook_test.go
  pkg/admission/rolebinding_webhook.go
  pkg/admission/rolebinding_webhook_test.go
  pkg/admission/webhook_suite_test.go
Labels: none

fix(chart) headscalectl image name and tag
  charts/headscale/values.yaml
Labels: helm-charts, headscale

fix(chart) headscalectl image name and tag (#62)
  charts/headscale/values.yaml
Labels: helm-charts, headscale

feat(renovate) renovate updates gh-actions
  .github/renovate.json
  .github/workflows/ghactions-updater.yaml
Labels: none

feat(rbac): prefix remotely created role and binding
  pkg/apis/extensions.greenhouse/well_known.go
  pkg/controllers/rbac/rolebinding_controller.go
  pkg/controllers/rbac/rolebinding_controller_test.go
Labels: core-apis

feat(teamrbac): rename role and rolebinding
  PROJECT
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  charts/manager/crds/kustomization.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  cmd/greenhouse/webhooks.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/teamrole_webhook.go
  pkg/admission/teamrole_webhook_test.go
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/admission/webhook_suite_test.go
  pkg/apis/extensions.greenhouse/v1alpha1/groupversion_info.go
  pkg/apis/extensions.greenhouse/v1alpha1/rolebinding_types.go
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions.greenhouse/well_known.go
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/well_known.go
  pkg/clientutil/client.go
  pkg/controllers/rbac/rolebinding_controller.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/env.go
Labels: helm-charts, core-apis, documentation

Automatic application of license header
  charts/manager/crds/greenhouse.sap_teams.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

Feat/renovate actions (#69)
  .github/renovate.json
  .github/workflows/ghactions-updater.yaml
Labels: none

fix(license-header) change template/yaml comment style
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

feat(teamrbac): grant permissions to OrgAdmins and ClusterAdmins
  pkg/rbac/role.go
Labels: none

feat(teamrbac): rename Role & RoleBinding (#70)
  PROJECT
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/kustomization.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  cmd/greenhouse/webhooks.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/pluginconfig_webhook_test.go
  pkg/admission/teamrole_webhook.go
  pkg/admission/teamrole_webhook_test.go
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/admission/webhook_suite_test.go
  pkg/apis/extensions.greenhouse/v1alpha1/groupversion_info.go
  pkg/apis/extensions.greenhouse/v1alpha1/rolebinding_types.go
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions.greenhouse/well_known.go
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/well_known.go
  pkg/clientutil/client.go
  pkg/controllers/rbac/rolebinding_controller.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/env.go
Labels: helm-charts, core-apis, documentation

feat(teamrbac): grant permissions to OrgAdmins and ClusterAdmins (#72)
  pkg/rbac/role.go
Labels: none

fix(headscale): UI container is crashlooping with latest beta release
  charts/headscale/values.yaml
Labels: helm-charts, headscale

seed default cluster-admin role in each org
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  pkg/controllers/organization/teamrole_seeder_controller.go
Labels: helm-charts

add documentation
  docs/user-guides/team/rbac.md
Labels: documentation

make generate-all
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic application of license header
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

fix(headscale): UI container is crashlooping with latest beta release (#74)
  charts/headscale/values.yaml
Labels: helm-charts, headscale

fix(codeowners): dedicated entry for openapi docs
  .github/CODEOWNERS
Labels: none

[plugin-admin] Added Status as a Panel-Heading
  ui/plugin-admin/src/components/PluginDetail.js
Labels: ui

Update docs/user-guides/team/rbac.md
  docs/user-guides/team/rbac.md
Labels: documentation
