Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

add scenarios where organization is deleted
  e2e/organization/e2e_test.go
  e2e/organization/testdata/organization_1.yaml
Labels: none

feat(organizations): implement basic e2e tests for organization-controller (#1255)
  e2e/organization/e2e_test.go
Labels: none

fix: add missing import
  e2e/cluster/e2e_test.go
Labels: none

feat(webhook): allow kube-monitoring and thanos (#1238) (#1276)
  internal/webhook/v1alpha1/plugin_webhook.go
Labels: none

fix: enable go build tag in organization e2e, add eventually when checking helm release expected values
  e2e/organization/e2e_test.go
  internal/controller/plugin/suite_test.go
Labels: none

fix: add Eventually to a flaky plugin e2e test
  e2e/plugin/e2e_test.go
Labels: none

fix(tests): failing unit tests (#1280)
  e2e/organization/e2e_test.go
  e2e/plugin/e2e_test.go
  internal/controller/plugin/suite_test.go
Labels: none

feat: add performance tests in e2e for measuring plugin webhook latency with and without owner label
  e2e/perf/e2e_test.go
  e2e/perf/fixtures/fixtures.go
  e2e/perf/testdata/organization.yaml
  e2e/shared/cluster.go
  e2e/shared/e2e.go
  internal/test/assert.go
Labels: none

feat: replace rerunning the manager with polling in tests, add check if all plugins have been deleted
  e2e/perf/e2e_test.go
  e2e/perf/fixtures/fixtures.go
  e2e/shared/e2e.go
Labels: none

fix: fix computing and setting the OwnerLabelSetCondition
  internal/controller/cluster/cluster_status.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/util/conditions.go
Labels: none

fix: fix conditions tests
  internal/util/conditions_test.go
Labels: none

docs(teamrbac): rework documentation
  docs/getting-started/core-concepts/teams.md
  docs/user-guides/team/rbac.md
Labels: documentation

fix(plugins): ensure flux and helm controller do not manage same plugin
  internal/controller/flux/plugin_controller.go
  internal/controller/plugin/plugin_controller.go
Labels: none

fix(plugins): ensure flux and helm controller do not manage same plugin
  internal/controller/flux/plugin_controller.go
  internal/controller/plugin/plugin_controller.go
Labels: none

feat: disable plugin and kubeconfig controllers before running the perf tests and then reenable them afterwards
  e2e/perf/e2e_test.go
  e2e/shared/e2e.go
Labels: none

fix(plugins): ensure flux deployment label
  api/well_known.go
  internal/controller/flux/plugin_controller.go
  internal/webhook/v1alpha1/plugin_webhook.go
Labels: core-apis

fix(plugins): ensure flux and helm controller do not manage same plugin (#1283)
  internal/controller/flux/plugin_controller.go
  internal/controller/plugin/plugin_controller.go
Labels: none

fix(plugins): use in-cluster kubeconfig for central cluster
  internal/flux/builder.go
Labels: none

fix(plugins): use in-cluster kubeconfig for central cluster (#1285)
  internal/flux/builder.go
Labels: none

feat: change the report after perf tests
  e2e/perf/e2e_test.go
  e2e/shared/utils.go
Labels: none

feat: remove the timeout and polling from EventuallyDeleted
  internal/test/assert.go
Labels: none

(chore): fix merge conflicts
  internal/controller/cluster/bootstrap_controller.go
Labels: none

(chore): update e2e test
  e2e/cluster/e2e_test.go
Labels: none

fix(plugins): fix central cluster namespace validation
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
Labels: none

fix(plugins): fix central cluster namespace validation
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
Labels: none

fix(plugins): fix central cluster namespace validation (#1288)
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
Labels: none

fix(plugins): fix central cluster namespace validation (#1288)
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
Labels: none

fix(plugins): fix central cluster namespace validation (#1288) (#1289)
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

make organization reference single ConfigMap
  api/v1alpha1/organization_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/index.html
Labels: documentation

allow Organization resource to reference ConfigMap
  api/v1alpha1/organization_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
  internal/test/setup.go
Labels: helm-charts, core-apis

make organization reference whole config map instead of specific key
  api/v1alpha1/organization_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  internal/controller/organization/organization_controller.go
  internal/test/resources.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis

address review comment
  internal/test/resources.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

small refactor
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/util.go
Labels: none

(chore): update e2e test
  e2e/cluster/e2e_test.go
  e2e/cluster/expect/expect.go
Labels: none

(chore): offboard cluster
  e2e/cluster/e2e_test.go
Labels: none

add 'Accessible' and 'ManagedResourcesDeployed' cluster status conditions
  api/v1alpha1/cluster_types.go
  docs/user-guides/cluster/oidc_connectivity.md
  docs/user-guides/cluster/onboarding.md
  internal/cmd/cluster_bootstrap.go
  internal/common/permissions.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/status_test.go
Labels: core-apis, documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
