Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

docs(logging): updates monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(architecture): updates diagram for logging
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

chore(readme): Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): removing CRDs to make the diagram more streamlined
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

docs(logging): update monitoring.md (re adds opensearch)
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): updates logging arch diagram
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

Apply suggestions from code review
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): renames plugins and sorts them alphabetically
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

docs(logging): adds OpenSearch to diagram
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

docs(monitoring): updates docs for monitoring
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): changes capitalisation for the diagram
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): updates monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): fixes review comments
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
  docs/architecture/monitoring.md
Labels: documentation

docs(diagram): adds another diagram with a more detailed view into the observability setup
  docs/architecture/monitoring-architecture-detailed.png
Labels: documentation

chore(.gitignore): adds drawio bkp files to .gitignore
  .gitignore
Labels: none

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(diagram): reduces details for diagram
  docs/architecture/monitoring-architecture-detailed.png
Labels: documentation

feat(docs): adds ownership and label documentation (#1223)
  docs/getting-started/core-concepts/teams.md
  docs/getting-started/operations/ownership.md
  docs/getting-started/operations/processes.md
Labels: documentation

Update charts/manager/alerts/cluster.alerts
  charts/manager/alerts/cluster.alerts
Labels: helm-charts

feat(controller): enhances alerting (#1202)
  charts/manager/alerts/cluster.alerts
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/organization.alerts
  charts/manager/alerts/plugin.alerts
  charts/manager/alerts/proxies.alerts
  charts/manager/alerts/team.alerts
  charts/manager/ci/test-values.yaml
  internal/controller/cluster/metrics.go
  internal/controller/cluster/metrics_test.go
  internal/controller/organization/metrics.go
  internal/controller/organization/organization_controller.go
  internal/controller/plugin/helm_chart_testing.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/plugin_workload_status.go
  internal/controller/plugin/util.go
  internal/controller/teamrbac/metrics.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/helm/helm.go
  internal/metrics/plugin_metrics.go
  internal/metrics/plugin_metrics_test.go
Labels: helm-charts

feat: fix label propagation in bootstrap controller, change webhook warning messages, fix tests
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/cluster/status_test.go
  internal/controller/team/team_controller_test.go
  internal/webhook/v1alpha1/cluster_webhook.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/pluginpreset_webhook.go
Labels: none

fix func names after merge conflict
  internal/controller/flux/plugin_controller.go
  internal/controller/plugin/plugin_controller.go
Labels: none

(chore): checks token validity first
  internal/controller/cluster/cluster_controller.go
Labels: none

feat: adapt e2e tests
  e2e/cluster/e2e_test.go
  e2e/cluster/expect/expect.go
  e2e/conversion/e2e_test.go
  e2e/plugin/e2e_test.go
  e2e/shared/cluster.go
  internal/test/resources.go
Labels: none

feat: add owned-by label validation to TeamRoleBinding v1alpha1, adapt conversion e2e tests
  e2e/conversion/e2e_test.go
  e2e/shared/cluster.go
  internal/webhook/v1alpha1/teamrolebinding_webhook.go
  internal/webhook/v1alpha1/teamrolebinding_webhook_test.go
Labels: none

(chore): checks token validity first (#1251)
  internal/controller/cluster/cluster_controller.go
Labels: none

add perses
  internal/webhook/v1alpha1/plugin_webhook.go
Labels: none

fix(plugins): increase concurrent reconciles to 10
  internal/controller/plugin/plugin_controller.go
Labels: none

fix(plugins): increase concurrent reconciles to 10 (#1252)
  internal/controller/plugin/plugin_controller.go
Labels: none

fix(plugins): increase concurrent reconciles to 10 (#1252)
  internal/controller/plugin/plugin_controller.go
Labels: none

chore(ui): bump ui image to 0.6.8
  charts/dashboard/Chart.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

(chore): fix typo
  internal/helm/diff.go
Labels: none

fix(teamrolebindings): RBACReady not flapping, remove unset condition
  internal/controller/teamrbac/teamrolebinding_controller.go
Labels: none
