Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

[feature] sync issues labeled jira (#299)
  .github/workflows/sync-issues-to-jira.yaml
Labels: none

Update sync-issues-to-jira.yaml
  .github/workflows/sync-issues-to-jira.yaml
Labels: none

fix(teamrbac): run generate manifests (#298)
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
Labels: helm-charts

Set the badge under the title
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
Labels: ui

use reuse workflows from juno
  .github/workflows/3rd-party-licenses.yaml
  .github/workflows/ci-npm-packages.yaml
Labels: none

prettify file
  ui/helpers/appProps.js
Labels: ui

prettify file
  ui/types/package.json
Labels: ui

exclude helpers, types and utils from the pipeline
  .github/workflows/ci-npm-packages.yaml
Labels: none

filter out unwanted folder within ui
  .github/workflows/ci-npm-packages.yaml
Labels: none

fixed typo
  .github/workflows/ci-npm-packages.yaml
Labels: none

feat(workflows) build a CI workflow reusing Juno workflows (#306)
  .github/workflows/3rd-party-licenses.yaml
  .github/workflows/ci-npm-packages.yaml
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/helpers/appProps.js
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
  ui/types/package.json
Labels: ui

feat(codeowners): change owner of workflows folder to core team
  .github/CODEOWNERS
Labels: none

feat(plugin): make exposed port configurable by name
  pkg/apis/well_known.go
  pkg/controllers/plugin/util.go
Labels: core-apis

fix(apps) fixed display 'built wiht juno' in the app readmes with the hosted svg
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
Labels: ui

fix(apps) fixed display 'built wiht juno' in the app readmes with the hosted svg (#309)
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
Labels: ui

Better description
  pkg/apis/well_known.go
Labels: core-apis

fix(plugin): fetch label from service
  pkg/apis/well_known.go
  pkg/controllers/plugin/util.go
Labels: core-apis

test(plugin): adding test for named ports exposal
  pkg/controllers/plugin/util_test.go
Labels: none

feat(codeowners): change owner of workflows folder to core team (#307)
  .github/CODEOWNERS
Labels: none

style(plugin): easier fetching of label
  pkg/controllers/plugin/util.go
Labels: none

feat(plugin): make exposed port configurable by name (#308)
  pkg/apis/well_known.go
  pkg/controllers/plugin/util.go
  pkg/controllers/plugin/util_test.go
Labels: core-apis

fix audit for dashboard
  ui/dashboard/package-lock.json
Labels: ui

fix audit for org-admin
  ui/org-admin/package-lock.json
Labels: ui

fix audit for pluginAdmin
  ui/plugin-admin/package-lock.json
Labels: ui

fix audit for teamAdmin
  ui/team-admin/package-lock.json
Labels: ui

chore(dashboard,orgAdmin,pluginAdmin,teamAdmin) fix vulnerabilities upgrading dependencies (#310)
  ui/dashboard/package-lock.json
  ui/org-admin/package-lock.json
  ui/plugin-admin/package-lock.json
  ui/team-admin/package-lock.json
Labels: ui

Update env.go
  pkg/test/env.go
Labels: none

go mod tidy: go: sigs.k8s.io/e2e-framework@v0.4.0 requires go >= 1.22.3; switching to go1.22.4
  go.mod
Labels: dependencies

klog to log
  test/e2e/local-cluster/create_cluster.go
Labels: none

remove wait.for block for organization namespace
  test/e2e/local-cluster/create_cluster.go
Labels: none

update value propositions image
  docs/assets/value-propositions.png
Labels: documentation

remove deployTestOrganization
  test/e2e/local-cluster/create_cluster.go
Labels: none

clean unused variable
  test/e2e/local-cluster/create_cluster.go
Labels: none

error logging
  test/e2e/local-cluster/create_cluster.go
Labels: none

simplify makefile
  Makefile
Labels: none

flags
  test/e2e/local-cluster/create_cluster.go
Labels: none

helm values
  test/e2e/local-cluster/create_cluster.go
Labels: none

init adrs
  docs/architecture-decision-records/ADR-10_staged_plugin_rollouts.md
  docs/architecture-decision-records/ADR-6_plugin_config_options.md
  docs/architecture-decision-records/ADR-7_generalization.md
  docs/architecture-decision-records/ADR-8_kube_monitoring.md
  docs/architecture-decision-records/ADR-9_versioning_and_release.md
Labels: documentation

Update overview.md
  docs/getting-started/overview.md
Labels: documentation

Update overview.md
  docs/getting-started/overview.md
Labels: documentation
