Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

(chore): addresses race condition
  internal/test/setup.go
Labels: none

(chore): parses propagate label annotation as comma separated values
  internal/lifecycle/propagation.go
  internal/lifecycle/propagation_test.go
Labels: none

(chore): organization set ordered tests
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy_test.go
Labels: none

(chore): fix propagate annotation in bootstrap cluster test
  internal/controller/cluster/bootstrap_controller_test.go
Labels: none

(chore): update preset unit test
  internal/controller/plugin/pluginpreset_controller_test.go
Labels: none

feat(charts): add setting of image digest
  charts/cors-proxy/Chart.yaml
  charts/cors-proxy/templates/_helpers.tpl
  charts/cors-proxy/templates/deployment.yaml
  charts/cors-proxy/values.yaml
  charts/dashboard/Chart.yaml
  charts/dashboard/ci/test-values.yaml
  charts/dashboard/templates/_helpers.tpl
  charts/dashboard/templates/deployment.yaml
  charts/dashboard/values.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/_helpers.tpl
  charts/idproxy/templates/deployment.yaml
  charts/idproxy/values.yaml
  charts/manager/templates/_helpers.tpl
  charts/manager/templates/manager/deployment.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/values.yaml
Labels: helm-charts, idproxy, dependencies

feat(plugin): add ReleaseName field and defaulting logic
  api/v1alpha1/plugin_types.go
  docs/user-guides/plugin/plugin-deployment.md
  internal/helm/helm.go
  internal/test/resources.go
  internal/webhook/plugin_webhook.go
  internal/webhook/plugin_webhook_test.go
Labels: core-apis, documentation

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

regenerate crds
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
Labels: helm-charts

set releaseName for service-proxy
  internal/controller/organization/service_proxy.go
Labels: none

ensure releaseName is compliant with helm
  internal/webhook/plugin_webhook.go
  internal/webhook/plugin_webhook_test.go
  internal/webhook/pluginpreset_webhook.go
Labels: none

ensure helm release used consistently
  api/v1alpha1/plugin_types.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/helm/helm.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

regenerate api-docs
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(charts): add setting of image digest (#1151)
  charts/cors-proxy/Chart.yaml
  charts/cors-proxy/templates/_helpers.tpl
  charts/cors-proxy/templates/deployment.yaml
  charts/cors-proxy/values.yaml
  charts/dashboard/Chart.yaml
  charts/dashboard/ci/test-values.yaml
  charts/dashboard/templates/_helpers.tpl
  charts/dashboard/templates/deployment.yaml
  charts/dashboard/values.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/_helpers.tpl
  charts/idproxy/templates/deployment.yaml
  charts/idproxy/values.yaml
  charts/manager/templates/_helpers.tpl
  charts/manager/templates/manager/deployment.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/values.yaml
Labels: helm-charts, idproxy, dependencies

(chore): fix unit tests
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy_test.go
  internal/test/resources.go
  internal/test/setup.go
Labels: none

(chore): merge from origin
  internal/controller/plugin/pluginpreset_controller_test.go
Labels: none

feat: add e2e tests for conversion, wip
  e2e/conversion/e2e_test.go
  e2e/conversion/testdata/organization.yaml
Labels: none

(chore): apply review suggestions
  internal/controller/organization/organization_controller_test.go
  internal/lifecycle/propagation.go
Labels: none

(chore): adds gstruct import for gomega matchers
  internal/controller/organization/organization_controller_test.go
Labels: none

feat: change openapi specification generation to support multiversion by using only the served and storage version
  docs/reference/api/openapi.yaml
  hack/openapi-generator/_generate-wrapper
  hack/openapi-generator/generate-openapi-spec-from-crds
  hack/openapi-generator/openapi-info.yaml
  types/typescript/schema.d.ts
Labels: documentation

Automatic application of license header
  types/typescript/schema.d.ts
Labels: none

test headers GHA
  test.go
Labels: none

feat(docs): updates docs for Logging to be more in-line with the Apeiro branding
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

docs(monitoring): updates docs for monitoring
  docs/architecture/monitoring.md
Labels: documentation

fix: move teamRoleRef indexing to main to allow TeamRole removal
  cmd/greenhouse/main.go
  internal/controller/teamrbac/teamrolebinding_controller.go
Labels: none

fix: fix conversion e2e tests
  e2e/conversion/e2e_test.go
Labels: none

fix: add teamrolebinding index for all integration tests
  internal/controller/teamrbac/suite_test.go
  internal/webhook/v1alpha1/teamrole_webhook_test.go
  internal/webhook/v1alpha1/webhook_suite_test.go
  internal/webhook/v1alpha2/webhook_suite_test.go
Labels: none

fix(teamroles): add fieldindex in webhook setup
  internal/clientutil/error.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/webhook/teamrole_webhook.go
  internal/webhook/teamrole_webhook_test.go
  internal/webhook/webhook_suite_test.go
Labels: none

feat(clusters): propgate lables from cluster secret to cluster (#1140)
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy_test.go
  internal/lifecycle/propagation.go
  internal/lifecycle/propagation_test.go
  internal/test/resources.go
  internal/test/setup.go
  internal/test/util.go
Labels: none

fix(teamroles): add fieldindex in webhook setup (#1155)
  internal/clientutil/error.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/webhook/teamrole_webhook.go
  internal/webhook/teamrole_webhook_test.go
  internal/webhook/webhook_suite_test.go
Labels: none

fix(teamroles): add fieldindex in webhook setup (#1155)
  internal/clientutil/error.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/webhook/teamrole_webhook.go
  internal/webhook/teamrole_webhook_test.go
  internal/webhook/webhook_suite_test.go
Labels: none

docs(architecture): updates diagram for logging
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

(chore): use controller util update for label propagation
  internal/controller/plugin/pluginpreset_controller.go
Labels: none

(chore): removes unused method
  internal/clientutil/patch.go
Labels: none

(chore): removes unused method
  internal/clientutil/patch.go
Labels: none

refactor(tests): use resource helpers
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/organization/teamrole_seeder_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/teammembership/teammembership_updater_controller_test.go
  internal/test/resources.go
  internal/test/setup.go
Labels: none

feat(plugins): propagate labels from PluginPreset to Plugin (#1142)
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
Labels: none

create default plugindefinition in test setup
  internal/controller/plugin/pluginpreset_controller_test.go
Labels: none

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
