Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

(chore): trigger e2e test
  e2e/README.md
Labels: none

(chore): localEnv setup looks at generateName for cert job
  internal/local/setup/webhook.go
Labels: none

(chore): fix lint issues
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
Labels: none

(chore): support resource extraction by name or generateName
  internal/local/setup/webhook.go
Labels: none

(fix): fix typo
  charts/manager/templates/kube-webhook-certgen.yaml
Labels: helm-charts

(chore): configure resource apply / create
  internal/local/setup/manifest.go
Labels: none

feat(greenhouse): split deployment of greenhouse (#855)
  .github/licenserc.yaml
  Makefile
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/_helpers.tpl
  charts/manager/templates/cert/kube-webhook-certgen-rbac.yaml
  charts/manager/templates/cert/kube-webhook-certgen.yaml
  charts/manager/templates/manager/config.yaml
  charts/manager/templates/manager/deployment.yaml
  charts/manager/templates/manager/feature-flag.yaml
  charts/manager/templates/manager/serviceaccount.yaml
  charts/manager/templates/manager/vpa.yaml
  charts/manager/templates/metrics-service.yaml
  charts/manager/templates/metrics/metrics-service.yaml
  charts/manager/templates/plugin-viewer-rbac.yaml
  charts/manager/templates/prometheus/manager-prometheusrules.yaml
  charts/manager/templates/prometheus/servicemonitor.yaml
  charts/manager/templates/rbac/leader-election-rbac.yaml
  charts/manager/templates/rbac/manager-role.yaml
  charts/manager/templates/rbac/manager-rolebinding.yaml
  charts/manager/templates/rbac/metrics-reader-rbac.yaml
  charts/manager/templates/rbac/proxy-rbac.yaml
  charts/manager/templates/webhook-service.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/templates/webhook/service.yaml
  charts/manager/templates/webhook/webhooks.yaml
  dev-env/dev.config.yaml
  docs/reference/api/openapi.yaml
  e2e/config.yaml
  e2e/plugin/e2e_test.go
  hack/helmify
  internal/local/commands/common.go
  internal/local/commands/setup.go
  internal/local/setup/manager.go
  internal/local/setup/manifest.go
  internal/local/setup/webhook.go
  internal/test/env.go
  types/typescript/schema.d.ts
Labels: helm-charts, documentation, dependencies

fix(charts): fix indendation, add missing pg config
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/ci/test-values.yaml
  charts/manager/templates/manager/deployment.yaml
Labels: helm-charts, dependencies

fix(charts): fix indendation, add missing pg config (#1106)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/ci/test-values.yaml
  charts/manager/templates/manager/deployment.yaml
Labels: helm-charts, dependencies

fix(charts): readd manager replicas, fix webhook replicas
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/manager/deployment.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/templates/webhook/service.yaml
  charts/manager/values.yaml
Labels: helm-charts, dependencies

fix(charts): readd manager replicas, fix webhook replicas (#1107)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/manager/deployment.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/templates/webhook/service.yaml
  charts/manager/values.yaml
Labels: helm-charts, dependencies

fix(core): disable leader election in webhook-only mode
  cmd/greenhouse/main.go
Labels: none

fix(core): disable leader election in webhook-only mode (#1108)
  cmd/greenhouse/main.go
Labels: none

fix(charts): wrong secrets reference on org
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/organization.yaml
Labels: helm-charts, dependencies

fix(charts): wrong secrets reference on org (#1112)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/organization.yaml
Labels: helm-charts, dependencies

feat: add greenhousev1alpha2 to schemes, fix RolebindingTeamRoleRefField, change TRB in tests to v1alpha2
  api/well_known.go
  charts/manager/templates/webhooks.yaml
  cmd/service-proxy/main.go
  internal/clientutil/client.go
  internal/controller/teamrbac/suite_test.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
  internal/rbac/role.go
  internal/test/env.go
  internal/test/resources.go
  internal/test/setup.go
  internal/webhook/v1alpha1/teamrole_webhook.go
  internal/webhook/v1alpha1/teamrole_webhook_test.go
  internal/webhook/v1alpha2/teamrolebinding_webhook_test.go
  internal/webhook/v1alpha2/webhook_suite_test.go
Labels: helm-charts, core-apis

feat: enable conversion webhooks in envtest, register v1alpha2 webhook for testing v1alpha1 due to ref
  internal/test/env.go
  internal/webhook/v1alpha1/teamrole_webhook_test.go
  internal/webhook/v1alpha1/webhook_suite_test.go
Labels: none

fix: fix TRB conversion in ConvertFrom function
  api/v1alpha1/teamrolebinding_conversion.go
Labels: core-apis

fix(organizations): update secret reference to internal secret
  internal/controller/organization/service_proxy.go
Labels: none

(chore): removes idproxy pdb
  charts/idproxy/templates/poddisruptionbudget.yaml
Labels: helm-charts, idproxy

(chore): adds max surge and unavail to idproxy deployment
  charts/idproxy/templates/deployment.yaml
  charts/idproxy/values.yaml
Labels: helm-charts, idproxy

(chore): bump idproxy chart
  charts/idproxy/Chart.yaml
Labels: helm-charts, idproxy, dependencies

(chore): bump greenhouse chart
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

(chore): use cert-manager for webhook certs
  internal/local/commands/common.go
  internal/local/setup/webhook.go
Labels: none

(chore): add config inline comments
  dev-env/dev.config.yaml
  e2e/config.yaml
Labels: none

(chore): remove sleep on ctx change and simplify exec with vars
  dev-env/dev.config.yaml
  internal/local/utils/exec.go
Labels: none

(chore): remove deprecated parameters field
  Makefile
Labels: none

(chore): remove unnecessary nil checks
  internal/local/utils/exec.go
Labels: none

fix(organizations): update secret reference to internal secret (#1115)
  internal/controller/organization/service_proxy.go
Labels: none

feat(greenhousectl): localenv OIDC setup with admin and remote clusters (#931)
  Makefile
  dev-env/dev.config.yaml
  dev-env/greenhouse-remote-cluster.yaml
  e2e/config.yaml
  internal/local/commands/common.go
  internal/local/commands/dashboard.go
  internal/local/commands/setup.go
  internal/local/setup/cluster.go
  internal/local/setup/setup.go
  internal/local/setup/webhook.go
  internal/local/utils/exec.go
Labels: none

feat: add missing spec fields to the conversion
  api/v1alpha1/teamrolebinding_conversion.go
Labels: core-apis

chore(greenhouse): update idxproxy chart (#1116)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/deployment.yaml
  charts/idproxy/templates/poddisruptionbudget.yaml
  charts/idproxy/values.yaml
Labels: helm-charts, idproxy, dependencies

Automatic application of license header
  api/meta/v1alpha1/groupversion_info.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

fix: redundant import
  internal/controller/fixtures/dummy_types.go
Labels: none

create helmrepo, helmchart from plugindefinition
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  go.mod
  go.sum
  pkg/controllers/flux/plugindefinition_controller.go
  pkg/controllers/flux/util.go
Labels: dependencies

feat(plugin): add flux controller
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  go.mod
  go.sum
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/flux/util.go
  internal/controller/plugin/flux_contoller.go
  internal/controller/plugin/util.go
Labels: dependencies

Automatic application of license header
  internal/controller/flux/util.go
Labels: none

(chore): extend service_proxy tests
  internal/controller/organization/service_proxy_test.go
  internal/test/resources.go
  internal/test/setup.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
