Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

docs(plugin-tests): update header
  docs/contribute/plugin-tests.md
Labels: documentation

chore(docs): update docs
  docs/contribute/local-dev.md
  docs/contribute/plugins.md
  docs/user-guides/plugin/catalog.md
  docs/user-guides/plugin/deploying.md
  docs/user-guides/plugin/development.md
  docs/user-guides/plugin/plugin-management.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

chore(plugin-tests): update testFramework configuration
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

chore: Update .gitignore and Makefile, add docs command
  .gitignore
  Makefile
  docs/README.md
Labels: documentation

docs: capitalization of sections, fix relative link, wording
  .github/workflows/deploy-github-pages.yaml
  dev-env/onboard-cluster.sh
  docs/contribute/local-dev.md
  docs/reference/catalog/_index.md
  docs/user-guides/plugin/catalog.md
  docs/user-guides/plugin/deploying.md
  docs/user-guides/plugin/development.md
  docs/user-guides/plugin/plugin-management.md
Labels: documentation

docs(teamrbac): update documentation page to include clusterSelector & more details
  docs/user-guides/team/rbac.md
Labels: documentation

refac(cam): remove empty cam controller
  cmd/greenhouse/controllers.go
  pkg/controllers/team/cam_controller.go
  test/e2e/controllers.go
Labels: none

refac(org): use test.Setup for org rbac controller tests
  pkg/controllers/organization/rbac_controller_test.go
  pkg/controllers/organization/suite_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: none

fix(team_webhook): concurrent write on map
  pkg/admission/team_webhook.go
Labels: none

refac(cam): remove empty cam controller (#409)
  cmd/greenhouse/controllers.go
  pkg/controllers/team/cam_controller.go
  test/e2e/controllers.go
Labels: none

refac(org): use test.Setup for org rbac controller tests (#410)
  pkg/controllers/organization/rbac_controller_test.go
  pkg/controllers/organization/suite_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: none

docs: capitalization of sections, fix relative link, wording (#404)
  .github/workflows/deploy-github-pages.yaml
  dev-env/onboard-cluster.sh
  docs/contribute/local-dev.md
  docs/reference/catalog/_index.md
  docs/user-guides/plugin/catalog.md
  docs/user-guides/plugin/deploying.md
  docs/user-guides/plugin/development.md
  docs/user-guides/plugin/plugin-management.md
Labels: documentation

docs(teamrbac): update docs to include clusterSelector & more details (#408)
  docs/user-guides/team/rbac.md
Labels: documentation

refac(cam): remove empty cam controller (#409)
  cmd/greenhouse/controllers.go
  pkg/controllers/team/cam_controller.go
  test/e2e/controllers.go
Labels: none

refac(org): use test.Setup for org rbac controller tests (#410)
  pkg/controllers/organization/rbac_controller_test.go
  pkg/controllers/organization/suite_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: none

feat(teammembership) add should update existing TM without users test, refactor updater controller
  pkg/controllers/teammembership/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

chore: Update .gitignore and Makefile, add docs command
  .gitignore
  Makefile
Labels: none

chore: Remove unnecessary blank lines in Makefile
  Makefile
Labels: none

chore: Remove unnecessary blank lines in Makefile
  Makefile
Labels: none

chore: Update file paths and weights in plugin catalog and development guides
  docs/user-guides/plugin/catalog.md
  docs/user-guides/plugin/local-plugin-development.md
  docs/user-guides/plugin/plugin-deployment.md
  docs/user-guides/plugin/plugin-management.md
Labels: documentation

chore: Update file paths and weights in plugin catalog and development guides
  .gitignore
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

fix(team_webhook): concurrent write on map (#411)
  pkg/admission/team_webhook.go
Labels: none

chore: Update file paths for plugin catalog and development guides
  docs/user-guides/plugin/local-plugin-development.md
Labels: documentation

chore: review comment fix
  Makefile
  docs/README.md
Labels: documentation

chore: remove empty space
  docs/user-guides/plugin/plugin-deployment.md
Labels: documentation

Update docs/contribute/plugins.md
  docs/contribute/plugins.md
Labels: documentation

Update docs/user-guides/plugin/plugin-tests.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

Update docs/user-guides/plugin/plugin-tests.md
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

Changed CURDIR through LOCALBIN
  Makefile
Labels: none

Changed path to binary
  Makefile
Labels: none

Don't enforce a toolchain on downstream consumers
  go.mod
Labels: dependencies

use variable for thr binary
  Makefile
Labels: none

chore: fix review comments
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

Bump versions in package-lock.json
  ui/cluster-admin/package-lock.json
  ui/dashboard/package-lock.json
  ui/org-admin/package-lock.json
  ui/plugin-admin/package-lock.json
  ui/secret-admin/package-lock.json
  ui/team-admin/package-lock.json
Labels: ui

change file permissions on openapi.yaml
  docs/reference/api/openapi.yaml
Labels: documentation

debug file permissions in workflow
  .github/workflows/check-changes-crd-api.yaml
Labels: none

Automatic genaration of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(teammembership): change getting namespace from env to depending on a request; add test setup and should update existing TM with users test
  cmd/greenhouse/controllers.go
  pkg/controllers/teammembership/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

feat(teammembership): update status subresource
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

feat(docs): Improve docs on running greenhouse locally
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
  test/e2e/README.md
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
