Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

feat(charts): optional ui chart
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

Update Chart version
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

fix(cluster) Cluster's metrics is updated even if reconcile failed (#519)
  pkg/controllers/cluster/direct_access_controller.go
Labels: none

fix(cluster) Send metrix at the end for headscale access controller (#519)
  pkg/controllers/cluster/headscale_access_controller.go
Labels: none

docs(pluginChartTest) minor improvements (#614)
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

fix(cluster) Cluster's metrics is updated (#519) (#618)
  pkg/controllers/cluster/direct_access_controller.go
  pkg/controllers/cluster/headscale_access_controller.go
Labels: none

feat(gh-action): Build UI helm chart separately
  .github/workflows/helm-push.yaml
Labels: none

fix(plugin) Move helper from e2e test to test resource (#459)
  pkg/test/resources.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

feat(gh-action): Build UI helm chart separately (#630)
  .github/workflows/helm-push.yaml
Labels: none

feat(plugin) Change comments in resources for test (#459)
  pkg/test/resources.go
Labels: none

(chore): merge status controller
  pkg/controllers/cluster/status.go
  pkg/controllers/cluster/status_test.go
  pkg/controllers/cluster/suite_test.go
Labels: none

(chore): implements statusFunc and adds go docs
  pkg/lifecycle/context.go
  pkg/lifecycle/reconcile.go
  pkg/lifecycle/utils.go
Labels: none

(chore): remove redundant break
  pkg/lifecycle/utils.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Apply suggestions from code review
  pkg/lifecycle/reconcile.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): remove cluster status reconciler
  test/e2e/controllers.go
Labels: none

(chore): adds statsFunc to calculate status conditions
  pkg/controllers/cluster/cluster_controller.go
Labels: none

(chore): removes status controller from known controllers
  cmd/greenhouse/controllers.go
Labels: none

(chore): removes adding type information
  pkg/lifecycle/reconcile.go
Labels: none

(chore): add go docs
  pkg/lifecycle/utils.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(fix): go fmt!
  pkg/lifecycle/reconcile.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(fix): go fmt and update test suite
  pkg/controllers/cluster/cluster_controller.go
  pkg/controllers/cluster/status.go
  pkg/controllers/cluster/suite_test.go
  pkg/test/assert.go
  pkg/test/util.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(fix): go fmt and lint err
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/cluster/cluster_controller.go
  pkg/controllers/cluster/status.go
Labels: core-apis

(fix): go fmt and lint err
  pkg/controllers/cluster/cluster_controller.go
  pkg/controllers/cluster/status.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(ci): adds new charts for ui with different resource naming until the decoupling from backend is done
  charts/dashboard/Chart.yaml
  charts/dashboard/ci/test-values.yaml
  charts/dashboard/templates/dashboard-props-cm.yaml
  charts/dashboard/templates/deployment.yaml
  charts/dashboard/templates/ingress.yaml
  charts/dashboard/templates/service.yaml
  charts/dashboard/values.yaml
Labels: helm-charts, dependencies

feat(ci): adds new charts for ui with different resource naming until the decoupling from backend is done (#631)
  charts/dashboard/Chart.yaml
  charts/dashboard/ci/test-values.yaml
  charts/dashboard/templates/dashboard-props-cm.yaml
  charts/dashboard/templates/deployment.yaml
  charts/dashboard/templates/ingress.yaml
  charts/dashboard/templates/service.yaml
  charts/dashboard/values.yaml
Labels: helm-charts, dependencies

fix: fix remote cluster test after controller merge
  pkg/controllers/plugin/remote_cluster_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Fix/helm controller does not update the release (#568)
  pkg/helm/diff.go
  pkg/helm/diff_test.go
  pkg/helm/helm.go
  pkg/test/fixtures/testHook/Chart.lock
  pkg/test/fixtures/testHook/Chart.yaml
  pkg/test/fixtures/testHook/templates/hook.yaml
  pkg/test/fixtures/testHook/templates/pod.yaml
  pkg/test/fixtures/testHook/values.yaml
  pkg/test/resources.go
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix: add tests for service proxy controller
  pkg/controllers/organization/service_proxy_controller_test.go
  pkg/controllers/organization/suite_test.go
Labels: none

(chore): uses common delete condition, implements event filtering
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/apis/greenhouse/v1alpha1/conditions.go
  pkg/controllers/cluster/cluster_controller.go
  pkg/controllers/cluster/status.go
  pkg/controllers/cluster/status_test.go
  pkg/controllers/plugin/util.go
Labels: core-apis

(chore): adds gvk info to dummy types
  pkg/controllers/fixtures/dummy_gvk_info.go
  pkg/controllers/fixtures/dummy_types.go
Labels: none

(chore): adds finalizer check
  pkg/clientutil/finalizer.go
  pkg/clientutil/finalizer_test.go
Labels: none

(chore): uses clientutil finalizer methods
  go.mod
  pkg/lifecycle/reconcile.go
  pkg/lifecycle/reconcile_test.go
  pkg/lifecycle/utils.go
Labels: dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
