Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

Revert image tags
  ui/plugin-admin/docker-compose.yaml
  ui/plugin-admin/network-host.docker-compose.yaml
Labels: ui

fix(gh-action) version removed from setup-helm step
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-push.yaml
Labels: none

fix(charts) greenhouse dependency update
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

fix(helm) add helm dependency update to push action
  .github/workflows/helm-push.yaml
Labels: none

feat(helm-lint) add github message when increment needed (#153)
  .github/workflows/helm-lint.yaml
Labels: none

Fix helm actions and greenhouse chart (#159)
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-push.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

debug arm build in gh-action
  .github/workflows/docker-build.yaml
Labels: none

fix(chart) increment headscale chart version
  charts/headscale/Chart.yaml
Labels: helm-charts, headscale, dependencies

fix: deny deletion of used plugindefinitions, migrate label
  cmd/service-proxy/proxy_test.go
  pkg/admission/plugin_webhook.go
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/apis/well_known.go
  pkg/controllers/plugin/helm_controller.go
  pkg/test/util.go
Labels: core-apis

fix(gh-action) lint should fail when bump needed
  .github/workflows/helm-lint.yaml
Labels: none

Change port
  ui/plugin-admin/docker-compose.yaml
  ui/plugin-admin/network-host.docker-compose.yaml
Labels: ui

fix(charts) increment ui chart version
  charts/ui/Chart.yaml
Labels: helm-charts, ui, dependencies

Enable auth mocking for local dev
  ui/plugin-admin/public/index.html
Labels: ui

feat(dev-env): Accept all hosts
  Dockerfile.dev-env
  ui/cluster-admin/README.md
  ui/cluster-admin/docker-compose.yaml
  ui/cluster-admin/network-host.docker-compose.yaml
  ui/cluster-admin/secretProps.dev.json
Labels: ui

fix(charts): bump greenhouse chart dependencies
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

feat: only upload greenhouse umbrella chart
  .github/workflows/helm-push.yaml
Labels: none

fix(gh-action) lint should fail when bump needed (#165)
  .github/workflows/helm-lint.yaml
Labels: none

fix(license-header) fix 'You are not currently on a branch.' issue
  .github/workflows/license.yaml
Labels: none

fix(charts): bump greenhouse chart dependencies (#169)
  .github/workflows/helm-push.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

fix(license-header) fix 'You are not currently on a branch.' issue (#170)
  .github/workflows/license.yaml
Labels: none

feat(hugo) add build with hugo action
  .github/workflows/hugo.yaml
Labels: none

feat(hugo) retire website docker image
  .github/workflows/docker-build.yaml
  Dockerfile.website
Labels: none

fix: deny deletion of used plugindefinitions, migrate label (#164)
  cmd/service-proxy/proxy_test.go
  pkg/admission/plugin_webhook.go
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/apis/well_known.go
  pkg/controllers/plugin/helm_controller.go
  pkg/test/util.go
Labels: core-apis

fix(hugo) fix roadmap and other links
  docs/getting-started/overview.md
  website/hugo.yaml
  website/layouts/partials/landing-page.html
Labels: documentation

fix(plugin): temporarily watch for old Plugin and new PluginDefinition labels
  pkg/controllers/plugin/helm_controller.go
Labels: none

fix(plugin): temporarily watch for old Plugin and new PluginDefinition labels (#176)
  pkg/controllers/plugin/helm_controller.go
Labels: none

fix(ui): Pin react to 18.2.0
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

Build website via Hugo action (#174)
  .github/workflows/docker-build.yaml
  .github/workflows/hugo.yaml
  Dockerfile.website
  docs/getting-started/overview.md
  website/hugo.yaml
  website/layouts/partials/landing-page.html
Labels: documentation

fix(plugindefinition): enable webhook for delete
  charts/manager/templates/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/plugin_webhook_test.go
  pkg/admission/plugindefinition_webhook.go
  pkg/controllers/plugin/suite_test.go
Labels: helm-charts, documentation

fix(plugindefinition): enable webhook for delete (#177)
  charts/manager/templates/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/plugin_webhook_test.go
  pkg/admission/plugindefinition_webhook.go
  pkg/controllers/plugin/suite_test.go
Labels: helm-charts, documentation

fix(renovate): ignore dexidp since go mod version not supported
  .github/renovate.json
Labels: none

fix(ui): Pin react to 18.2.0 (#178)
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

fix(renovate): ignore dexidp since go mod version not supported (#179)
  .github/renovate.json
Labels: none

fix(hugo) runner
  .github/workflows/hugo.yaml
Labels: none

fix(hugo) runner (#180)
  .github/workflows/hugo.yaml
Labels: none

chore(dex): bump to v2.39.1
  go.mod
  go.sum
Labels: dependencies

chore(grpc): rebump to 1.63.2
  go.mod
  go.sum
Labels: dependencies

proposal
  PROJECT
  charts/manager/crds/greenhouse.sap_pluginbundles.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  cmd/greenhouse/webhooks.go
  pkg/admission/pluginbundle_webhook.go
  pkg/apis/greenhouse/v1alpha1/pluginbundle_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/pluginbundle_controller.go
Labels: helm-charts, core-apis

Automatic application of license header
  charts/manager/crds/greenhouse.sap_pluginbundles.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

add controller tests, add logic around ownerreferences
  pkg/apis/greenhouse/v1alpha1/pluginbundle_types.go
  pkg/apis/well_known.go
  pkg/clientutil/owner_reference.go
  pkg/controllers/plugin/pluginbundle_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/suite_test.go
Labels: core-apis

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
