Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

refactor(tests): use resource helpers (#1158)
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/organization/teamrole_seeder_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/teammembership/teammembership_updater_controller_test.go
  internal/test/resources.go
  internal/test/setup.go
Labels: none

ensure releaseName is compliant with helm
  internal/webhook/plugin_webhook.go
  internal/webhook/plugin_webhook_test.go
  internal/webhook/pluginpreset_webhook.go
Labels: none

feat(plugin): add ReleaseName field and defaulting logic
  api/v1alpha1/plugin_types.go
  docs/user-guides/plugin/plugin-deployment.md
  internal/helm/helm.go
  internal/test/resources.go
  internal/webhook/plugin_webhook.go
  internal/webhook/plugin_webhook_test.go
Labels: core-apis, documentation

set releaseName for service-proxy
  internal/controller/organization/service_proxy.go
Labels: none

regenerate crds
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
Labels: helm-charts

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

ensure helm release used consistently
  api/v1alpha1/plugin_types.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/helm/helm.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

regenerate api-docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix test method
  internal/webhook/plugin_webhook_test.go
Labels: none

refresh the architecture overview
  docs/architecture/high-level.md
Labels: documentation

remove unused variable
  internal/controller/plugin/remote_cluster_test.go
Labels: none

add high level plugin & teamrbac description
  docs/architecture/high-level.md
Labels: documentation

create helmrelease from plugin
  charts/manager/templates/rbac/manager-role.yaml
  go.sum
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/flux/util.go
  internal/controller/plugin/flux_contoller.go
Labels: helm-charts, dependencies

update kubebuilder rules
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/plugin/flux_contoller.go
Labels: none

fix golanci-lint
  internal/controller/flux/util.go
  internal/controller/plugin/util.go
Labels: none

(chore): adds cert-manager resources for webhook certs
  charts/manager/templates/cert/bootstrap.yaml
  charts/manager/templates/cert/client.yaml
  charts/manager/templates/cert/issuer.yaml
  charts/manager/templates/cert/kube-webhook-certgen-rbac.yaml
  charts/manager/templates/cert/kube-webhook-certgen.yaml
  charts/manager/templates/cert/root.yaml
Labels: helm-charts

(chore): bump chart versions
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
Labels: helm-charts, dependencies

(chore): conditional cert-manager resource enablement
  charts/manager/templates/cert/bootstrap.yaml
  charts/manager/templates/cert/client.yaml
  charts/manager/templates/cert/issuer.yaml
  charts/manager/templates/cert/root.yaml
  charts/manager/values.yaml
Labels: helm-charts

(chore): disable cert-manager resources in localenv
  dev-env/dev.values.yaml
Labels: none

(chore): trigger e2e
  e2e/cluster/e2e_test.go
Labels: none

Update docs/architecture/high-level.md
  docs/architecture/high-level.md
Labels: documentation

Update docs/architecture/high-level.md
  docs/architecture/high-level.md
Labels: documentation

(chore): adds ClusterPluginDefinition CRD
  PROJECT
  api/v1alpha1/clusterplugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterplugindefinitions.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

(chore): adds clusterplugindefinitions title scope
  .github/workflows/ci-pr-title.yaml
Labels: none

Automatic application of license header
  types/typescript/schema.d.ts
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix(pluginpresets): ensure update of existing plugins
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
Labels: none

refactor(tests): use resource helpers
  internal/helm/diff_test.go
  internal/helm/helm_test.go
  internal/test/resources.go
  internal/webhook/cluster_webhook_test.go
  internal/webhook/plugin_webhook_test.go
  internal/webhook/team_webhook_test.go
  internal/webhook/teamrolebinding_webhook_test.go
Labels: none

(chore): adds cert-manager inject annotation
  charts/manager/templates/webhook/webhooks.yaml
Labels: helm-charts

chore(charts): bump the image versions for 0.4.0
  charts/dashboard/values.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

feat(plugins): add ReleaseName field and defaulting logic (#1121)
  api/v1alpha1/plugin_types.go
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/plugin/plugin-deployment.md
  internal/controller/organization/service_proxy.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/helm/helm.go
  internal/test/resources.go
  internal/webhook/plugin_webhook.go
  internal/webhook/plugin_webhook_test.go
  internal/webhook/pluginpreset_webhook.go
Labels: helm-charts, core-apis, documentation

feat: add opensearch user credentials
  charts/greenhouse/templates/opensearch-users.yaml
Labels: helm-charts

add enabled field
  charts/greenhouse/values.yaml
Labels: helm-charts

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

bump chart version
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

refactor(tests): use resource helpers (#1167)
  internal/helm/diff_test.go
  internal/helm/helm_test.go
  internal/test/resources.go
  internal/webhook/cluster_webhook_test.go
  internal/webhook/plugin_webhook_test.go
  internal/webhook/team_webhook_test.go
  internal/webhook/teamrolebinding_webhook_test.go
Labels: none

(chore): adds cert-manager annotation via helmify script
  charts/manager/templates/webhook/webhooks.yaml
  hack/helmify
Labels: helm-charts

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
