Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(teamrbac): add support for rbacv1.AggregationRule
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  docs/reference/api/index.html
  docs/user-guides/team/rbac.md
  pkg/admission/teamrole_webhook.go
  pkg/admission/teamrole_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: helm-charts, core-apis, documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Update docs/user-guides/team/rbac.md
  docs/user-guides/team/rbac.md
Labels: documentation

check for error message in test, context for aggrRule test
  pkg/admission/teamrole_webhook.go
  pkg/admission/teamrole_webhook_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
Labels: none

update docs with less permissive example
  docs/user-guides/team/rbac.md
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix linter findings
  pkg/admission/teamrole_webhook.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(teamrbac): add support for rbacv1.AggregationRule (#489)
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/team/rbac.md
  pkg/admission/teamrole_webhook.go
  pkg/admission/teamrole_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: helm-charts, core-apis, documentation

Apply suggestions from code review
  dev-env/localenv/README.md
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/setup/manifest.go
  pkg/internal/local/utils/expect.go
Labels: none

(chore): provides back-off options
  pkg/internal/local/utils/expect.go
Labels: none

(chore): removes unnecessary var assignment
  pkg/internal/local/commands/setup.go
Labels: none

(chore): reuse existing build command
  Makefile
Labels: none

(chore): provide helm client options as single slice
  pkg/internal/local/setup/manifest.go
Labels: none

fix(deps): update module github.com/prometheus/client_golang to v1.20.2 (#490) (#501)
  .github/CODEOWNERS
Labels: none

feat(rbac): allow OrgAdmins to view secrets, configmaps & workload resources in their namespace
  pkg/rbac/role.go
Labels: none

feat(rbac): allow OrgAdmins to view secrets, configmaps & workload resources in their namespace (#503)
  pkg/rbac/role.go
Labels: none

fix(workloadstatus) duplicate messages
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

fix(plugin) use one ComputeReadyCondition function in plugin package
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/util.go
Labels: none

make fmt
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

(chore): generate dev setup markdown with templates
  dev-env/localenv/README.md
  dev-env/localenv/docs.go
  dev-env/localenv/templates/_generate-docs.md
  dev-env/localenv/templates/_intro.md
Labels: none

(chore): allow one of webhook or controller modes or regular
  cmd/greenhouse/main.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): adds docker and kubectl check to persistent pre-run dev cmds
  pkg/cmd/dev.go
Labels: none

(chore): tidy up
  go.mod
  go.sum
Labels: dependencies

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): go fmt
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/internal/local/helm/helm.go
Labels: core-apis

feat(rbac): allow OrgAdmins to list & watch secrets in their namespace
  pkg/rbac/role.go
Labels: none

(chore): go fmt
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix failing test
  pkg/controllers/plugin/util.go
Labels: none

revert computeReadyCondition in pluginpreset controller
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: none

revert computeReadyCondition in pluginpreset controller
  pkg/controllers/plugin/util.go
Labels: none

feat(rbac): allow OrgAdmins to list & watch secrets in their namespace (#505)
  pkg/rbac/role.go
Labels: none

cleanup Message for Deployment and Statefulset
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

fix comma in string concat
  pkg/controllers/plugin/util.go
Labels: none

(chore): upd variables
  cmd/greenhouse/main.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
