Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

(fix): fix e2e branch version
  .github/workflows/ci-e2e-test.yaml
Labels: none

(fix): fix e2e branch version (#1197)
  .github/workflows/ci-e2e-test.yaml
Labels: none

fix(config): add greenhouse-backend to dev-env codeowners (#1196)
  .github/CODEOWNERS
Labels: none

add scheme to clientutil as well
  internal/clientutil/client.go
Labels: none

add make flux to dev env config
  dev-env/dev.config.yaml
Labels: none

fix(ci): goreleaser sort tags by createordate
  .github/.goreleaser.yaml
Labels: none

feat(plugindefinitions): implements PluginDefinition controller (#1190)
  api/v1alpha1/plugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/controller/plugindefinition/suite_test.go
  internal/test/util.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

fix(ci): goreleaser sort tags by createordate (#1198)
  .github/.goreleaser.yaml
Labels: none

fix(ci): goreleaser sort tags by createordate (#1198)
  .github/.goreleaser.yaml
Labels: none

feat(manager): Enhance alert labelling
  charts/manager/alerts/cluster.alerts
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/plugin.alerts
  charts/manager/alerts/proxies.alerts
  internal/controller/cluster/metrics.go
  internal/controller/plugin/helm_chart_testing.go
  internal/controller/plugin/plugin_workload_status.go
  internal/controller/plugin/util.go
  internal/metrics/plugin_metrics.go
  internal/metrics/plugin_metrics_test.go
Labels: helm-charts

fix(ci): goreleaser sort tags by createordate (#1198) (#1201)
  .github/.goreleaser.yaml
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): refactor test resource imports
  api/v1alpha1/types_test.go
  e2e/plugin/e2e_test.go
  e2e/plugin/fixtures/fixtures.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/cluster/cluster_controller_test.go
  internal/controller/cluster/kubeconfig_controller_test.go
  internal/controller/cluster/status_test.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/controller/teammembership/teammembership_updater_controller_test.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
  internal/helm/diff_test.go
  internal/helm/helm_test.go
  internal/test/mocks/cluster.go
  internal/test/mocks/organization.go
  internal/test/mocks/plugin.go
  internal/test/mocks/plugin_definition.go
  internal/test/mocks/secret.go
  internal/test/mocks/team.go
  internal/test/resources.go
  internal/test/setup.go
  internal/webhook/cluster_webhook_test.go
  internal/webhook/plugin_webhook_test.go
  internal/webhook/team_webhook_test.go
  internal/webhook/teamrole_webhook_test.go
  internal/webhook/teamrolebinding_webhook_test.go
Labels: core-apis

Fix test
  internal/controller/cluster/metrics_test.go
Labels: none

Add helm templating functions to alert templates
  charts/manager/alerts/cluster.alerts
  charts/manager/alerts/plugin.alerts
  charts/manager/ci/test-values.yaml
  charts/manager/templates/alerts/cluster.alerts
  charts/manager/templates/alerts/operator.alerts
  charts/manager/templates/alerts/plugin.alerts
  charts/manager/templates/alerts/proxies.alerts
  charts/manager/templates/prometheus/manager-prometheusrules.yaml
Labels: helm-charts

docs(logging): updates logging arch diagram
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

feat(teams): remove teammembership crd (#1192)
  .github/workflows/ci-pr-title.yaml
  PROJECT
  api/v1alpha1/team_types.go
  api/v1alpha1/teammembership_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/demo/templates/teams.yaml
  charts/manager/alerts/operator.alerts
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/kustomization.yaml
  charts/manager/templates/rbac/manager-role.yaml
  cmd/greenhouse/controllers.go
  docs/contribute/local-dev.md
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/organization/creation.md
  docs/user-guides/team/create.md
  internal/controller/fixtures/teammembership.yaml
  internal/controller/fixtures/teammembership_update.yaml
  internal/controller/team/suite_test.go
  internal/controller/team/team_controller.go
  internal/controller/team/team_controller_test.go
  internal/controller/teammembership/teammembership_updater_controller_test.go
  internal/rbac/role.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

feat(controllers): Add secret delete permission to org-admin role
  internal/rbac/role.go
Labels: none

init commit
  api/v1alpha1/organization_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusterplugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  charts/manager/templates/role.yaml
  charts/manager/templates/webhook/webhooks.yaml
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
Labels: helm-charts, core-apis

fix(charts): add organization root ca for alm
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-alerts.yaml
Labels: helm-charts, dependencies

Update charts/greenhouse/templates/plugin-alerts.yaml
  charts/greenhouse/templates/plugin-alerts.yaml
Labels: helm-charts

add labelselector to plugin_controller via helm to ignore flux managed plugins
  internal/controller/plugin/plugin_controller.go
Labels: none

fixes in flux plugincontroller
  internal/controller/flux/plugin_controller.go
Labels: none

add podinfo to fixtures to test flux in e2e
  e2e/plugin/fixtures/fixtures.go
Labels: none

add const to util
  internal/controller/plugin/util.go
Labels: none

fix(ci): remove whitespace from goreleaser template
  .github/.goreleaser.yaml
Labels: none

fix(ci): remove whitespace from goreleaser template (#1209)
  .github/.goreleaser.yaml
Labels: none

feat(controllers): Add secret delete permission to org-admin role (#1203)
  internal/rbac/role.go
Labels: none

(chore): org controller watches cluster plugindefintion
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy_test.go
Labels: none

(chore): plugin controller watches cluster plugindefintion
  internal/controller/plugin/plugin_controller.go
Labels: none

feat: implement validation of the owned-by label to cluster webhook, add tests
  api/well_known.go
  internal/test/resources.go
  internal/webhook/utils.go
  internal/webhook/v1alpha1/cluster_webhook.go
  internal/webhook/v1alpha1/cluster_webhook_test.go
Labels: core-apis

(chore): update test suites and conflict resolutions
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/organization/suite_test.go
  internal/controller/plugin/suite_test.go
Labels: none

feat: add owned-by label validation to plugin, plugin preset and secret webhooks, add and adapt tests
  api/well_known.go
  internal/test/resources.go
  internal/webhook/utils.go
  internal/webhook/v1alpha1/cluster_webhook_test.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
  internal/webhook/v1alpha1/pluginpreset_webhook.go
  internal/webhook/v1alpha1/pluginpreset_webhook_test.go
  internal/webhook/v1alpha1/secret_webhook.go
  internal/webhook/v1alpha1/secret_webhook_test.go
  internal/webhook/v1alpha1/teamrole_webhook_test.go
  internal/webhook/v1alpha1/teamrolebinding_webhook_test.go
Labels: core-apis

Undo helm templating in alerts
  charts/manager/alerts/cluster.alerts
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/plugin.alerts
  charts/manager/alerts/proxies.alerts
  charts/manager/templates/prometheus/manager-prometheusrules.yaml
Labels: helm-charts

remove unused helm templates
  charts/manager/templates/alerts/cluster.alerts
  charts/manager/templates/alerts/operator.alerts
  charts/manager/templates/alerts/plugin.alerts
  charts/manager/templates/alerts/proxies.alerts
Labels: helm-charts

adds ClusterReady metric + alert
  charts/manager/alerts/cluster.alerts
  internal/controller/cluster/metrics.go
  internal/controller/cluster/metrics_test.go
Labels: helm-charts

feat(bootstrap): propagate the owned-by label value from kubeConfigSecret to newly created clusters, adapt tests
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/cluster/suite_test.go
  internal/test/resources.go
Labels: none

adds PluginReady metric + alert
  charts/manager/alerts/plugin.alerts
  internal/controller/plugin/plugin_controller.go
  internal/metrics/plugin_metrics.go
  internal/metrics/plugin_metrics_test.go
Labels: helm-charts

adds organization metrics + alerts
  charts/manager/alerts/organization.alerts
  internal/controller/organization/metrics.go
  internal/controller/organization/organization_controller.go
  internal/helm/helm.go
Labels: helm-charts

introduce team alerts file
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/team.alerts
Labels: helm-charts
