Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

Update docs/contribute/local-dev.md
  docs/contribute/local-dev.md
Labels: documentation

Update dev-env/templates/_intro.md
  dev-env/templates/_intro.md
Labels: none

Update Makefile
  Makefile
Labels: none

undo changes
  Makefile
  dev-env/templates/_intro.md
Labels: none

(chore): update additional info in local env docs
  docs/contribute/local-dev.md
Labels: documentation

(chore): replace kube-webhook-cert-gen with cert-manager
  dev-env/templates/_intro.md
Labels: none

(chore): remove dup templates
  dev-env/templates/_generate-docs.md
  dev-env/templates/_intro.md
Labels: none

(chore): initializes ServiceProxyProvisioned condition
  api/v1alpha1/organization_types.go
  charts/manager/crds/greenhouse.sap_clusters.yaml
  docs/reference/api/openapi.yaml
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

Automatic application of license header
  types/typescript/schema.d.ts
Labels: none

(chore): remove initial empty false condition
  internal/controller/organization/service_proxy.go
Labels: none

fix(organizations): initializes ServiceProxyProvisioned condition on Organization status (#1318)
  api/v1alpha1/organization_types.go
  charts/manager/crds/greenhouse.sap_clusters.yaml
  docs/reference/api/openapi.yaml
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

fix(plugins): convert PluginOptionValues to Helm values
  internal/controller/flux/plugin_controller.go
  internal/controller/flux/plugin_controller_test.go
  internal/controller/flux/suite_test.go
  internal/helm/helm.go
  internal/helm/values.go
Labels: none

Automatic application of license header
  internal/controller/flux/suite_test.go
Labels: none

feat(docs): updates contribution guide to local-dev setup (#1232)
  Makefile
  dev-env/README.md
  dev-env/dev.config.yaml
  dev-env/docs.go
  dev-env/templates/_generate-docs.md
  dev-env/templates/_intro.md
  docs/contribute/local-dev.md
  e2e/config.yaml
  internal/local/commands/common.go
  internal/local/commands/dashboard.go
  internal/local/commands/setup.go
  internal/local/setup/manifest.go
  internal/local/setup/setup.go
  internal/local/setup/webhook.go
Labels: documentation

fix(ci): ensure CRDs are regenerated
  .github/workflows/check-changes-crd-api.yaml
Labels: none

move licence check into make generate-all
  .github/workflows/check-changes-crd-api.yaml
  Makefile
Labels: none

feat(ISSUE-1231): missing owner label metric and alert (#1297)
  charts/manager/alerts/resource.alerts
  docs/getting-started/operations/ownership.md
  internal/controller/cluster/cluster_controller.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/metrics.go
  internal/controller/cluster/metrics_test.go
  internal/controller/flux/plugin_controller.go
  internal/controller/organization/metrics.go
  internal/controller/organization/organization_controller.go
  internal/controller/plugin/helm_chart_testing.go
  internal/controller/plugin/metrics.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/plugin_workload_status.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/util.go
  internal/controller/team/metrics.go
  internal/controller/team/team_controller.go
  internal/controller/teamrbac/metrics.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/helm/helm.go
  internal/metrics/plugin_metrics_test.go
  internal/metrics/suite_test.go
  internal/util/metrics.go
  internal/util/metrics_test.go
Labels: helm-charts, documentation

feat: disable client-side throttling for perf tests
  e2e/perf/e2e_test.go
  e2e/shared/e2e.go
Labels: none

feat: enable server-side throttling for all e2e tests
  e2e/perf/e2e_test.go
  e2e/shared/e2e.go
  internal/clientutil/client_getter.go
Labels: none

feat: use WithRuntimeOptions to enable server-side throttling
  e2e/shared/e2e.go
  internal/clientutil/client_getter.go
Labels: none

rename generate-manifests to manifests
  Makefile
  docs/contribute/new-controller.md
Labels: documentation

fix(core): remove sap tlds from examples (#1316)
  charts/demo/ci/test-values.yaml
  charts/demo/data/alerts.json
  charts/demo/templates/doop-pluginconfig.yaml
  charts/demo/templates/heureka-pluginconfig.yaml
  charts/greenhouse/ci/test-values.yaml
  docs/user-guides/cluster/onboarding.md
Labels: helm-charts, documentation

fix(ci): ensure CRDs are regenerated (#1320)
  .github/workflows/check-changes-crd-api.yaml
  Makefile
  docs/contribute/new-controller.md
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
