Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

Update pkg/apis/greenhouse/v1alpha1/pluginbundle_types.go
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

plugin admission returns warn if the Plugin is owned by a PluginPreset
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
Labels: none

add create, update validation for pluginbundle
  pkg/admission/pluginbundle_webhook.go
  pkg/admission/pluginbundle_webhook_test.go
  pkg/admission/utils.go
  pkg/admission/webhook_suite_test.go
Labels: none

rename to pluginpreset
  PROJECT
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_pluginbundles.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/webhooks.go
  docs/reference/api/index.html
  pkg/admission/plugin_webhook.go
  pkg/admission/pluginbundle_webhook.go
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/admission/webhook_suite_test.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/well_known.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/suite_test.go
Labels: helm-charts, core-apis, documentation

validate Preset OptionValues
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: core-apis

fix: ensure clusterName is immutable in the embedded pluginSpec
  pkg/admission/pluginpreset_webhook.go
Labels: none

embed pluginSpec instead of individual fields
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: helm-charts, core-apis, documentation

add enduser docs for the pluginpreset
  docs/user-guides/plugin/plugin-management.md
Labels: documentation

trigger reconcile if Cluster in same namespace was changed
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: none

sync greenhouse chart dependencies
  charts/greenhouse/Chart.lock
Labels: helm-charts

Skip existing plugins, add StatusConditions
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/plugin/plugin-management.md
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: helm-charts, core-apis, documentation, dependencies

fix: controller now watches label changes on the cluster objects
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

update greenhouse umbrella chart.lock
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: helm-charts, documentation, dependencies

pluginbundle proposal (#99)
  PROJECT
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  cmd/greenhouse/webhooks.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/plugin/plugin-management.md
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/admission/utils.go
  pkg/admission/webhook_suite_test.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/well_known.go
  pkg/clientutil/owner_reference.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/suite_test.go
Labels: helm-charts, core-apis, documentation, dependencies

fix(pluginpreset): add crd to kustomization
  charts/manager/crds/kustomization.yaml
Labels: helm-charts

fix(pluginpreset): add crd to kustomization (#183)
  charts/manager/crds/kustomization.yaml
Labels: helm-charts

reconcile oauth2client
  charts/manager/templates/manager-role.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/controllers/organization/dex_controller.go
Labels: helm-charts, documentation

manually add license header
  pkg/util/slices.go
Labels: none

use sub-structs to avoid collisions
  pkg/controllers/organization/dex_controller.go
Labels: none

comments
  pkg/controllers/organization/dex_controller.go
  pkg/util/slices.go
Labels: none

Update pkg/controllers/organization/dex_controller.go
  pkg/controllers/organization/dex_controller.go
Labels: none

fix(ui): re-release cluster-admin
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

fix(ui): re-release cluster-admin (#187)
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

reconcile oauth2client (#160)
  charts/manager/templates/manager-role.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/controllers/organization/dex_controller.go
  pkg/util/slices.go
Labels: helm-charts, documentation

Incorporate latest changes
  ui/greenhouse-management/package.json
  ui/greenhouse/package.json
Labels: ui

fix deps
  ui/greenhouse-management/package-lock.json
  ui/greenhouse-management/package.json
  ui/greenhouse/package-lock.json
  ui/greenhouse/package.json
Labels: ui

Update repository and license fields
  ui/greenhouse-management/package-lock.json
  ui/greenhouse-management/package.json
  ui/greenhouse/package.json
Labels: ui

make pluginpreset selector mutable
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
Labels: none

[greenhouse] ignore messages-provider and utils while testing
  ui/greenhouse/jest.config.js
Labels: ui

validate clusterName
  pkg/admission/pluginpreset_webhook.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: core-apis

fix tests in greenhouse-management
  ui/greenhouse-management/jest.config.js
  ui/greenhouse-management/package-lock.json
  ui/greenhouse-management/package.json
Labels: ui

add helpers for local dev
  ui/greenhouse-management/esbuild.config.js
  ui/greenhouse/esbuild.config.js
  ui/helpers/appProps.js
Labels: ui

[ui] fix tests (#192)
  ui/greenhouse-management/esbuild.config.js
  ui/greenhouse-management/jest.config.js
  ui/greenhouse-management/package-lock.json
  ui/greenhouse-management/package.json
  ui/greenhouse/esbuild.config.js
  ui/greenhouse/jest.config.js
  ui/helpers/appProps.js
Labels: ui

fix: check clustername immutability
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
Labels: none

feat(pluginpreset): make clusterSelector mutable (#191)
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: core-apis

reafactor(ui): use new app names everywhere
  ui/dashboard/esbuild.config.js
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/dashboard/public/index.html
  ui/dashboard/src/hooks/useCommunication.js
  ui/dashboard/src/hooks/useUrlState.js
  ui/dashboard/src/lib/plugin.js
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/org-admin/public/index.html
  ui/org-admin/src/App.js
  ui/org-admin/src/App.test.js
  ui/org-admin/src/hooks/useCommunication.js
  ui/org-admin/src/hooks/useUrlState.js
Labels: ui

Revert accidental port change
  ui/dashboard/esbuild.config.js
Labels: ui

update appProps helper
  ui/helpers/appProps.js
Labels: ui

Automatic application of license header
  ui/helpers/appProps.js
Labels: ui

remove duplicate license header
  ui/helpers/appProps.js
Labels: ui

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
