Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

feat: add another test to common metrics
  internal/metrics/common_metrics_test.go
Labels: none

add 'Accessible' and 'ManagedResourcesDeployed' cluster status conditions
  api/v1alpha1/cluster_types.go
  docs/user-guides/cluster/oidc_connectivity.md
  docs/user-guides/cluster/onboarding.md
  internal/cmd/cluster_bootstrap.go
  internal/common/permissions.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/status_test.go
Labels: core-apis, documentation

address the review comments
  api/v1alpha1/cluster_types.go
  docs/user-guides/cluster/oidc_connectivity.md
  docs/user-guides/cluster/onboarding.md
  internal/common/permissions.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/status_test.go
Labels: core-apis, documentation

get rid of redundant function parameter
  internal/controller/cluster/cluster_status.go
Labels: none

fix(ci): use Action token to curl from github
  Makefile
Labels: none

(chore): adds server side priority and fairness check
  cmd/greenhouse/main.go
  internal/clientutil/client.go
  internal/clientutil/fairness.go
  internal/clientutil/fairness_exports_test.go
  internal/clientutil/fairness_test.go
Labels: none

(chore): Adds owned by printer column for clusters
  api/v1alpha1/cluster_types.go
  charts/manager/crds/greenhouse.sap_clusters.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  internal/controller/cluster/cluster_controller.go
  internal/controller/cluster/status_test.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

feat(clusters): add additional status conditions (#1290)
  api/v1alpha1/cluster_types.go
  docs/user-guides/cluster/oidc_connectivity.md
  docs/user-guides/cluster/onboarding.md
  internal/cmd/cluster_bootstrap.go
  internal/common/permissions.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/status_test.go
Labels: core-apis, documentation

fix(ci): use Action token to curl from github (#1307)
  Makefile
Labels: none

restructure cluster node status reporting
  api/v1alpha1/cluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusters.yaml
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/status_test.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

fix(ci): ignore pre-releases for changelog generation
  .github/workflows/ci-release.yaml
Labels: none

feat: extract PluginOptionValue to greenhousemetav1alpha1, add PluginPreset with ClusterSelector to v1alpha2, add webhook for PluginPreset v1alpha2
  api/meta/v1alpha1/reference_types.go
  api/meta/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/organization_types.go
  api/v1alpha1/plugin_types.go
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha2/pluginpreset_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  e2e/plugin/e2e_test.go
  hack/crd/patches/cainjection_pluginpresets.yaml
  hack/crd/patches/webhook_pluginpresets.yaml
  internal/clientutil/util.go
  internal/cmd/plugin_validate_test.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/team/team_controller_test.go
  internal/helm/diff_test.go
  internal/helm/helm.go
  internal/helm/helm_test.go
  internal/helm/suite_test.go
  internal/helm/values.go
  internal/test/resources.go
  internal/webhook/utils.go
  internal/webhook/v1alpha1/organization_webhook_test.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
  internal/webhook/v1alpha2/pluginpreset_webhook.go
  internal/webhook/v1alpha2/pluginpreset_webhook_test.go
  internal/webhook/v1alpha2/teamrolebinding_webhook.go
  internal/webhook/v1alpha2/util.go
Labels: core-apis

feat: add conversion of PluginPreset between v1alpha1 and v1alpha2
  api/v1alpha1/pluginpreset_conversion.go
  api/v1alpha1/pluginpreset_types.go
  api/v1alpha2/pluginpreset_conversion.go
Labels: core-apis

feat: mark PluginPreset v1alpha2 as storage version, change PluginPreset webhook paths and names
  api/v1alpha2/pluginpreset_types.go
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/templates/webhook/webhooks.yaml
  docs/reference/api/openapi.yaml
  internal/webhook/v1alpha1/pluginpreset_webhook.go
  internal/webhook/v1alpha2/pluginpreset_webhook.go
Labels: helm-charts, core-apis, documentation

feat: change docs URL for greenhousemetav1alpha1
  docs/reference/api/index.html
  hack/docs-generator/config.json
  types/typescript/schema.d.ts
Labels: documentation

(chore): replace plugin definition to cluster plugin definition
  e2e/plugin/e2e_test.go
  e2e/plugin/fixtures/fixtures.go
  internal/cmd/plugin_validate.go
  internal/cmd/plugin_validate_test.go
  internal/controller/flux/plugin_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/plugin_workload_status.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/helm/diff_test.go
  internal/helm/helm.go
  internal/helm/helm_test.go
  internal/helm/suite_test.go
  internal/helm/values.go
  internal/test/resources.go
  internal/test/setup.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
  internal/webhook/v1alpha1/plugindefinition_webhook_test.go
  internal/webhook/v1alpha1/pluginpreset_webhook.go
  internal/webhook/v1alpha1/pluginpreset_webhook_test.go
  internal/webhook/v1alpha1/team_webhook.go
  internal/webhook/v1alpha1/team_webhook_test.go
  internal/webhook/v1alpha1/webhook_suite_test.go
Labels: none

(chore): fix lint and test
  e2e/plugin/fixtures/fixtures.go
  internal/controller/organization/suite_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/helm/suite_test.go
  internal/test/resources.go
Labels: none

(chore): fix test
  internal/controller/organization/service_proxy_test.go
  internal/test/setup.go
Labels: none

(chore): adds cluster plugin definition controller
  api/v1alpha1/clusterplugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterplugindefinitions.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  e2e/plugin/e2e_test.go
  internal/cmd/plugin_generate.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugindefinition/cluster_plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/suite_test.go
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

(chore): fix plugin tests
  Makefile
  internal/controller/organization/suite_test.go
  internal/controller/plugin/suite_test.go
Labels: none

(chore): revert commented test
  Makefile
  internal/controller/organization/service_proxy_test.go
Labels: none

fix(ci): ignore pre-releases for changelog generation (#1311)
  .github/workflows/ci-release.yaml
Labels: none

feat(plugins): improved error for invalid plugindefinition
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
Labels: none

feat(plugins): improved error for invalid plugindefinition (#1294)
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
Labels: none

feat: adapt PluginPresetController to v1alpha2, register v1alpha2 webhook
  cmd/greenhouse/webhooks.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/suite_test.go
  internal/webhook/v1alpha2/webhook_suite_test.go
Labels: none

refactor: move shared metrics to internal util package, move controller specific metrics to controller packages
  internal/controller/cluster/cluster_controller.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/metrics.go
  internal/controller/cluster/metrics_test.go
  internal/controller/flux/plugin_controller.go
  internal/controller/organization/metrics.go
  internal/controller/organization/organization_controller.go
  internal/controller/plugin/helm_chart_testing.go
  internal/controller/plugin/metrics.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/util.go
  internal/controller/team/metrics.go
  internal/controller/team/team_controller.go
  internal/controller/teamrbac/metrics.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/helm/helm.go
  internal/metrics/common_metrics.go
  internal/metrics/common_metrics_test.go
  internal/metrics/helmcharttesting_metrics.go
  internal/metrics/plugin_metrics_test.go
  internal/metrics/pluginworkload_metrics.go
  internal/metrics/suite_test.go
  internal/util/metrics.go
  internal/util/metrics_test.go
Labels: none

feat: adapt tests to v1alpha2 pluginpreset, fix linter suggestions
  api/v1alpha1/pluginpreset_conversion.go
  e2e/plugin/e2e_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/test/resources.go
  internal/test/setup.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
  internal/webhook/v1alpha2/pluginpreset_webhook_test.go
  internal/webhook/v1alpha2/util.go
  internal/webhook/v1alpha2/webhook_suite_test.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

restructure cluster node status reporting
  api/v1alpha1/cluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusters.yaml
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/status_test.go
Labels: helm-charts, core-apis

replace map of node statuses with slice
  api/v1alpha1/cluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusters.yaml
  internal/controller/cluster/cluster_status.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

feat: update PluginPreset v1alpha2 references, adapt tests
  PROJECT
  e2e/plugin/e2e_test.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/test/assert.go
  internal/test/resources.go
  internal/test/util.go
  internal/webhook/v1alpha1/pluginpreset_webhook_test.go
  internal/webhook/v1alpha1/webhook_suite_test.go
  internal/webhook/v1alpha2/pluginpreset_webhook.go
  internal/webhook/v1alpha2/pluginpreset_webhook_test.go
  internal/webhook/v1alpha2/teamrolebinding_webhook_test.go
  internal/webhook/v1alpha2/util.go
Labels: none

feat(clusters): restructure cluster node status reporting (#1310)
  api/v1alpha1/cluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusters.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/status_test.go
Labels: helm-charts, core-apis, documentation

fix(core): remove sap tlds from examples
  charts/demo/data/alerts.json
  charts/demo/templates/doop-pluginconfig.yaml
  charts/demo/templates/heureka-pluginconfig.yaml
  charts/greenhouse/ci/test-values.yaml
  docs/user-guides/cluster/onboarding.md
Labels: helm-charts, documentation

add demo test values
  charts/demo/ci/test-values.yaml
Labels: helm-charts

Automatic application of license header
  charts/demo/ci/test-values.yaml
Labels: helm-charts

add template pluginpreset to greenhousectl
  internal/cmd/plugin_validate.go
  internal/cmd/template.go
  internal/cmd/template_pluginpreset.go
  internal/cmd/template_pluginpreset_test.go
  internal/cmd/utils.go
  internal/helm/helm.go
  internal/helm/utils.go
  internal/helm/values.go
Labels: none

feat: add tests for conversion with focus on failing one
  api/v1alpha2/groupversion_info.go
  internal/controller/plugin/conversion_test.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/webhook/v1alpha2/pluginpreset_webhook_test.go
Labels: core-apis

update contribute guide with local env setup
  Makefile
  dev-env/README.md
  dev-env/dev.config.yaml
  dev-env/docs.go
  dev-env/templates/_intro.md
  docs/contribute/local-dev.md
  e2e/config.yaml
  internal/local/commands/common.go
  internal/local/commands/dashboard.go
  internal/local/commands/setup.go
  internal/local/setup/manifest.go
  internal/local/setup/setup.go
  internal/local/setup/webhook.go
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
