Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

fix(plugin): update helmReleaseStatus on helm action error (#546)
  pkg/controllers/plugin/helm_controller.go
Labels: none

fix(build): remove unintended docker pull command from repository code
  charts/ui/values.yaml
Labels: helm-charts, ui

fix(service-proxy): only enqueue if watched resource changed
  cmd/service-proxy/proxy.go
Labels: none

fix(service-proxy): only enqueue if watched resource changed (#557)
  cmd/service-proxy/proxy.go
Labels: none

fix permission license eye
  .github/workflows/license.yaml
Labels: none

fix(build): add missing volumes key in deployment
  charts/ui/templates/deployment.yaml
Labels: helm-charts, ui

chore(build): adjust helm charts to switch to dashboard image (#555)
  charts/ui/templates/dashboard-props-cm.yaml
  charts/ui/templates/deployment.yaml
  charts/ui/templates/index-html-cm.yaml
  charts/ui/values.yaml
Labels: helm-charts, ui

add CC0 license
  LICENSES/CC0-1.0.txt
Labels: none

fix(codeql) custom build query
  .github/workflows/codeql.yaml
Labels: none

feat: make scim credentials required, generate manifests
  charts/manager/crds/greenhouse.sap_organizations.yaml
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: helm-charts, core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix(build): fix dashboard volumen mount
  charts/ui/templates/deployment.yaml
Labels: helm-charts, ui

fix(logshipping): remove suffix from audit input tag
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

fix(logshipping): remove suffix from audit input tag (#552)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: helm-charts, dependencies

fix(build): fix dashboard volumen mount (#559)
  charts/ui/templates/deployment.yaml
Labels: helm-charts, ui

docs(plugin-test) minor improvements
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

docs(plugin-test): Update instructions for running plugin tests
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

docs(plugin): improve documentation for helm chart tests (#446)
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

feat(teammembership): refactor cronjob into a controller (#440)
  Makefile
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/team-membership/.gitignore
  charts/team-membership/Chart.yaml
  charts/team-membership/templates/configmap.yaml
  charts/team-membership/templates/cronjob.yaml
  charts/team-membership/templates/rbac.yaml
  charts/team-membership/templates/secret.yaml
  charts/team-membership/templates/serviceaccount.yaml
  charts/team-membership/values.yaml
  cmd/greenhouse/controllers.go
  cmd/team-membership/k8s_client.go
  cmd/team-membership/main.go
  cmd/team-membership/team_membership_updater.go
  cmd/team-membership/team_membership_updater_test.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  hack/install
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/apis/greenhouse/v1alpha1/teammembership_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teammembership/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: helm-charts, core-apis, documentation, dependencies

feat(greenhouse): add scim config to gh organization
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/organization.yaml
  charts/greenhouse/templates/scim.yaml
Labels: helm-charts, dependencies

disable scim config by default
  charts/greenhouse/values.yaml
Labels: helm-charts

fix typo
  charts/greenhouse/templates/scim.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

yaml lint
  .github/workflows/codeql.yaml
Labels: none

feat(greenhouse): add scim config to gh organization (#563)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/organization.yaml
  charts/greenhouse/templates/scim.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

feature(helmController) enable/disablement of a plugin https://github.com/cloudoperators/greenhouse/issues/556
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_controller.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

try multiarch
  Makefile
Labels: none

multiarch2
  Makefile
Labels: none

multiarch3
  Makefile
Labels: none

devenv
  Dockerfile.dev-env
Labels: none

envtest
  Dockerfile.dev-env
Labels: none

devenv3
  .github/workflows/docker-build.yaml
  Dockerfile.dev-env
Labels: none

spearate run
  Dockerfile.dev-env
Labels: none

no sbom
  .github/workflows/docker-build.yaml
Labels: none

provenance set
  .github/workflows/docker-build.yaml
Labels: none

fix syntax
  Dockerfile.dev-env
Labels: none

feat(actions) use shared actions from common (#558)
  .github/workflows/ci-reuse.yaml
  .github/workflows/codeql.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/license.yaml
  .github/workflows/stale.yaml
  LICENSES/CC0-1.0.txt
Labels: none

feat: re-create CRDs if they are missing on helm upgrade
  pkg/controllers/plugin/helm_controller.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
  pkg/helm/suite_test.go
  pkg/test/fixtures/myChartWithCRDs/Chart.lock
  pkg/test/fixtures/myChartWithCRDs/Chart.yaml
  pkg/test/fixtures/myChartWithCRDs/crds/greenhouse.sap_teams.yaml
  pkg/test/fixtures/myChartWithCRDs/values.yaml
Labels: none

packages cleanup
  .github/workflows/cleanup.yaml
Labels: none

cleanup
  .github/workflows/cleanup.yaml
Labels: none
