Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

introduces trb ready metric + alert
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/team.alerts
  internal/controller/teamrbac/metrics.go
  internal/controller/teamrbac/teamrolebinding_controller.go
Labels: helm-charts

Automatic application of license header
  internal/controller/organization/metrics.go
  internal/controller/teamrbac/metrics.go
Labels: none

Fix lint
  internal/controller/organization/metrics.go
  internal/controller/teamrbac/metrics.go
Labels: none

Fix template errors
  charts/manager/alerts/organization.alerts
  charts/manager/alerts/plugin.alerts
Labels: helm-charts

fix(charts): add organization root ca for alm (#1205)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-alerts.yaml
Labels: helm-charts, dependencies

Fix lint: newline at end of file
  charts/manager/ci/test-values.yaml
Labels: helm-charts

Use owned_by label on TRB
  charts/manager/alerts/team.alerts
  internal/controller/teamrbac/metrics.go
Labels: helm-charts

refactor(utils): remove unused predicates
  internal/clientutil/predicates.go
Labels: none

add e2e tests to flux
  e2e/plugin/e2e_test.go
Labels: none

route operator alerts to org-admin
  charts/manager/alerts/operator.alerts
Labels: helm-charts

add cleanup, check on remote cluster e2e
  e2e/plugin/e2e_test.go
Labels: none

make generate
  charts/manager/templates/rbac/manager-role.yaml
Labels: helm-charts

feat: add support-group label to the admin team, reference the admin team in the service-proxy plugin owned-by label, adapt cluster and organization tests
  internal/controller/cluster/cluster_controller_test.go
  internal/controller/cluster/kubeconfig_controller_test.go
  internal/controller/cluster/status_test.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  internal/test/setup.go
Labels: none

thanos-central-and-blackbox
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/plugin-kube-monitoring.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

refactor(utils): remove unused predicates (#1217)
  internal/clientutil/predicates.go
Labels: none

feat(docs): add lfe footer to website
  website/layouts/_default/baseof.html
  website/layouts/partials/footer.html
Labels: none

chore(docs): adds copyright to the landing page and content formatted
  website/layouts/partials/footer-custom-area.html
  website/layouts/partials/footer.html
  website/layouts/partials/landing-page-footer-custom-area.html
Labels: none

legal disclosure is replaced by footer as well
  website/hugo.yaml
Labels: none

chore(docs): change fotor logo with theme
  website/assets/scss/_custom_styles_project.scss
  website/layouts/partials/footer-custom-area.html
Labels: none

Automatic application of license header
  website/layouts/_default/baseof.html
Labels: none

add LabelSelectorPredicate back
  internal/clientutil/predicates.go
Labels: none

refactor(charts): remove plugins & organization from greenhouse chart
  charts/greenhouse/templates/cluster-admin-rbac.yaml
  charts/greenhouse/templates/configmap-perses-dashboards.yaml
  charts/greenhouse/templates/configmap-plutono-dashboards.yaml
  charts/greenhouse/templates/container-image-retainer.yaml
  charts/greenhouse/templates/organization-secrets.yaml
  charts/greenhouse/templates/organization.yaml
  charts/greenhouse/templates/plugin-alerts.yaml
  charts/greenhouse/templates/plugin-cert-manager.yaml
  charts/greenhouse/templates/plugin-digicert-issuer.yaml
  charts/greenhouse/templates/plugin-disco.yaml
  charts/greenhouse/templates/plugin-ingress-nginx.yaml
  charts/greenhouse/templates/plugin-kube-monitoring.yaml
  charts/greenhouse/templates/plugin-logs.yaml
  charts/greenhouse/templates/plugin-logshipping.yaml
  charts/greenhouse/templates/plugin-perses.yaml
  charts/greenhouse/templates/plugin-plutono.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
  charts/greenhouse/templates/teams.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

refactor(ci): upload helm charts only on tagged commits
  .github/workflows/helm-push.yaml
  RELEASE.md
Labels: none

do not validate chart exists on lint
  .github/workflows/helm-lint.yaml
Labels: none

feat(docs): add lfe footer to website (#1215)
  website/assets/scss/_custom_styles_project.scss
  website/hugo.yaml
  website/layouts/_default/baseof.html
  website/layouts/partials/footer-custom-area.html
  website/layouts/partials/landing-page-footer-custom-area.html
Labels: none

github-guard to repo-guard
  internal/webhook/v1alpha1/plugin_webhook.go
Labels: none

chore(webhook): rename github-guard to repo-guard in central cluster allow list (#1222)
  internal/webhook/v1alpha1/plugin_webhook.go
Labels: none

First draft
  docs/getting-started/core-concepts/ownership.md
Labels: documentation

2nd iteration
  docs/getting-started/core-concepts/ownership.md
  docs/getting-started/core-concepts/teams.md
  docs/getting-started/operations/ownership.md
  docs/getting-started/operations/processes.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

feat(docs): updates docs for Logging to be more in-line with the Apeiro branding
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

chore(readme): Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

chore(.gitignore): adds drawio bkp files to .gitignore
  .gitignore
Labels: none

docs(logging): renames plugins and sorts them alphabetically
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

docs(architecture): updates diagram for logging
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

docs(logging): updates monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): removing CRDs to make the diagram more streamlined
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

docs(logging): adds OpenSearch to diagram
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
Labels: documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
