Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

fix(charts): overwrite logshipping env vars
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/plugin-logshipping.yaml
Labels: helm-charts, dependencies

fix(charts): overwrite logshipping env vars (#1136)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/plugin-logshipping.yaml
Labels: helm-charts, dependencies

(fix): re-write dynamically updated KinD configuration file
  internal/local/commands/setup.go
Labels: none

(fix): re-write dynamically updated KinD configuration file (#1137)
  internal/local/commands/setup.go
Labels: none

fix: fix linter suggestions
  api/v1alpha2/teamrolebinding_types.go
  internal/controller/teamrbac/suite_test.go
Labels: core-apis

feat(plugin): Add owning team to global option values
  api/well_known.go
  internal/helm/helm_test.go
  internal/helm/suite_test.go
  internal/helm/values.go
Labels: core-apis

Update docs
  docs/contribute/plugins.md
Labels: documentation

fix: remove duplicated crd file
  charts/manager/crds/greenhouse.sap_teamrolebindings.yml
Labels: helm-charts

(chore): adds label propagator between objects
  internal/lifecycle/propagation.go
Labels: none

(chore): transfer defined labels from secret to cluster resource
  internal/controller/cluster/bootstrap_controller.go
Labels: none

(chore): adds label propagator unit test
  internal/controller/cluster/bootstrap_controller_test.go
  internal/test/resources.go
  internal/test/setup.go
Labels: none

Automatic application of license header
  internal/lifecycle/propagation.go
Labels: none

(chore): adds test case for propagation
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/lifecycle/propagation.go
  internal/lifecycle/propagation_test.go
Labels: none

(chore): fix bootstrap controller
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/lifecycle/propagation_test.go
Labels: none

Automatic application of license header
  internal/lifecycle/propagation_test.go
Labels: none

Fix linting
  internal/helm/values.go
Labels: none

(chore): fix lint
  internal/controller/cluster/bootstrap_controller_test.go
  internal/lifecycle/propagation_test.go
Labels: none

(chore): fix timeout error
  internal/test/util.go
Labels: none

(chore): fix unit tests
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/test/util.go
Labels: none

(chore): propagate labels from preset to plugin
  internal/clientutil/patch.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
Labels: none

Update internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy.go
Labels: none

(chore): keep consistent secret assigment
  internal/controller/organization/service_proxy.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Update internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy.go
Labels: none

feat(service-proxy): authenticated service-proxy endpoints via dex (#1105)
  api/v1alpha1/organization_types.go
  docs/reference/api/openapi.yaml
  internal/controller/organization/dex.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  internal/test/resources.go
  internal/test/setup.go
Labels: core-apis, documentation

Automatic application of license header
  api/meta/v1alpha1/groupversion_info.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

fix: redundant import
  internal/controller/fixtures/dummy_types.go
Labels: none

fix: update external link overwrite in api docs
  api/meta/v1alpha1/doc.go
  api/meta/v1alpha1/groupversion_info.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  hack/docs-generator/config.json
Labels: core-apis, documentation

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix(actions): set current year in spdx for new files
  .github/licenserc.yaml
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

fix(actions): set current year in spdx for new files (#1145)
  .github/licenserc.yaml
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

feat(teams): alert for drop in members count
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/operator.alerts
Labels: helm-charts, dependencies

feat(teams): alert for drop in members count (#1148)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/operator.alerts
Labels: helm-charts, dependencies

Change owned-by Label Key
  api/well_known.go
  docs/contribute/plugins.md
  internal/helm/helm_test.go
  internal/helm/suite_test.go
  internal/helm/values.go
Labels: core-apis, documentation

refactor(docs): ✏️ reorganize README structure for clarity
  dev-env/README.md
Labels: none

(chore): apply suggestions from code review
  internal/lifecycle/propagation.go
Labels: none

(chore): uses renamed methods
  internal/lifecycle/propagation.go
Labels: none

(chore): calls appliedState within syncTargetLabels
  internal/lifecycle/propagation.go
Labels: none

(chore): addresses race condition
  internal/test/setup.go
Labels: none
