Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix: resolve linter warnings (#469)
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
Labels: core-apis, documentation

chore: bump tailscale dep to v1.70.0
  go.mod
  go.sum
Labels: dependencies

chore: bump tailscale dep to v1.70.0 (#468)
  go.mod
  go.sum
Labels: dependencies

feat(charts/greenhouse): update dashboards to dynamically discover datasources
  charts/greenhouse/dashboards/controller-resources.json
  charts/greenhouse/dashboards/controller-runtime.json
  charts/greenhouse/dashboards/proxy-services.json
Labels: helm-charts

feat(teammembership): add members_count metric
  pkg/controllers/teammembership/teammembership_updater_controller.go
Labels: none

feat(cluster) Additional cluster metrics (#453)
  pkg/controllers/cluster/metrics_controller.go
Labels: none

feat(cluster) Additional metrics for cluster in Prometeus
  charts/manager/alerts/operator.alerts
  cmd/greenhouse/controllers.go
  pkg/controllers/cluster/metrics_controller.go
Labels: helm-charts

feat(greenhouse): plutono plugin and dashboards added (#460)
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/dashboards/controller-resources.json
  charts/greenhouse/dashboards/controller-runtime.json
  charts/greenhouse/dashboards/proxy-services.json
  charts/greenhouse/templates/configmap-plutono-dashboards.yaml
  charts/greenhouse/templates/plugin-plutono.yaml
Labels: helm-charts, dependencies

feat(cluster) Unit tests for reconciler
  go.mod
  pkg/controllers/cluster/metrics_controller.go
  pkg/controllers/cluster/metrics_controller_test.go
Labels: dependencies

go mod tidy & use slog instead of dex/pkg/log
  go.mod
  go.sum
  pkg/idproxy/connector.go
  pkg/idproxy/storage.go
Labels: idproxy, dependencies

fix(dex) bump dex to v2.41.1
  go.mod
Labels: dependencies

adapt idproxy to use slog
  cmd/idproxy/main.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/idproxy/connector.go
  pkg/idproxy/connector_test.go
Labels: core-apis, idproxy

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Update pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

Update pkg/controllers/plugin/util.go
  pkg/controllers/plugin/util.go
Labels: none

replace context.TODO() with ctx from Reconcile
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

fix return status into pluginStatus
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

cleanup links; adds mandatory legal disclosure
  website/hugo.yaml
Labels: none

cleanup links; adds mandatory legal disclosure (#480)
  website/hugo.yaml
Labels: none

fix(dex) bump dex to v2.41.1 (#475)
  cmd/idproxy/main.go
  docs/reference/api/openapi.yaml
  go.mod
  go.sum
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/idproxy/connector.go
  pkg/idproxy/connector_test.go
  pkg/idproxy/storage.go
Labels: core-apis, documentation, idproxy, dependencies

fix(idproxy): log.SetLogger(...) was never called; logs will not be displayed
  cmd/idproxy/main.go
Labels: none

fix(idproxy): log.SetLogger(...) was never called; logs will not be displayed (#481)
  cmd/idproxy/main.go
Labels: none

feat(teammembership): refactor controller
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

feat(webhook): Log all admission requests of CRDs (#465)
  charts/manager/templates/webhooks.yaml
  pkg/admission/cluster_webhook.go
  pkg/admission/organization_webhook.go
  pkg/admission/plugin_webhook.go
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/secret_webhook.go
  pkg/admission/team_webhook.go
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/utils.go
Labels: helm-charts

retire multifilter functions
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/helm/manifest.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

Update icon in website
  website/hugo.yaml
Labels: none

(chore): adds dev setup configuration
  dev-env/localenv/sample.config.json
  dev-env/localenv/sample.values.yaml
Labels: none

feat(teammembership): generate manifests and documentation
  charts/greenhouse/Chart.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  cmd/team-membership/team_membership_updater_test.go
  docs/reference/api/index.html
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: helm-charts, core-apis, documentation, dependencies

(chore): adds dev setup docs
  dev-env/localenv/README.md
  dev-env/localenv/docs.go
Labels: none

(chore): adds dev setup make commands
  Makefile
Labels: none

(chore): reverts changes to unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: none

(chore): tidy up!
  go.mod
  go.sum
Labels: dependencies

(chore): move to greenhousectl dev subcommands
  pkg/cmd/dev.go
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifests.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/docker.go
  pkg/internal/local/setup/helm.go
  pkg/internal/local/setup/kind.go
  pkg/internal/local/setup/klient.go
  pkg/internal/local/setup/manifests.go
  pkg/internal/local/setup/setup.go
  pkg/internal/local/setup/webhook.go
  pkg/internal/local/utils/exec.go
  pkg/internal/local/utils/expect.go
  pkg/internal/local/utils/utils.go
Labels: none

(chore): tidy up
  go.mod
  go.sum
Labels: dependencies

Automatic application of license header
  dev-env/localenv/docs.go
  dev-env/localenv/sample.values.yaml
  pkg/internal/local/setup/klient.go
  pkg/internal/local/utils/exec.go
  pkg/internal/local/utils/expect.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat(teammembership): refactor tests
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none
