Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

[plugin-admin] clean up, panel can close via click on list
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.js
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useAPI.test.js
Labels: ui

[plugin-admin] handling in UI of undefined values and arrays
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
Labels: ui

fix(greenhousectl) bootstrap rm org check
  pkg/cmd/cluster_bootstrap.go
Labels: none

[plugin-admin] Disabled plugins are now shown
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useAPI.test.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.js
Labels: ui

[plugin-admin] comments for the application
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/hooks/useAPI.js
Labels: ui

Automatic application of license header
  ui/plugin-admin/__mocks__/client.js
  ui/plugin-admin/__mocks__/fileMock.js
  ui/plugin-admin/__mocks__/styleMock.js
  ui/plugin-admin/babel.config.js
  ui/plugin-admin/esbuild.config.js
  ui/plugin-admin/helpers/appProps.js
  ui/plugin-admin/jest.config.js
  ui/plugin-admin/public/index.html
  ui/plugin-admin/setupTests.js
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.js
  ui/plugin-admin/src/assets/juno-danger.svg
  ui/plugin-admin/src/assets/map.svg
  ui/plugin-admin/src/components/AsyncWorker.js
  ui/plugin-admin/src/components/Auth.js
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/components/StoreProvider.js
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useAPI.test.js
  ui/plugin-admin/src/hooks/useClient.js
  ui/plugin-admin/src/hooks/useCommunication.js
  ui/plugin-admin/src/hooks/useURLState.js
  ui/plugin-admin/src/index.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.test.js
  ui/plugin-admin/src/lib/store/index.js
  ui/plugin-admin/src/styles.scss
  ui/plugin-admin/tailwind.config.js
Labels: ui

fix(makefile): add all generate cmds to generate-all (#19)
  Makefile
  charts/manager/crds/extensions.greenhouse.sap_rolebindings.yaml
  charts/manager/crds/extensions.greenhouse.sap_roles.yaml
  charts/manager/templates/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: helm-charts, documentation

fix(greenhousectl) cleanup old logic (#33)
  pkg/cmd/cluster_bootstrap.go
Labels: none

feat(rbac): activate controller & replace clusterSelector
  charts/manager/crds/extensions.greenhouse.sap_rolebindings.yaml
  cmd/greenhouse/controllers.go
  pkg/admission/role_webhook_test.go
  pkg/admission/rolebinding_webhook.go
  pkg/admission/rolebinding_webhook_test.go
  pkg/apis/extensions.greenhouse/v1alpha1/rolebinding_types.go
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/rbac/rolebinding_controller.go
  pkg/controllers/rbac/rolebinding_controller_test.go
Labels: helm-charts, core-apis

feat(greenhouse-rbac): add ClusterAdmin and PluginAdmin roles (#29)
  cmd/dev-env/main.go
  pkg/controllers/organization/rbac_controller.go
  pkg/controllers/organization/rbac_controller_test.go
  pkg/idproxy/connector.go
  pkg/rbac/clusterrole.go
  pkg/rbac/role.go
  pkg/rbac/util.go
Labels: idproxy

feat(rbac): activate controller & replace clusterSelector (#30)
  charts/manager/crds/extensions.greenhouse.sap_rolebindings.yaml
  cmd/greenhouse/controllers.go
  pkg/admission/role_webhook_test.go
  pkg/admission/rolebinding_webhook.go
  pkg/admission/rolebinding_webhook_test.go
  pkg/apis/extensions.greenhouse/v1alpha1/rolebinding_types.go
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/rbac/rolebinding_controller.go
  pkg/controllers/rbac/rolebinding_controller_test.go
Labels: helm-charts, core-apis

fix(gh-actions) docker build matrix, image name
  .github/workflows/docker-build.yaml
Labels: none

fix(gh-actions) docker build matrix, image name (#37)
  .github/workflows/docker-build.yaml
Labels: none

fix(dev-env): pin setup-envtest version in dockerfile
  Dockerfile.dev-env
Labels: none

[plugin-admin] Cleaned Code, Correct Licence
  .gitignore
  ui/plugin-admin/LICENSE
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/public/favicon-16x16.png
  ui/plugin-admin/public/favicon-32x32.png
  ui/plugin-admin/public/favicon.ico
  ui/plugin-admin/src/assets/juno-danger.svg
  ui/plugin-admin/src/assets/map.svg
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/hooks/test.json
  ui/plugin-admin/src/lib/store/createGlobalsSlice.js
Labels: ui

fix(dev-env): pin setup-envtest version in dockerfile (#38)
  Dockerfile.dev-env
Labels: none

fix(gh-action) trivy scan format: template is deprecated
  .github/workflows/docker-build.yaml
Labels: none

[plugin-admin] store is now sliced in global and pluginstore
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/StoreProvider.js
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useURLState.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.js
  ui/plugin-admin/src/lib/store/createPluginSlice.js
  ui/plugin-admin/src/lib/store/index.js
Labels: ui

fix(gh-action) trivy scan format: template is deprecated (#39)
  .github/workflows/docker-build.yaml
Labels: none

[plugin-admin] tests for sorting of pluginConfig
  ui/plugin-admin/src/lib/store/createGlobalsSlice.test.js
  ui/plugin-admin/src/lib/store/createPluginSlice.js
  ui/plugin-admin/src/lib/store/createPluginSlice.test.js
Labels: ui

[plugin-admin] tests if external service URL are build correctly
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useAPI.test.js
Labels: ui

fix(gh-actions) run in paralell/ always upload trivy
  .github/workflows/docker-build.yaml
Labels: none

fix(gh-actions) run in paralell/ always upload trivy (#40)
  .github/workflows/docker-build.yaml
Labels: none

[plugin-admin] update name
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

enforce clusterName configured on pluginconfig
  pkg/admission/pluginconfig_webhook.go
  pkg/admission/utils.go
Labels: none

adjust tests
  pkg/admission/pluginconfig_webhook_test.go
  pkg/controllers/pluginconfig/remote_cluster_test.go
  pkg/controllers/pluginconfig/suite_test.go
Labels: none

make fmt
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/cmd/cluster_bootstrap.go
Labels: core-apis

immutable clusterName
  pkg/admission/pluginconfig_webhook.go
  pkg/admission/pluginconfig_webhook_test.go
  pkg/admission/utils.go
Labels: none

make fmt
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/pluginconfig/suite_test.go
Labels: core-apis

don't enforce clusterName for frontend-only plugins
  pkg/admission/pluginconfig_webhook.go
  pkg/admission/utils.go
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: core-apis

Plugin-Admin (#36)
  .gitignore
  ui/plugin-admin/LICENSE
  ui/plugin-admin/README.md
  ui/plugin-admin/__mocks__/client.js
  ui/plugin-admin/__mocks__/fileMock.js
  ui/plugin-admin/__mocks__/styleMock.js
  ui/plugin-admin/babel.config.js
  ui/plugin-admin/esbuild.config.js
  ui/plugin-admin/helpers/appProps.js
  ui/plugin-admin/jest.config.js
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/public/favicon-16x16.png
  ui/plugin-admin/public/favicon-32x32.png
  ui/plugin-admin/public/favicon.ico
  ui/plugin-admin/public/index.html
  ui/plugin-admin/secretProps.template.json
  ui/plugin-admin/setupTests.js
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.js
  ui/plugin-admin/src/assets/.gitkeep
  ui/plugin-admin/src/components/AsyncWorker.js
  ui/plugin-admin/src/components/Auth.js
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/components/StoreProvider.js
  ui/plugin-admin/src/hooks/.gitkeep
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useAPI.test.js
  ui/plugin-admin/src/hooks/useClient.js
  ui/plugin-admin/src/hooks/useCommunication.js
  ui/plugin-admin/src/hooks/useURLState.js
  ui/plugin-admin/src/index.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.js
  ui/plugin-admin/src/lib/store/createPluginSlice.js
  ui/plugin-admin/src/lib/store/createPluginSlice.test.js
  ui/plugin-admin/src/lib/store/index.js
  ui/plugin-admin/src/styles.scss
  ui/plugin-admin/tailwind.config.js
Labels: ui

[plugin-admin] changed UI-Components-version
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

[plugin-admin] changed to juno ui version 2.12
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

[plugin-admin] changed to juno ui version 2.12 (#44)
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

feat(role&bindings): enable webhooks
  cmd/greenhouse/webhooks.go
Labels: none

[plugin-admin] fixed all dependency versions
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

[plugin-admin] added peerDependencies
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

[plugin-admin] Fixed all dependencies versions (#46)
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

[cluster-admin] fix dependencies. don't use 'latest'
  ui/cluster-admin/package.json
Labels: ui

[cluster-admin] fix dependencies. add changed package-lock.json
  ui/cluster-admin/package-lock.json
Labels: ui

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
