Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

(chore): revert e2e change
  e2e/cluster/e2e_test.go
Labels: none

(chore): removes kube webhook cert values
  charts/manager/values.yaml
Labels: helm-charts

(chore): changes cert secretName
  charts/manager/templates/cert/client.yaml
  charts/manager/templates/webhook/deployment.yaml
  config/samples/cert-manager/client.yaml
Labels: helm-charts

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

feat(charts): adds cert-manager resources for webhook certs (#1162)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/cert/bootstrap.yaml
  charts/manager/templates/cert/client.yaml
  charts/manager/templates/cert/issuer.yaml
  charts/manager/templates/cert/kube-webhook-certgen-rbac.yaml
  charts/manager/templates/cert/kube-webhook-certgen.yaml
  charts/manager/templates/cert/root.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/templates/webhook/webhooks.yaml
  charts/manager/values.yaml
  config/samples/cert-manager/client.yaml
  dev-env/dev.values.yaml
  hack/helmify
Labels: helm-charts, dependencies

(chore): removes namespace from issuer certificate
  charts/manager/templates/cert/issuer.yaml
Labels: helm-charts

(chore): bump chart version
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
Labels: helm-charts, dependencies

fix(charts): removes namespace from issuer certificate (#1182)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/cert/issuer.yaml
Labels: helm-charts, dependencies

chore(charts): bump chart, appVersion and imageTag
  charts/cors-proxy/Chart.yaml
  charts/cors-proxy/values.yaml
  charts/dashboard/values.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/values.yaml
  charts/manager/Chart.yaml
  charts/manager/values.yaml
Labels: helm-charts, idproxy, dependencies

fix appVersion
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

feat(clusterplugindefinitions): adds ClusterPluginDefinition CRD (#1164)
  .github/workflows/ci-pr-title.yaml
  PROJECT
  api/v1alpha1/clusterplugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterplugindefinitions.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

incorporate review
  docs/architecture/high-level.md
Labels: documentation

docs(greenhouse): updates architecture documentation (#1161)
  docs/architecture/high-level.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

Update docs/architecture/monitoring.md
  docs/architecture/monitoring.md
Labels: documentation

(chore): link pluginDefinitionSpec directly to ClusterPluginDefinition.spec
  api/v1alpha1/clusterplugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
Labels: core-apis

(chore): re-use webhook func from pluginDefinition to clusterPluginDefinition
  internal/webhook/plugindefinition_webhook.go
  internal/webhook/plugindefinition_webhook_test.go
Labels: none

(chore): register cluster plugindefinition webhook
  cmd/greenhouse/webhooks.go
Labels: none

(chore): regenerate manifests
  charts/manager/crds/greenhouse.sap_clusterplugindefinitions.yaml
  charts/manager/crds/kustomization.yaml
  charts/manager/templates/webhook/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  types/typescript/schema.d.ts
Labels: helm-charts, documentation

(chore): adds make install to apply CRDs and Webhooks
  Makefile
Labels: none

(chore): bump chart versions
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
Labels: helm-charts, dependencies

Automatic application of license header
  types/typescript/schema.d.ts
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(chore): adds plugin definition controller
  api/v1alpha1/plugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  internal/controller/plugindefinition/plugindefinition_controller.go
Labels: helm-charts, core-apis, documentation

(chore): moves helper func to test utils
  internal/test/util.go
Labels: none

(chore): use helper func from test util pkg
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/suite_test.go
Labels: none

(chore): adds tests for PluginDefinition and ClusterPluginDefinition
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/controller/plugindefinition/suite_test.go
  types/typescript/schema.d.ts
Labels: none

feat: remove TeamMembership CRD from TeamMembershipUpdaterController, refactor the controller
  internal/controller/teammembership/teammembership_updater_controller.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

(fix): removes duplicate import
  internal/controller/plugindefinition/plugindefinition_controller_test.go
Labels: none

add deletion logic, add valuereffrom logic
  internal/controller/plugin/flux_contoller.go
Labels: none

nolint:unparam
  internal/controller/plugin/util.go
Labels: none

feat: adapt tests to changes in the TeamMembership controller
  internal/controller/teammembership/teammembership_updater_controller_test.go
Labels: none

only bump app version
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

add flux to e2e setup
  Makefile
  e2e/config.yaml
Labels: none

(fix): removes duplicate indexer for plugin controller
  internal/controller/plugin/flux_contoller.go
Labels: none

feat: remove TeamMembership CRD
  api/v1alpha1/team_types.go
  api/v1alpha1/teammembership_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/templates/rbac/manager-role.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  types/typescript/schema.d.ts
Labels: helm-charts, core-apis, documentation

feat(actions): push helm dev versions
  .github/workflows/helm-push.yaml
  RELEASE.md
Labels: none

feat: rename TeamMembershipUpdaterController to TeamController, remove TeamMembership from references
  .github/workflows/ci-pr-title.yaml
  api/meta/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/demo/templates/teams.yaml
  charts/manager/alerts/operator.alerts
  charts/manager/crds/kustomization.yaml
  cmd/greenhouse/controllers.go
  docs/contribute/local-dev.md
  internal/controller/fixtures/teammembership.yaml
  internal/controller/fixtures/teammembership_update.yaml
  internal/controller/team/suite_test.go
  internal/controller/team/team_controller.go
  internal/controller/team/team_controller_test.go
  internal/rbac/role.go
Labels: helm-charts, core-apis, documentation
