Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

update link to roadmap kanban
  README.md
Labels: documentation

fix: update gh-actions runners and token
  .github/workflows/build-greenhousectl.yaml
  .github/workflows/ghactions-updater.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/kustomize-lint.yaml
  .github/workflows/label.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-tests.yml
Labels: none

fix: update gh-actions runners and token (#8)
  .github/workflows/build-greenhousectl.yaml
  .github/workflows/ghactions-updater.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/kustomize-lint.yaml
  .github/workflows/label.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-tests.yml
Labels: none

fix(helm): reconcile error message not set
  pkg/controllers/pluginconfig/helm_controller.go
Labels: none

fix(makefile): increase linter timeout to 5m
  Makefile
Labels: none

feat: add gh-actions to check and fix license headers
  .github/licenserc.yaml
  .github/workflows/license.yaml
Labels: none

license header change runner
  .github/workflows/license.yaml
Labels: none

feat: add gh-actions to check and fix license headers
  .github/licenserc.yaml
  .github/workflows/license.yaml
Labels: none

license header change runner
  .github/workflows/license.yaml
Labels: none

add more ignore
  .github/licenserc.yaml
Labels: none

ignore docker and make
  .github/licenserc.yaml
Labels: none

ignore txt and scripts
  .github/licenserc.yaml
Labels: none

more specific on .reuse
  .github/licenserc.yaml
Labels: none

add space into .reuse folder
  .github/licenserc.yaml
Labels: none

ignore svg, Dockerfile
  .github/licenserc.yaml
Labels: none

add scheme builder to skip
  .github/licenserc.yaml
Labels: none

add ignore for tcp-proxy
  .github/licenserc.yaml
Labels: none

add gitignore to ignore list
  .github/licenserc.yaml
Labels: none

shorten license
  .github/licenserc.yaml
Labels: none

fix(makefile): increase linter timeout to 5m, disable UI test for now
  .github/workflows/ui-test.yml
  Makefile
Labels: none

feat(ui): Provide utils and types
  ui/types/schema.d.ts
  ui/types/types.ts
  ui/utils/humanizedTimePeriodToNow.ts
  ui/utils/package-lock.json
  ui/utils/package.json
  ui/utils/resourceStatus.ts
Labels: ui

feat(ui): Provide utils and types (#15)
  ui/types/schema.d.ts
  ui/types/types.ts
  ui/utils/humanizedTimePeriodToNow.ts
  ui/utils/package-lock.json
  ui/utils/package.json
  ui/utils/resourceStatus.ts
Labels: ui

add testcase to ensure UI plugin reconciliation
  pkg/controllers/pluginconfig/suite_test.go
Labels: none

fix: reconcile error message not set (#4)
  Makefile
  pkg/controllers/pluginconfig/helm_controller.go
  pkg/controllers/pluginconfig/suite_test.go
Labels: none

fix licenses; parameterize headscale chart
  .github/licenserc.yaml
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  charts/headscale/templates/etc/_acl_policy.yaml
  charts/headscale/templates/etc/_config.yaml
  charts/headscale/templates/etc/_derp.yaml
  charts/headscale/templates/etc/configmap.yaml
  charts/headscale/values.yaml
Labels: helm-charts, headscale

Automatic application of license header
  ui/types/schema.d.ts
  ui/types/types.ts
  ui/utils/humanizedTimePeriodToNow.ts
  ui/utils/resourceStatus.ts
Labels: ui

make generate-documentation
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation

[licenses] do not exclude hack scripts
  .github/licenserc.yaml
  hack/helmify
  hack/install
  hack/openapi-generator/_generate-wrapper
  hack/openapi-generator/generate-openapi-spec-from-crds
Labels: none

applying license manually
  .github/licenserc.yaml
  hack/helmify
  hack/install
  hack/openapi-generator/_generate-wrapper
  hack/openapi-generator/generate-openapi-spec-from-crds
Labels: none

fix licenses; parameterize headscale chart (#16)
  .github/licenserc.yaml
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  charts/headscale/templates/etc/_acl_policy.yaml
  charts/headscale/templates/etc/_config.yaml
  charts/headscale/templates/etc/_derp.yaml
  charts/headscale/templates/etc/configmap.yaml
  charts/headscale/values.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  hack/helmify
  hack/install
  hack/openapi-generator/_generate-wrapper
  hack/openapi-generator/generate-openapi-spec-from-crds
  ui/types/schema.d.ts
  ui/types/types.ts
  ui/utils/humanizedTimePeriodToNow.ts
  ui/utils/resourceStatus.ts
Labels: helm-charts, documentation, headscale, ui

start docs separation
  docs/user-guides/organization/sap-id.md
Labels: documentation

Delete docs/presentations/Vision.pptx
  docs/presentations/Vision.pptx
Labels: documentation

[plugin-admin] initial commit
  ui/plugin-admin/LICENSE
  ui/plugin-admin/README.md
  ui/plugin-admin/__mocks__/client.js
  ui/plugin-admin/__mocks__/fileMock.js
  ui/plugin-admin/__mocks__/styleMock.js
  ui/plugin-admin/babel.config.js
  ui/plugin-admin/esbuild.config.js
  ui/plugin-admin/helpers/appProps.js
  ui/plugin-admin/jest.config.js
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/public/favicon-16x16.png
  ui/plugin-admin/public/favicon-32x32.png
  ui/plugin-admin/public/favicon.ico
  ui/plugin-admin/public/index.html
  ui/plugin-admin/secretProps.template.json
  ui/plugin-admin/setupTests.js
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/App.test.js
  ui/plugin-admin/src/AppContent.js
  ui/plugin-admin/src/assets/.gitkeep
  ui/plugin-admin/src/assets/juno-danger.svg
  ui/plugin-admin/src/assets/map.svg
  ui/plugin-admin/src/components/AsyncWorker.js
  ui/plugin-admin/src/components/Auth.js
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/components/StoreProvider.js
  ui/plugin-admin/src/hooks/.gitkeep
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useClient.js
  ui/plugin-admin/src/hooks/useCommunication.js
  ui/plugin-admin/src/index.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.test.js
  ui/plugin-admin/src/lib/store/index.js
  ui/plugin-admin/src/styles.scss
  ui/plugin-admin/tailwind.config.js
Labels: ui

Correct the apache license text
  LICENSE
Labels: none

Correct the apache license text (#20)
  LICENSE
Labels: none

fix(makefile): add all generate cmds to generate-all
  Makefile
  charts/manager/crds/extensions.greenhouse.sap_rolebindings.yaml
  charts/manager/crds/extensions.greenhouse.sap_roles.yaml
  charts/manager/templates/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: helm-charts, documentation

clarify that presentations were always public
  docs/presentations/Greenhouse Workgroup kick-off.pptx
  docs/presentations/Kickoff.pdf
  docs/presentations/Kickoff.pptx
Labels: documentation

[plugin-admin] added icon for condition
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/hooks/useAPI.js
Labels: ui

[plugin-admin] hide optionValues with prefix greenhouse
  ui/plugin-admin/src/components/PluginDetail.js
Labels: ui

Update plugin API
  charts/manager/crds/extensions.greenhouse.sap_rolebindings.yaml
  charts/manager/crds/extensions.greenhouse.sap_roles.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/templates/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
Labels: helm-charts, core-apis, documentation

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
