Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - api/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - internal/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

refactor(docs): replace value propositions png (#1077)
  docs/assets/value-propositions.png
  docs/getting-started/overview.md
Labels: documentation

(chore): adds cert-manager to greenhouse setup
  dev-env/dev.config.yaml
Labels: none

(chore): handle nil checks
  internal/local/setup/cluster.go
  internal/local/utils/exec.go
Labels: none

(chore): ignore cert-job and set cert-mgr ca injection
  internal/local/setup/webhook.go
Labels: none

(chore): set admin cluster context for demo setup
  Makefile
Labels: none

(chore): ignore lint errcheck
  internal/local/setup/webhook.go
Labels: none

(chore): excludes cert job in e2e
  e2e/config.yaml
Labels: none

(chore): Debug e2e action
  internal/local/setup/manifest.go
Labels: none

(chore): Debug e2e action
  internal/local/setup/webhook.go
Labels: none

feat(idproxy): make keepUpstreamGroups configurable (#1091)
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/deployment.yaml
  charts/idproxy/values.yaml
  cmd/idproxy/main.go
Labels: helm-charts, idproxy, dependencies

feat(core): bump go version to 1.24 (#1082)
  .github/renovate.json
  .github/workflows/codeql.yaml
  Dockerfile
  go.mod
Labels: dependencies

fix(charts): add large-client-header-buffer to ingress plugin (#1089)
  charts/greenhouse/templates/plugin-ingress-nginx.yaml
Labels: helm-charts

(chore): re-order e2e cluster config
  e2e/config.yaml
Labels: none

(chore): set admin kube context for e2e
  e2e/config.yaml
Labels: none

(chore): debug mgr deployment
  internal/local/setup/manifest.go
Labels: none

(chore): set admin context for cert-manager installation
  e2e/config.yaml
  internal/local/setup/manifest.go
Labels: none

refresh the architecture overview
  docs/architecture/high-level.md
Labels: documentation

fix(core): address new linter
  .golangci.yaml
  Makefile
  api/v1alpha1/cluster_types.go
  api/v1alpha1/organization_types.go
  api/v1alpha1/plugin_types.go
  api/v1alpha1/pluginpreset_types.go
  api/v1alpha1/teamrolebinding_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  internal/cmd/cluster_bootstrap.go
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/cluster_controller.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/utils/token.go
  internal/controller/fixtures/dummy_types.go
  internal/controller/organization/service_proxy.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/util.go
  internal/controller/teammembership/teammembership_updater_controller.go
  internal/controller/teammembership/teammembership_updater_controller_test.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/helm/helm.go
  internal/scim/scim_client_mocks.go
  internal/test/env.go
  internal/test/util.go
  internal/webhook/plugin_webhook.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

chore(website): package.json is just needed for build not for dev
  website/package-lock.json
  website/package.json
Labels: none

chore(website): update to templater v3
  website/go.mod
  website/go.sum
  website/hugo.yaml
Labels: none

chore(website): update deployment with latest hugo and some improvements
  .github/workflows/deploy-github-pages.yaml
Labels: none

chore(website): test new action
  .github/workflows/deploy-github-pages.yaml
Labels: none

chore(worflow): fixed typo
  .github/workflows/deploy-github-pages.yaml
Labels: none

chore(workflow): remove test step for prs
  .github/workflows/deploy-github-pages.yaml
Labels: none

Update .github/workflows/deploy-github-pages.yaml
  .github/workflows/deploy-github-pages.yaml
Labels: none

chore(charts): bumps charts/dashboards to latest version (juno 0.5.2)
  charts/dashboard/values.yaml
Labels: helm-charts

chore(charts/dashboard): removes unused value 'environment'
  charts/dashboard/templates/dashboard-props-cm.yaml
  charts/dashboard/values.yaml
  dev-env/ui.values.yaml
Labels: helm-charts

fix(pkg/dashboard): removes 'mockAuth'
  internal/local/setup/dashboard.go
Labels: none

fix(e2e): removes deprecated fields from the appProps.json creation (#1049)
  charts/dashboard/templates/dashboard-props-cm.yaml
  charts/dashboard/values.yaml
  dev-env/ui.values.yaml
  internal/local/setup/dashboard.go
Labels: helm-charts

chore(docs): upgrade go and hugo-documentation-templater
  website/go.mod
  website/go.sum
Labels: none

rm toolchain
  website/go.mod
Labels: none

Update website/go.mod
  website/go.mod
Labels: none

feat: remove duplicate cert config; change ca injection value
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  charts/manager/templates/webhooks.yaml
  config/samples/cert-manager/cert-bootstrap.yaml
  config/samples/cert-manager/cert-issuer.yaml
  config/samples/cert-manager/cert-root.yaml
  config/samples/cert-manager/cert-server.yaml
  hack/crd/patches/cainjection_teamrolebindings.yaml
  hack/helmify
Labels: helm-charts, core-apis

chore(workflow): no need to install node
  .github/workflows/deploy-github-pages.yaml
Labels: none

chore(docs): hugo-documentation-templater upgraded to v3 and also added workflow improvements (#1095)
  .github/workflows/deploy-github-pages.yaml
  website/go.mod
  website/go.sum
  website/hugo.yaml
  website/package-lock.json
  website/package.json
Labels: none

feat(organizations): add pod logs to org admin rbac (#1090)
  internal/rbac/role.go
Labels: none

bump helm chart
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

(chore): use generateName for one time jobs
  charts/manager/templates/kube-webhook-certgen.yaml
Labels: helm-charts

(chore): implements oauth2proxy authentication via dex
  internal/controller/organization/dex.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
Labels: none
