Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

(test): update plugin preset unit test
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

(test): use retry on-conflict to update status
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
Labels: none

(chore): handle in-cluster plugin scenario
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

(test): use cluster delete annotations to delete cluster
  pkg/test/util.go
Labels: none

(chore): early return if no annotations found
  pkg/clientutil/util.go
Labels: none

(chore): set lint test and build as separate jobs
  .github/workflows/unit-tests.yml
  cmd/greenhouse/controllers.go
Labels: none

fix(plugin) Refactor tests (#459)
  pkg/test/resources.go
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

Automatic application of license header
  pkg/test/fixtures/testHook/templates/hook.yaml
Labels: none

(chore): remove unused func
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: none

(chore): fix formatting
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/suite_test.go
Labels: none

(chore): increase webhook timeout
  pkg/internal/local/setup/webhook.go
Labels: none

(chore): validate update cluster
  pkg/admission/cluster_webhook.go
  pkg/admission/cluster_webhook_test.go
Labels: none

(fix): fixes lint errors
  pkg/admission/cluster_webhook_test.go
  pkg/internal/local/setup/webhook.go
Labels: none

(chore): runs e2e with build tags
  Makefile
  test/e2e/controllers.go
  test/e2e/onboard_self_test.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
  test/e2e/webhooks.go
Labels: none

(chore): remove build tags for helpers
  test/e2e/controllers.go
  test/e2e/webhooks.go
Labels: none

(chore): validate test execution
  pkg/test/env.go
Labels: none

(chore): no lint for e2e helpers
  test/e2e/controllers.go
  test/e2e/webhooks.go
Labels: none

(test): validate test execution
  pkg/test/env.go
Labels: none

(test): avoid lint for e2e helpers
  pkg/test/env.go
  test/e2e/controllers.go
  test/e2e/webhooks.go
Labels: none

(test): add build tags for helpers
  test/e2e/controllers.go
  test/e2e/webhooks.go
Labels: none

(revert): revert test validation changes
  pkg/test/env.go
Labels: none

(chore): do not specify mod for e2e test
  Makefile
Labels: none

docs(pluginChartTest) minor improvements
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

ehancement(e2e): Run E2e with build tags (#613)
  Makefile
  test/e2e/controllers.go
  test/e2e/onboard_self_test.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
  test/e2e/webhooks.go
Labels: none

feat(service-proxy): Cap URL subdomain at 63 chars (#611)
  docs/user-guides/plugin/plugin-deployment.md
  pkg/common/url.go
  pkg/common/url_test.go
  pkg/controllers/plugin/remote_cluster_test.go
Labels: documentation

fix(service-proxy): Get route logging
  cmd/service-proxy/proxy.go
Labels: none

fix(types): Reintroduce typescript types
  ui/types/schema.d.ts
Labels: ui

fix(service-proxy): Get route logging (#615)
  cmd/service-proxy/proxy.go
Labels: none

Automatic application of license header
  ui/types/schema.d.ts
Labels: ui

fix(service-proxy): Correctly decompose host
  cmd/service-proxy/instrumentation.go
  cmd/service-proxy/proxy.go
  pkg/common/url.go
Labels: none

fix go fmt
  cmd/service-proxy/instrumentation.go
Labels: none

(fix): fixes valid host test case
  cmd/service-proxy/proxy_test.go
Labels: none

fix(service-proxy): Correctly decompose host (#617)
  cmd/service-proxy/instrumentation.go
  cmd/service-proxy/proxy.go
  cmd/service-proxy/proxy_test.go
  pkg/common/url.go
Labels: none

Apply suggestions from code review
  pkg/admission/cluster_webhook.go
  pkg/admission/cluster_webhook_test.go
Labels: none

(chore): move deletion condition from patch
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/cluster/status_controller_test.go
Labels: none

(chore): add comments
  pkg/clientutil/util.go
Labels: none

(chore): avoid manipulating clusterAccess ready condition
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
Labels: none

(chore): simplifies if plugin should reconcile
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/clientutil/util.go
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/util.go
Labels: core-apis

(chore): simplifies if plugin should reconcile
  Makefile
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/apis/well_known.go
  pkg/controllers/cluster/direct_access_controller.go
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/util.go
Labels: core-apis

(fix): fix cyclic imports
  cmd/greenhouse/controllers.go
  pkg/apis/well_known.go
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/cluster/util.go
  pkg/controllers/plugin/util.go
Labels: core-apis

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']
