Repository cloudoperators/greenhouse, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-charts, core-apis, documentation, headscale, idproxy, ui, dependencies

.github/labeler.yml:

# Add 'helm-charts' label to any charts change.
helm-charts:
- changed-files:
  - any-glob-to-any-file: charts/**

core-apis:
- changed-files:
  - any-glob-to-any-file: 
    - pkg/apis/**
    - config/crd/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
    - docs/**

headscale:
- changed-files:
  - any-glob-to-any-file:
    - charts/headscale/**
    - pkg/headscale/**
    - pkg/headscalectl/**

idproxy:
- changed-files:
  - any-glob-to-any-file:
    - charts/idproxy/**
    - pkg/idproxy/**
    - pkg/dex/**

ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**
    - charts/ui/**

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - go.mod
    - go.sum
    - charts/**/requirements.yaml
    - charts/**/Chart.yaml

feature:
 - head-branch: ['^feature', '^feat']

feat(plugin): Provide base domain as Plugin value
  pkg/helm/helm_test.go
  pkg/helm/values.go
Labels: none

fix(makefile)typo makefile target
  Makefile
Labels: none

fix(makefile)typo makefile target (#575)
  Makefile
Labels: none

Fix test, add todo
  test/e2e/plugin_lifecycle_test.go
Labels: none

Remove test focus
  test/e2e/plugin_lifecycle_test.go
Labels: none

fix(service-proxy): Use release namespace
  pkg/common/url.go
  pkg/common/url_test.go
Labels: none

chore(Plugin): Remove deprecated GetReleaseNamespace() func
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
Labels: core-apis

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

feat: add diffAgainstRemoteCRDs, add test for CRD re-creation
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/helm/diff.go
  pkg/helm/helm.go
  pkg/helm/suite_test.go
  pkg/test/fixtures/myChartWithCRDs/Chart.yaml
Labels: none

chore(ui): remove ui related workflows
  .github/workflows/ci-npm-packages.yaml
  .github/workflows/ui-test.yml
Labels: none

chore(greenhouse-ui): use new docker image
  charts/ui/values.yaml
Labels: helm-charts, ui

fix(build) rename makefile commands
  Makefile
Labels: none

fix(dockerfile) use new make targets
  Dockerfile
  Dockerfile.dev-env
Labels: none

add action to test Dockerbuild on PR
  .github/workflows/pr-docker-build.yaml
Labels: none

fix build action
  Makefile
Labels: none

add Makefile as trigger, no push
  .github/workflows/pr-docker-build.yaml
Labels: none

fix(test) reorder makefile
  Makefile
Labels: none

flap names for makefile
  Dockerfile
  Dockerfile.dev-env
  Makefile
Labels: none

rename controller-gen-action
  Makefile
Labels: none

change order of generate and action-generate
  Makefile
Labels: none

fix Makefile
  Dockerfile
  Dockerfile.dev-env
  Makefile
Labels: none

fix typo
  Makefile
Labels: none

fix FromAsCasing in Docker
  Dockerfile
  Dockerfile.dev-env
Labels: none

feat(plugin): Provide base domain as Plugin value (#574)
  pkg/helm/helm_test.go
  pkg/helm/values.go
  test/e2e/plugin_lifecycle_test.go
Labels: none

fix linting
  pkg/common/url_test.go
Labels: none

Automatic generation of CRD API Docs
  docs/reference/api/openapi.yaml
Labels: documentation

fix FromAsCasing in other Dockerfiles
  Dockerfile.headscalectl
  Dockerfile.tailscale
  Dockerfile.tcp-proxy
Labels: none

fix(teammembership): trigger controller on organization spec change
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

rm controllergen install from action make
  Dockerfile.dev-env
  Makefile
Labels: none

docs(plugin): add instructions for adding Plugin's Chart Directory to greenhouse-extensions helm test config file (#571)
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

refac(plugin): remove pluginStatus from initClientGetter requirements, move common plugin code to util
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: none

Fix(service-proxy): use release namespace (#576)
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/common/url.go
  pkg/common/url_test.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
Labels: core-apis, documentation

fix(build) rename makefile targets, PR build docker (#588)
  .github/workflows/pr-docker-build.yaml
  Dockerfile
  Dockerfile.dev-env
  Dockerfile.headscalectl
  Dockerfile.tailscale
  Dockerfile.tcp-proxy
  Makefile
Labels: none

fix(teammembership): trigger controller on organization spec change (#597)
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: none

feat: helm controller recreate CRDs (#577)
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/helm/diff.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
  pkg/helm/suite_test.go
  pkg/test/fixtures/myChartWithCRDs/Chart.lock
  pkg/test/fixtures/myChartWithCRDs/Chart.yaml
  pkg/test/fixtures/myChartWithCRDs/crds/greenhouse.sap_teams.yaml
  pkg/test/fixtures/myChartWithCRDs/values.yaml
Labels: none

fix: change outdated plugin release namespace references
  pkg/controllers/plugin/remote_cluster_test.go
Labels: none

fix: fix missing release namespace in plugin tests
  pkg/helm/diff_test.go
  pkg/helm/suite_test.go
Labels: none

fix: change outdated plugin release namespace references (#602)
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/helm/diff_test.go
  pkg/helm/suite_test.go
Labels: none

feat(devsetup): add option to specify image version
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifest.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/setup.go
Labels: none

fix(devsetup) lint
  pkg/internal/local/klient/kind.go
Labels: none
