Repository cloudoperators/greenhouse, pull requests merged in 2024-08, with the labels that each got.

#250 feat(test): creating local cluster for e2e
  .gitignore
  Makefile
  go.mod
  go.sum
  pkg/test/env.go
  pkg/test/util.go
  test/e2e/README.md
  test/e2e/local-cluster/create_cluster.go
  test/e2e/local-cluster/idproxy.values.yaml
  test/e2e/local-cluster/manager.values.yaml
  test/e2e/onboard_self_test.go
Labels: feature, dependencies

#399 feat(dev-env) add mounting a local helm chart
  dev-env/docker-compose.yaml
  docs/user-guides/plugin/development.md
Labels: documentation, feature

#404 docs: capitalization of sections, fix relative link, wording
  .github/workflows/deploy-github-pages.yaml
  dev-env/onboard-cluster.sh
  docs/contribute/local-dev.md
  docs/reference/catalog/_index.md
  docs/user-guides/plugin/catalog.md
  docs/user-guides/plugin/deploying.md
  docs/user-guides/plugin/development.md
  docs/user-guides/plugin/plugin-management.md
Labels: documentation

#418 fix: remove toolchain from go.mod
  go.mod
Labels: dependencies

#421 feat(docs): Improve docs on running greenhouse locally
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
  test/e2e/README.md
Labels: documentation, feature

#368 feat(workflows) add workflow to generate crd api documentation for the website. Some refactoring
  .github/workflows/check-changes-crd-api.yaml
  .gitignore
  Makefile
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  hack/docs-generator/README.md
  hack/docs-generator/config.json
  hack/docs-generator/templates/members.tpl
  hack/docs-generator/templates/pkg.tpl
  hack/docs-generator/templates/type.tpl
  hack/openapi-generator/_generate-wrapper
  hack/openapi-generator/generate-openapi-spec-from-crds
  pkg/apis/greenhouse/doc.go
  pkg/apis/greenhouse/v1alpha1/doc.go
Labels: documentation, core-apis

#427 feat: intial alerts for controller, webhook & proxies
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/greenhouse-operator.alerts
  charts/manager/alerts/proxy-service.alerts
  charts/manager/templates/manager-prometheusrules.yaml
  charts/manager/values.yaml
Labels: feature, helm-charts, dependencies

#431 fix: distinct names for proxy and operator alerts
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/proxies.alerts
  charts/manager/templates/manager-prometheusrules.yaml
Labels: helm-charts

#432 fix(alerts): default value for predefinedFilters.
  charts/greenhouse/Chart.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

#434 fix(plugin): reduce watches on Plugin & PluginPreset
  pkg/apis/well_known.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: core-apis

#438 feat: add idproxy duration_seconds, unify metric names
  cmd/cors-proxy/instrumentation.go
  cmd/service-proxy/instrumentation.go
Labels: feature

#444 fix(dashboard): point docs to github pages
  ui/cluster-admin/src/components/OnBoardCluster.tsx
  website/hugo.yaml
Labels: ui

#454 feat(charts/greenhouse) alerts slack routes by severity
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts, dependencies

#455 Fix(proxy): Fixes the proxy alert expression
  charts/manager/alerts/proxies.alerts
Labels: helm-charts

#457 feat(dev-env): add DEX crds to installed CRDs
  pkg/test/env.go
Labels: feature

#461 feat: add golangci-lint config + fixes
  .github/CODEOWNERS
  .golangci.yaml
  Makefile
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  cmd/cors-proxy/main.go
  cmd/dev-env/main.go
  cmd/greenhouse/main.go
  cmd/idproxy/main.go
  cmd/service-proxy/proxy.go
  cmd/team-membership/team_membership_updater_test.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/teamrole_webhook.go
  pkg/apis/greenhouse/doc.go
  pkg/apis/greenhouse/v1alpha1/doc.go
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
  pkg/cmd/cluster_bootstrap.go
  pkg/controllers/cluster/bootstrap_controller.go
  pkg/controllers/cluster/bootstrap_controller_test.go
  pkg/controllers/cluster/direct_access_controller_test.go
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/cluster/suite_test.go
  pkg/controllers/cluster/util.go
  pkg/controllers/organization/dex_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/controllers/plugin/util_test.go
  pkg/controllers/propagation_reconciler.go
  pkg/controllers/propagation_reconciler_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/flag/flag.go
  pkg/headscalectl/apikey.go
  pkg/headscalectl/preauthkey.go
  pkg/headscalectl/user.go
  pkg/headscalectl/util.go
  pkg/healthz/informer.go
  pkg/helm/helm.go
  pkg/helm/manifest.go
  pkg/idproxy/connector.go
  pkg/rbac/role.go
  pkg/rbac/util.go
  pkg/scim/scim_client.go
  pkg/scim/scim_client_mocks.go
  pkg/scim/scim_client_test.go
  pkg/tailscale-starter/util.go
  pkg/tcp-proxy/proxy/proxy.go
  pkg/test/env.go
  pkg/test/headscale.go
  pkg/test/util.go
  test/e2e/local-cluster/create_cluster.go
Labels: documentation, feature, core-apis, idproxy, ui, headscale, helm-charts

#430 feat(e2e): add plugin lifecycle test
  test/e2e/fixtures/fixtures.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
Labels: feature

#470 (fix): typo in user-guide onboarding docs
  docs/user-guides/cluster/onboarding.md
Labels: documentation

#469 fix: resolve linter warnings
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
Labels: documentation, core-apis

#468 chore: bump tailscale dep to v1.70.0
  go.mod
  go.sum
Labels: dependencies

#460 feat(greenhouse): plutono plugin and dashboards added
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/dashboards/controller-resources.json
  charts/greenhouse/dashboards/controller-runtime.json
  charts/greenhouse/dashboards/proxy-services.json
  charts/greenhouse/templates/configmap-plutono-dashboards.yaml
  charts/greenhouse/templates/plugin-plutono.yaml
Labels: helm-charts, dependencies

#475 fix(dex) bump dex to v2.41.1
  cmd/idproxy/main.go
  docs/reference/api/openapi.yaml
  go.mod
  go.sum
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/idproxy/connector.go
  pkg/idproxy/connector_test.go
  pkg/idproxy/storage.go
Labels: core-apis, idproxy, dependencies

#465 feat(webhook): Log all admission requests of CRDs
  charts/manager/templates/webhooks.yaml
  pkg/admission/cluster_webhook.go
  pkg/admission/organization_webhook.go
  pkg/admission/plugin_webhook.go
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/secret_webhook.go
  pkg/admission/team_webhook.go
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/utils.go
Labels: feature, helm-charts

#398 feat(plugin): add status for workload resources readiness
  charts/manager/templates/manager-role.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
  pkg/helm/manifest.go
Labels: documentation, feature, core-apis, helm-charts

#494 feat(makefile): split fmt into fmt and lint
  .github/workflows/unit-tests.yml
  Makefile
Labels: feature

#464 feat(greenhouse): new crd for storing cluster kubeconfig data
  PROJECT
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/clusterkubeconfig_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: documentation, feature, core-apis, helm-charts

#489 feat(teamrbac): add support for rbacv1.AggregationRule
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/team/rbac.md
  pkg/admission/teamrole_webhook.go
  pkg/admission/teamrole_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/assert.go
  pkg/test/resources.go
Labels: documentation, feature, core-apis, helm-charts

#501 feat: update teams in codeowners
  .github/CODEOWNERS
Labels: dependencies

#503 feat(rbac): allow OrgAdmins to view secrets, configmaps & workload res
  pkg/rbac/role.go
Labels: feature

#452 feat(dev-env): Setup local development environment using greenhousectl
  Makefile
  charts/manager/templates/manager-role.yaml
  cmd/greenhouse/main.go
  dev-env/localenv/README.md
  dev-env/localenv/docs.go
  dev-env/localenv/sample.config.json
  dev-env/localenv/sample.values.yaml
  dev-env/localenv/templates/_generate-docs.md
  dev-env/localenv/templates/_intro.md
  docs/reference/api/openapi.yaml
  go.mod
  go.sum
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/cmd/dev.go
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifest.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/helm/helm.go
  pkg/internal/local/klient/docker.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/klient/klient.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/manifest.go
  pkg/internal/local/setup/setup.go
  pkg/internal/local/setup/webhook.go
  pkg/internal/local/utils/exec.go
  pkg/internal/local/utils/expect.go
  pkg/internal/local/utils/utils.go
  ui/types/schema.d.ts
Labels: documentation, feature, core-apis, ui, helm-charts, dependencies

#507 (fix): create namespace using kubeconfig
  pkg/internal/local/klient/kind.go
  pkg/internal/local/setup/cluster.go
Labels: bug

#504 fix(plugin) workload status controller duplicate message / ComputeReadyCondition
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
Labels: bug

#513 chore(apps): upgrade versions due to patch dependencies upgrade
  ui/cluster-admin/package.json
  ui/dashboard/package.json
  ui/org-admin/package.json
  ui/plugin-admin/package.json
  ui/secret-admin/package.json
  ui/team-admin/package.json
Labels: ui
