Repository cloudoperators/greenhouse, pull requests merged in 2024-06, with the labels that each got.

#254 Update CODEOWNERS
  .github/CODEOWNERS
Labels: feature

#261 docs(plugindev): add guide for local development
  docs/user-guides/plugin/development.md
Labels: documentation

#284 fix(team-admin): make app public, remove stars from peerDependencies, some typos and version upgrade
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

#278 fix(dashboard): make app public, remove stars from peerDependencies and some typos
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
Labels: ui

#279 fix(org-admin): make app public, remove stars from peerDependencies and some typos
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
Labels: ui

#281 fix(plugin-admin): make app public, remove stars from peerDependencies and some typos
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

#277 fix(cluster-admin): make app public, remove stars from peerDependencies and some typos
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

#282 fix(secrets): make app public, remove unused peerDependencies
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
Labels: ui

#276 Feat(e2e): test setup
  Makefile
  pkg/test/env.go
  test/e2e/README.md
  test/e2e/controllers.go
  test/e2e/onboard_self_test.go
  test/e2e/suite_test.go
  test/e2e/webhooks.go
Labels: feature

#258 Feat(manifests): Generate Typescript types from CRDs
  .github/licenserc.yaml
  Makefile
  hack/typescript/create-types
  hack/typescript/metadata.yaml
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/hooks/useWatch.ts
  ui/cluster-admin/src/lib/utils/resourceStatus.ts
  ui/cluster-admin/src/store.ts
  ui/cluster-admin/src/types/schema.d.ts
  ui/cluster-admin/src/types/types.ts
Labels: feature, ui

#295 Fix(uis): Update sass package to remove CWE-1050
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

#294 feat(workflow) added a workflow to check all 3rd party licences from all MFEs
  .github/workflows/3rd-party-licenses.yaml
  .gitignore
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
Labels: feature, ui

#238 feat(teamrbac): support clusterSelector
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/conditions.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/clientutil/client.go
  pkg/clientutil/delete.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/resources.go
Labels: feature, core-apis, helm-charts

#297 feat(teamrbac): add printercolumns for TeamRole TeamRoleBinding
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: feature, core-apis

#300 fix(secrets-admin): No watch if unauthorized + some refactoring
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/App.js
  ui/secret-admin/src/AppContent.tsx
  ui/secret-admin/src/components/AsyncWorker.tsx
  ui/secret-admin/src/components/SecretEdit.tsx
  ui/secret-admin/src/components/SecretFormBody.tsx
  ui/secret-admin/src/components/SecretFormButtons.tsx
  ui/secret-admin/src/components/SecretFormHeader.tsx
  ui/secret-admin/src/components/SecretList.tsx
  ui/secret-admin/src/components/SecretListItem.tsx
  ui/secret-admin/src/components/SubmitResultMessage.tsx
  ui/secret-admin/src/components/initSecret.ts
  ui/secret-admin/src/components/secretUtils.ts
  ui/secret-admin/src/hooks/useIsAuthorized.ts
  ui/secret-admin/src/hooks/useSecretApi.ts
  ui/types/types.ts
Labels: ui

#299 [feature] sync issues labeled jira
  .github/workflows/sync-issues-to-jira.yaml
Labels: feature

#298 fix(teamrbac): run generate manifests
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
Labels: feature, helm-charts

#306 feat(workflows) build a CI workflow reusing Juno workflows
  .github/workflows/3rd-party-licenses.yaml
  .github/workflows/ci-npm-packages.yaml
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/helpers/appProps.js
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
  ui/types/package.json
Labels: ui

#309 feat(apps) add 'built wiht juno' badge in the app readmes with the self hosted svg
  ui/cluster-admin/README.md
  ui/dashboard/README.md
  ui/org-admin/README.md
  ui/plugin-admin/README.md
  ui/secret-admin/README.md
  ui/team-admin/README.md
Labels: ui

#308 feat(plugin): make exposed port configurable by name
  pkg/apis/well_known.go
  pkg/controllers/plugin/util.go
  pkg/controllers/plugin/util_test.go
Labels: feature, core-apis

#310 chore(dashboard,orgAdmin,pluginAdmin,teamAdmin) fix vulnerabilities upgrading dependencies
  ui/dashboard/package-lock.json
  ui/org-admin/package-lock.json
  ui/plugin-admin/package-lock.json
  ui/team-admin/package-lock.json
Labels: ui
