Repository cloudoperators/greenhouse, pull requests merged in 2024-10, with the labels that each got.

#613 ehancement(e2e): Run E2e with build tags
  Makefile
  test/e2e/controllers.go
  test/e2e/onboard_self_test.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
  test/e2e/webhooks.go
Labels: enhancement

#611 feat(service-proxy): Cap URL subdomain at 63 chars
  docs/user-guides/plugin/plugin-deployment.md
  pkg/common/url.go
  pkg/common/url_test.go
  pkg/controllers/plugin/remote_cluster_test.go
Labels: documentation, feature

#616 fix(types): Reintroduce typescript types
  .github/CODEOWNERS
  Makefile
  types/typescript/schema.d.ts
Labels: ui

#609 feat(cluster): Cluster Off-Boarding
  .github/workflows/unit-tests.yml
  Makefile
  docs/reference/api/openapi.yaml
  pkg/admission/cluster_webhook.go
  pkg/admission/cluster_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/apis/well_known.go
  pkg/clientutil/util.go
  pkg/controllers/cluster/direct_access_controller.go
  pkg/controllers/cluster/status_controller.go
  pkg/controllers/cluster/status_controller_test.go
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/internal/local/setup/webhook.go
  pkg/test/assert.go
  pkg/test/util.go
  test/e2e/onboard_self_test.go
Labels: documentation, feature, core-apis

#622 fix: update api reference link + add documentation link
  README.md
Labels: documentation

#614 docs(pluginChartTest) minor improvements
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

#630 feat(gh-action): Build UI helm chart separately
  .github/workflows/helm-push.yaml
Labels: feature

#631 feat(ci): adds new charts for ui with different resource naming until the decoupling from backend is done
  charts/dashboard/Chart.yaml
  charts/dashboard/ci/test-values.yaml
  charts/dashboard/templates/dashboard-props-cm.yaml
  charts/dashboard/templates/deployment.yaml
  charts/dashboard/templates/ingress.yaml
  charts/dashboard/templates/service.yaml
  charts/dashboard/values.yaml
Labels: helm-charts, dependencies

#633 fix: remove org admin idp profile from chart
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

#637 feat(ci): bump golangci-lint to 1.61.0
  Makefile
Labels: feature

#639 fix(conditions): IsReadyTrue handles non-existing Ready condition
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/conditions.go
  pkg/apis/greenhouse/v1alpha1/conditions_test.go
Labels: core-apis

#526 feat(core): kubeconfig registry controller
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/templates/manager-role.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  go.mod
  pkg/apis/greenhouse/v1alpha1/clusterkubeconfig_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/clientutil/predicates.go
  pkg/controllers/cluster/kubeconfig_controller.go
  pkg/controllers/cluster/kubeconfig_controller_test.go
  pkg/controllers/cluster/suite_test.go
  test/e2e/controllers.go
Labels: documentation, feature, core-apis, helm-charts, dependencies

#645 fix: ClusterKubeconfigs not registered in kustomization
  charts/manager/crds/kustomization.yaml
Labels: helm-charts

#623 feat(reconciler): Shared reconciliation loop logic for controllers
  .mockery.yaml
  Makefile
  docs/reference/api/openapi.yaml
  go.mod
  pkg/apis/greenhouse/v1alpha1/conditions.go
  pkg/apis/greenhouse/v1alpha1/conditions_test.go
  pkg/controllers/fixtures/dummy_types.go
  pkg/lifecycle/context.go
  pkg/lifecycle/context_exports_test.go
  pkg/lifecycle/context_test.go
  pkg/lifecycle/reconcile.go
  pkg/lifecycle/reconcile_test.go
  pkg/mocks/mock_Client.go
  pkg/mocks/mock_Reconciler.go
  pkg/mocks/mock_SubResourceWriter.go
Labels: documentation, feature, core-apis, dependencies

#624 refac(Cluster) - Merge & Standardize DirectAccess and ClusterStatus Controller
  cmd/greenhouse/controllers.go
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/apis/greenhouse/v1alpha1/conditions.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/cluster/cluster_controller.go
  pkg/controllers/cluster/cluster_controller_test.go
  pkg/controllers/cluster/status.go
  pkg/controllers/cluster/status_test.go
  pkg/controllers/cluster/suite_test.go
  pkg/controllers/cluster/util.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/test/assert.go
  pkg/test/util.go
  test/e2e/controllers.go
Labels: documentation, core-apis, dependencies

#641 feat(rbac): Introduce further default seeded TeamRoles
  docs/user-guides/team/rbac.md
  pkg/controllers/organization/organization_exports_test.go
  pkg/controllers/organization/suite_test.go
  pkg/controllers/organization/teamrole_seeder_controller.go
  pkg/controllers/organization/teamrole_seeder_controller_test.go
Labels: documentation, feature

#651 docs(core-concepts): adds descriptions for greenhouse core concepts
  docs/README.md
  docs/getting-started/core-concepts/_index.md
  docs/getting-started/core-concepts/clusters.md
  docs/getting-started/core-concepts/organizations.md
  docs/getting-started/core-concepts/plugins.md
  docs/getting-started/core-concepts/teams.md
Labels: documentation

#659 feat(renovate): update tools version in Makefile
  .github/renovate.json
Labels: feature

#662 Revert "feat(organizationwebhook): deny deletion of organization (#610)"
  pkg/admission/organization_webhook.go
  pkg/admission/organization_webhook_test.go
Labels: feature

#663 fix(renovate) rm custom managers
  .github/renovate.json
Labels: feature

#653 Add alert for failing Plugin Helm Chart tests
  charts/manager/alerts/operator.alerts
Labels: helm-charts

#636 feat: add JoinURL field to Team Spec
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/team_webhook.go
  pkg/admission/team_webhook_test.go
  pkg/admission/utils.go
  pkg/apis/greenhouse/v1alpha1/team_types.go
Labels: documentation, feature, core-apis, helm-charts

#670 feat(pluginpreset): additional printcolumns
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
Labels: feature, core-apis, helm-charts

#657 feat(clusterController): check actual token validity
  go.mod
  pkg/controllers/cluster/cluster_controller.go
  pkg/controllers/cluster/status.go
  pkg/controllers/cluster/util.go
  pkg/controllers/plugin/util.go
  pkg/test/util.go
Labels: feature, dependencies

#650 Refac/organization standardization
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/clientutil/predicates.go
  pkg/controllers/cluster/status_test.go
  pkg/controllers/organization/dex_controller.go
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
  pkg/controllers/organization/rbac_controller.go
  pkg/controllers/organization/service_proxy_controller.go
  pkg/controllers/organization/service_proxy_controller_test.go
  pkg/controllers/organization/teamrole_seeder_controller.go
Labels: documentation, core-apis

#640 feat(ci) add ghcr cleanup action
  .github/workflows/ci-cleanup.yaml
Labels: feature

#676 Fix typo in clusters.md
  docs/getting-started/core-concepts/clusters.md
  docs/getting-started/core-concepts/plugins.md
  docs/getting-started/core-concepts/teams.md
Labels: documentation

#634 feat(cluster) configurable max token validity (#518)
  charts/manager/crds/greenhouse.sap_clusters.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/cluster/onboarding.md
  pkg/admission/cluster_webhook.go
  pkg/admission/cluster_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/cluster_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/cluster/cluster_controller.go
  pkg/controllers/cluster/status_test.go
Labels: documentation, feature, core-apis, helm-charts

#608 feat(e2e): run e2e tests as actions
  .github/workflows/ci-e2e-test.yaml
Labels: feature
