Repository cloudoperators/greenhouse, pull requests merged in 2024-11, with the labels that each got.

#684 refac(teammembership) Standardization of Team Membership Updater (#582)
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/team_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: documentation, core-apis, helm-charts

#675 feat(actions): enforce semantic pr title
  .github/workflows/ci-pr-title.yaml
Labels: feature

#697 feat(config): update the feature issue template
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: feature

#655 docs(clusters): improve cluster onboarding documentation
  docs/user-guides/cluster/onboarding.md
Labels: documentation

#703 chore(template): adds cert job annotations to manager chart
  charts/manager/templates/kube-webhook-certgen.yaml
  charts/manager/values.yaml
Labels: helm-charts

#678 fix(service-proxy): well defined urls for exposed services with max 63
  cmd/service-proxy/instrumentation.go
  cmd/service-proxy/main.go
  cmd/service-proxy/proxy.go
  cmd/service-proxy/proxy_test.go
  docs/user-guides/plugin/plugin-deployment.md
  pkg/admission/cluster_webhook.go
  pkg/admission/utils.go
  pkg/common/url.go
  pkg/common/url_test.go
  pkg/controllers/plugin/remote_cluster_test.go
Labels: documentation

#718 feat(utils): add namespace selector to greenhouse secret webhooks
  charts/manager/templates/webhooks.yaml
  hack/helmify
Labels: feature, helm-charts

#625 feat(ui): optional ui chart
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: feature, helm-charts, dependencies

#719 fix(utils): incomplete label name
  charts/manager/templates/webhooks.yaml
  hack/helmify
Labels: feature, helm-charts

#648 feat(organizations): organization SCIM config availability
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/organization/creation.md
  docs/user-guides/team/create.md
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/apis/greenhouse/v1alpha1/teammembership_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
  pkg/controllers/organization/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: documentation, feature, core-apis, helm-charts

#667 refactor(teamrolebindings): team role binding controller standardization
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/controllers/cluster/status_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
Labels: documentation, core-apis

#660 chore(ci): adds changes to the dashboard charts to work with the new pipeline and new secrets
  charts/dashboard/Chart.yaml
  charts/dashboard/templates/dashboard-props-cm.yaml
  charts/dashboard/templates/deployment.yaml
  charts/dashboard/templates/ingress.yaml
  charts/dashboard/values.yaml
Labels: helm-charts, dependencies

#731 docs(docs): update plugins.md
  docs/getting-started/core-concepts/plugins.md
Labels: documentation

#721 feat(ci): add Release Greenhouse GitHub Action
  .github/.goreleaser.yaml
  .github/changelog-config.json
  .github/workflows/ci-release.yaml
Labels: feature

#720 fix(organizations): set default status conditions
  charts/manager/crds/greenhouse.sap_organizations.yaml
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/controllers/organization/organization_controller_test.go
  types/typescript/schema.d.ts
Labels: documentation, core-apis, helm-charts

#732 docs(docs): update observability architecture
  docs/architecture/monitoring-architecture.drawio
  docs/architecture/monitoring-architecture.png
  docs/architecture/monitoring.md
Labels: documentation

#742 fix(teamrolebindings): fix LastTransitionTime setting
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
Labels: documentation, core-apis

#734 feat(plugins): e2e plugin lifecycle migration
  Makefile
  e2e/plugin/e2e_test.go
  e2e/plugin/fixtures/fixtures.go
  e2e/plugin/testdata/organization.yaml
  pkg/helm/diff_test.go
Labels: feature

#757 feat(idproxy): add alert for 5xx errors
  charts/greenhouse/Chart.yaml
  charts/manager/alerts/proxies.alerts
Labels: feature, helm-charts, dependencies

#762 fix(greenhouse): fix plutono dashboard datasource and query type
  charts/greenhouse/Chart.yaml
  charts/greenhouse/dashboards/controller-resources.json
  charts/greenhouse/dashboards/controller-runtime.json
  charts/greenhouse/dashboards/proxy-services.json
Labels: helm-charts, dependencies

#761 feat(organizations): mappedOrgAdminGroupID is mandatory for organizations
  docs/user-guides/organization/creation.md
  pkg/admission/organization_webhook.go
  pkg/admission/organization_webhook_test.go
  pkg/controllers/cluster/kubeconfig_controller_test.go
  pkg/test/resources.go
Labels: documentation, feature

#772 feat(ci): add charts as accepted pr title scope
  .github/workflows/ci-pr-title.yaml
Labels: feature

#744 refactor(organizations): consolidation of organization controllers
  cmd/greenhouse/controllers.go
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/controllers/organization/dex.go
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
  pkg/controllers/organization/rbac.go
  pkg/controllers/organization/rbac_test.go
  pkg/controllers/organization/service_proxy.go
  pkg/controllers/organization/service_proxy_test.go
  pkg/controllers/organization/suite_test.go
  pkg/controllers/organization/teamrole_seeder.go
  pkg/controllers/organization/teamrole_seeder_test.go
  pkg/controllers/organization/utils.go
  pkg/test/env.go
Labels: documentation, core-apis

#752 docs(core): describe how to create a new controller
  .github/pull_request_template.md
  CONTRIBUTING.md
  docs/contribute/new-controller.md
Labels: documentation

#781 fix(teammemberships): add jlitter to requeue to spread load
  pkg/controllers/teammembership/teammembership_updater_controller.go
Labels: feature

#783 docs(core): typo in controller contrib guide
  docs/contribute/new-controller.md
Labels: documentation

#784 feat(ci): pin openapi-spec to version 'main'
  Makefile
  docs/reference/api/openapi.yaml
Labels: documentation

#780 fix(teammemberships): improve error handling
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/teammembership_types.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/scim/scim_client.go
  pkg/scim/scim_client_test.go
Labels: documentation, core-apis

#785 feat(greenhousectl): validation of cluster name during onboarding
  pkg/admission/secret_webhook.go
  pkg/admission/secret_webhook_test.go
  pkg/cmd/cluster_bootstrap.go
Labels: feature

#747 docs(plugins): add overview section and architecture diagram
  docs/user-guides/plugin/plugin-chart-test-drawing.drawio
  docs/user-guides/plugin/plugin-chart-test-drawing.png
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

#786 chore(docs): fix broken links
  docs/contribute/plugins.md
  docs/getting-started/core-concepts/_index.md
  docs/user-guides/organization/creation.md
  docs/user-guides/plugin/local-plugin-development.md
Labels: documentation
