Repository cloudoperators/greenhouse, pull requests merged in 2024-05, with the labels that each got.

#168 feat(dev-env): Accept all hosts
  Dockerfile.dev-env
  ui/cluster-admin/README.md
  ui/cluster-admin/docker-compose.yaml
  ui/cluster-admin/network-host.docker-compose.yaml
  ui/cluster-admin/secretProps.dev.json
Labels: feature, ui

#194 feat(ui): Use new frontend app name
  charts/ui/templates/index-html-cm.yaml
Labels: feature, ui, helm-charts

#201 feat(rbac): permit org admins to debug alertmangers
  pkg/rbac/role.go
Labels: feature

#202 feat(preset): enqueue Preset if Plugin is labelled with Preset LabelKey
  pkg/controllers/plugin/pluginpreset_controller.go
Labels: feature

#200 feat(plugin): move greenhouse values to helm global scope
  pkg/helm/helm_test.go
  pkg/helm/values.go
Labels: feature

#218 pluginpresets rbac for org admins
  pkg/rbac/role.go
Labels: feature

#214 Feat(ui): Add secrets admin
  ui/secret-admin/LICENSE
  ui/secret-admin/README.md
  ui/secret-admin/babel.config.js
  ui/secret-admin/bootstrap/cluster-3.yaml
  ui/secret-admin/bootstrap/cluster-secrets.yaml
  ui/secret-admin/bootstrap/nodes.yaml
  ui/secret-admin/bootstrap/test-org.yaml
  ui/secret-admin/docker-compose.yaml
  ui/secret-admin/esbuild.config.js
  ui/secret-admin/jest.config.js
  ui/secret-admin/network-host.docker-compose.yaml
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/public/index.html
  ui/secret-admin/secretProps.template.json
  ui/secret-admin/setupTests.js
  ui/secret-admin/src/App.js
  ui/secret-admin/src/AppContent.tsx
  ui/secret-admin/src/assets/.gitkeep
  ui/secret-admin/src/components/AsyncWorker.tsx
  ui/secret-admin/src/components/Auth.js
  ui/secret-admin/src/components/KeyValueInput.tsx
  ui/secret-admin/src/components/SecretEdit.tsx
  ui/secret-admin/src/components/SecretList.tsx
  ui/secret-admin/src/components/SecretListItem.tsx
  ui/secret-admin/src/components/StoreProvider.js
  ui/secret-admin/src/components/SubmitResultMessage.tsx
  ui/secret-admin/src/components/WelcomeView.tsx
  ui/secret-admin/src/components/initSecret.ts
  ui/secret-admin/src/hooks/.gitkeep
  ui/secret-admin/src/hooks/useApi.ts
  ui/secret-admin/src/hooks/useClient.ts
  ui/secret-admin/src/hooks/useCommunication.js
  ui/secret-admin/src/hooks/useIsAuthorized.ts
  ui/secret-admin/src/hooks/useNamespace.js
  ui/secret-admin/src/hooks/useSecretApi.ts
  ui/secret-admin/src/hooks/useUrlState.ts
  ui/secret-admin/src/hooks/useWatch.ts
  ui/secret-admin/src/index.js
  ui/secret-admin/src/lib/store/createGlobalsSlice.js
  ui/secret-admin/src/lib/store/index.js
  ui/secret-admin/src/store.ts
  ui/secret-admin/src/styles.scss
  ui/secret-admin/tailwind.config.js
  ui/secret-admin/tsconfig.json
  ui/types/package-lock.json
  ui/types/package.json
  ui/types/types.ts
Labels: feature, ui

#222 fix(ui): Fix secret-admin test
  ui/secret-admin/__mocks__/client.js
  ui/secret-admin/__mocks__/fileMock.js
  ui/secret-admin/__mocks__/styleMock.js
  ui/secret-admin/package-lock.json
  ui/secret-admin/src/App.test.js
  ui/secret-admin/src/AppContent.tsx
Labels: ui

#226 Fix(ui): Match package name with folder name
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
Labels: ui

#225 feat(ui): cluster-admin add edit screen
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/AppContent.tsx
  ui/cluster-admin/src/components/ClusterDetail.tsx
  ui/cluster-admin/src/components/ClusterEdit.tsx
  ui/cluster-admin/src/components/KeyValueInput.tsx
  ui/cluster-admin/src/components/ResultMessage.tsx
  ui/cluster-admin/src/hooks/useApi.ts
  ui/cluster-admin/src/hooks/useClusterApi.ts
  ui/cluster-admin/src/store.ts
Labels: feature, ui

#229 Fix(ui): secret-admin correctly base64 encode data
  ui/secret-admin/src/components/SecretEdit.tsx
  ui/secret-admin/src/components/SecretListItem.tsx
Labels: ui

#230 [org-admin] Remove icon from beta icon
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/org-admin/src/components/SideNav.js
Labels: ui

#231 [org-admin] just warn if releaseState is set and different from the white list
  ui/org-admin/package.json
  ui/org-admin/src/lib/store.js
Labels: ui

#232 [secrets-admin] remove beta message and upgrade version
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/AppContent.tsx
Labels: ui

#235 Fix(ui): minor plugin admin fixes
  ui/plugin-admin/src/plugin-edit/OptionInput.tsx
  ui/plugin-admin/src/plugin-edit/handleFormChange.ts
Labels: ui

#234 Fix(ui): secrets
  ui/secret-admin/src/AppContent.tsx
  ui/secret-admin/src/components/SecretList.tsx
  ui/secret-admin/src/hooks/useWatch.ts
Labels: ui

#236 Fix(ui): secrets add missing import for tests
  ui/secret-admin/src/AppContent.tsx
Labels: ui

#247 revert(controller-tools): use v0.14.0 until bump to go1.22
  Makefile
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

#248 chore: bump to go1.22, controller-tools v0.15
  .github/renovate.json
  .github/workflows/codeql.yaml
  Dockerfile
  Dockerfile.dev-env
  Dockerfile.headscalectl
  Dockerfile.tailscale
  Dockerfile.tcp-proxy
  Makefile
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  go.mod
Labels: documentation, helm-charts, dependencies

#249 chore: bump envtest version to 1.29.5
  Dockerfile.dev-env
  Makefile
Labels: feature
