Repository cloudoperators/greenhouse, pull requests merged in 2024-07, with the labels that each got.

#312 fix(website) fix assets link for website
  docs/architecture/high-level.md
  docs/architecture/monitoring.md
  docs/getting-started/overview.md
Labels: documentation

#314 fix(website) assets links
  docs/architecture/high-level.md
  docs/architecture/monitoring.md
  docs/getting-started/overview.md
Labels: documentation

#322 fix(team-membership): Do not spin up pods on failure
  charts/team-membership/templates/cronjob.yaml
Labels: helm-charts

#320 feat: adds image-retainer cronjob
  charts/greenhouse/Chart.yaml
  charts/greenhouse/etc/retain.sh
  charts/greenhouse/templates/container-image-retainer.yaml
  charts/greenhouse/values.yaml
Labels: feature, helm-charts, dependencies

#327 migrate adrs to cloudoperators/documentation
  docs/architecture-decision-records/ADR-1_logical_authorization_concept_for_plugins.md
  docs/architecture-decision-records/ADR-2_technical_implementation_of_access_authorization_for_plugins.md
  docs/architecture-decision-records/ADR-3_location_of_plugins.md
  docs/architecture-decision-records/ADR-4_greenhouse_resource_status_reporting.md
  docs/architecture-decision-records/ADR-5_supported_kubernetes_versions.md
  docs/architecture-decision-records/README.md
  docs/architecture-decision-records/assets/0b91d753-b862-4e0c-b43e-e87f6fe852ee.png
  docs/architecture-decision-records/assets/5562b186-8744-4dc0-8d85-8d5edaf2150c.png
  docs/architecture-decision-records/assets/5f1b0a46-15f2-414b-99d5-8f102b67dcd8.png
  docs/architecture-decision-records/assets/7f365a58-5c96-4648-8c15-d53b32e5b3f7.png
  docs/architecture-decision-records/assets/9d6e6c65-1229-4aba-ab8f-a732f3e68e68.png
  docs/architecture-decision-records/assets/a0b55e95-8ded-47bb-96ce-67729b3f123c.png
  docs/architecture-decision-records/assets/b36ac896-60c0-4074-9f20-7e6c554f4ace.png
  docs/architecture-decision-records/assets/c652bfd8-2552-4eea-9e1a-89ee1a078e69.png
  docs/architecture-decision-records/assets/d315c458-b3b1-4ede-99cc-0d427dfe9d83.png
  docs/architecture-decision-records/assets/d5689168-6b71-4468-ac9e-ada131ec46c2.png
  docs/architecture-decision-records/assets/df757ef6-b316-4dec-b6de-a0ed0e5716a5.png
  docs/architecture-decision-records/assets/e23bbf83-02b3-44f2-9f5d-e1cd2f9b9dea.png
  docs/architecture-decision-records/assets/f8d6f6fd-2fe8-4ce1-8fc2-52bcc3d2ebd6.png
Labels: documentation, feature

#329 fix(image-retainer): typo in configmap name
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/container-image-retainer.yaml
Labels: helm-charts, dependencies

#330 fix(monitoring): typo in values path
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

#331 fix: typo in values path
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

#335 fix(charts/greenhouse): set ingress annotations
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-kube-monitoring.yaml
Labels: helm-charts, dependencies

#338 feat: add /test folder to codeowners
  .github/CODEOWNERS
Labels: feature

#336 feat: bump k/*, k-sigs/*, helm to v1.30.2
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  go.mod
  go.sum
Labels: feature, helm-charts, dependencies

#349 feat(service-proxy): add servicemonitor to collect metrics
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/servicemonitor.yaml
Labels: feature, helm-charts, dependencies

#341 refac(helm): match no CRD error instead of string
  pkg/helm/manifest.go
  pkg/helm/manifest_test.go
Labels: feature

#355 fix(ui): cluster-admin update tests
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/store.test.ts
Labels: ui

#323 fix(charts/alerts): unique plugin name; align slack config
  charts/demo/Chart.yaml
  charts/demo/templates/alertmanager-pluginconfig.yaml
  charts/demo/values.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-alerts.yaml
Labels: helm-charts, dependencies

#358 fix(website) links and asset links
  .github/workflows/helm-push.yaml
  charts/website/.helmignore
  charts/website/Chart.yaml
  charts/website/ci/test-values.yaml
  charts/website/templates/_helpers.tpl
  charts/website/templates/deployment.yaml
  charts/website/templates/hpa.yaml
  charts/website/templates/ingress.yaml
  charts/website/templates/service.yaml
  charts/website/templates/serviceaccount.yaml
  charts/website/values.yaml
  docs/architecture/high-level.md
  docs/architecture/monitoring-architecture.png
  docs/architecture/monitoring.md
  docs/architecture/simplified-architecture.png
  docs/getting-started/greenhouse.svg
  docs/getting-started/overview.md
  docs/getting-started/quick-start.md
  docs/getting-started/value-propositions.png
Labels: documentation, helm-charts, dependencies

#361 feat(ui): Pin UI versions to latest releases
  ui/dashboard/package-lock.json
  ui/dashboard/package.json
  ui/org-admin/package-lock.json
  ui/org-admin/package.json
Labels: feature, ui

#367 fix(ui): remove default verbose output on api calls
  ui/.gitignore
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/hooks/useApi.ts
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/secretProps.template.json
  ui/plugin-admin/src/plugindefinitions/hooks/useApi.ts
  ui/secret-admin/package-lock.json
  ui/secret-admin/package.json
  ui/secret-admin/src/hooks/useApi.ts
Labels: ui

#364 feat(idproxy): collect metrics from exposed port
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/service.yaml
  charts/idproxy/templates/servicemonitor.yaml
Labels: feature, idproxy, helm-charts, dependencies

#365 fix(PluginDefinitions): Disallow defaulting of Option with Type Secret
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/plugindefinition_types.go
Labels: core-apis

#366 feat(cors-proxy): add and collect http metrics
  charts/cors-proxy/Chart.yaml
  charts/cors-proxy/templates/deployment.yaml
  charts/cors-proxy/templates/service.yaml
  charts/cors-proxy/templates/servicemonitor.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  cmd/cors-proxy/instrumentation.go
  cmd/cors-proxy/main.go
Labels: feature, helm-charts, dependencies

#353 feat(dev-env): Move dev-env to core repo
  .github/CODEOWNERS
  .github/workflows/docker-build.yaml
  Dockerfile.dev-env
  Dockerfile.dev-ui
  cmd/dev-env/main.go
  dev-env/.gitignore
  dev-env/README.md
  dev-env/bootstrap/additional_resources/clusters.yaml
  dev-env/bootstrap/additional_resources/nodes.yaml
  dev-env/bootstrap/additional_resources/plugins.yaml
  dev-env/bootstrap/additional_resources/teams.yaml
  dev-env/bootstrap/core/test-org.yaml
  dev-env/build/greenhouse-ui/secretProps.json
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
  docs/user-guides/plugin/development.md
Labels: documentation

#374 fix(dev-env): Failing docker builds
  .github/workflows/docker-build.yaml
  Dockerfile.dev-env
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  docs/contribute/local-dev.md
Labels: documentation

#363 chore(website): upgraded website to new templater version, fix generating CRDs documentation and refactoring
  .gitignore
  Makefile
  _config.yaml
  docs/architecture/_index.md
  docs/contribute/_index.md
  docs/contribute/plugins.md
  docs/getting-started/_index.md
  docs/reference/_index.md
  docs/reference/api/api-reference.md
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/reference/catalog/_index.md
  docs/user-guides/_index.md
  docs/user-guides/cluster/_index.md
  docs/user-guides/organization/_index.md
  docs/user-guides/plugin/_index.md
  docs/user-guides/team/_index.md
  website/Makefile
  website/assets/icons/logo.svg
  website/assets/scss/_custom_styles_project.scss
  website/go.mod
  website/go.sum
  website/hugo.yaml
  website/layouts/partials/footer.html
  website/layouts/partials/landing-page-section-footer-user-docu.html
  website/layouts/partials/landing-page.html
  website/layouts/partials/navbar-custom-items.html
  website/layouts/partials/navbar.html
  website/scripts/copy-content-from-docs
  website/static/assets/greenhouse_logo.svg
Labels: documentation, core-apis

#379 chore(hugo-npm-deps) add package.json with fix dependencies so we have the same setup locally and in the CI. Moved index file to docs
  .github/workflows/deploy-githug-pages.yaml
  .gitignore
  docs/_index.md
  website/package-lock.json
  website/package.json
Labels: documentation

#381 fix(website): Remove local-dev link from homepage
  docs/contribute/local-dev.md
Labels: documentation

#383 feat(renovate) add helm-go, wait 14 days for patch versions
  .github/renovate.json
Labels: feature

#372 fix(teamRBAC): ensure status updated on cluster not found
  pkg/apis/greenhouse/v1alpha1/event_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
Labels: core-apis
