Repository cloudoperators/greenhouse, pull requests merged in 2024-04, with the labels that each got.

#70 feat(teamrbac): rename Role & RoleBinding
  PROJECT
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/kustomization.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  cmd/greenhouse/webhooks.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/pluginconfig_webhook_test.go
  pkg/admission/teamrole_webhook.go
  pkg/admission/teamrole_webhook_test.go
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/admission/webhook_suite_test.go
  pkg/apis/extensions.greenhouse/v1alpha1/groupversion_info.go
  pkg/apis/extensions.greenhouse/v1alpha1/rolebinding_types.go
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/extensions.greenhouse/well_known.go
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/well_known.go
  pkg/clientutil/client.go
  pkg/controllers/rbac/rolebinding_controller.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/env.go
Labels: documentation, core-apis, helm-charts

#72 feat(teamrbac): grant permissions to OrgAdmins and ClusterAdmins
  pkg/rbac/role.go
Labels: feature

#74 fix(headscale): UI container is crashlooping with latest beta release
  charts/headscale/values.yaml
Labels: headscale, helm-charts

#75 Feat/team role seeder
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/team/rbac.md
  pkg/controllers/organization/teamrole_seeder_controller.go
Labels: documentation, feature, helm-charts

#79 Plugin admin icon
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginConditionIcon.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/hooks/useAPI.js
Labels: ui

#88 [plugin-admin] Fix deep nested options
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/src/components/PluginDetail.js
Labels: ui

#97 [team-admin] Update the zustand and messages-provider versions
  ui/team-admin/package-lock.json
  ui/team-admin/package.json
Labels: ui

#96 [plugin-admin] update dependency utils
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

#113 fix(ui): rebuild plugin-admin
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

#93 fix(license): no automatic license headers on helm templates
  .github/licenserc.yaml
  charts/manager/templates/webhooks.yaml
Labels: helm-charts

#118 Extend alerts plugin template by adding new attribute silenceTemplates.
  charts/greenhouse/templates/pluginconfig-alerts.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts

#92 fix(teamrbac): fix deletion logic, fix labeling
  pkg/apis/greenhouse/v1alpha1/teamrole_types.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/well_known.go
  pkg/controllers/teamrbac/suite_test.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
Labels: core-apis

#131 feat(gh-actions) add stale gh-actions
  .github/workflows/stale.yaml
Labels: feature

#120 [cluster-admin] Highlighted list items for better UX
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
  ui/cluster-admin/src/components/ClusterList.tsx
  ui/cluster-admin/src/components/ClusterListItem.tsx
  ui/cluster-admin/src/styles.scss
Labels: ui

#98 configurable namespace for a pluginconfig release
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/templates/manager-role.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/plugin_webhook.go
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
Labels: documentation, feature, core-apis, helm-charts

#137 prettify print columns header
  charts/manager/crds/greenhouse.sap_plugins.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
Labels: documentation, feature, core-apis, helm-charts

#138 feat(charts): replace logshipper chart with plugin
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/opensearch-creds.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
  charts/greenhouse/values.yaml
  charts/logshipping/Chart.lock
  charts/logshipping/Chart.yaml
  charts/logshipping/charts/fluent-bit-0.42.0.tgz
  charts/logshipping/templates/fluent-bit-configmap.yaml
  charts/logshipping/templates/fluent-bit-secret.yaml
  charts/logshipping/values.yaml
Labels: feature, helm-charts, dependencies

#141 fix(logshipper): quote opensearch.port
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: feature, helm-charts

#119 feat(gh-actions) helm package & publish
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-push.yaml
Labels: feature

#124 [team-admin] change the default value of isMock to false in package.json
  ui/team-admin/package.json
Labels: ui

#153 feat(helm-lint) add github message when increment needed
  .github/workflows/helm-lint.yaml
Labels: feature

#159 Fix helm actions and greenhouse chart
  .github/workflows/helm-lint.yaml
  .github/workflows/helm-push.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

#169 fix(charts): bump greenhouse chart dependencies
  .github/workflows/helm-push.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

#164 fix: deny deletion of used plugindefinitions, migrate label
  cmd/service-proxy/proxy_test.go
  pkg/admission/plugin_webhook.go
  pkg/admission/plugindefinition_webhook.go
  pkg/admission/plugindefinition_webhook_test.go
  pkg/apis/well_known.go
  pkg/controllers/plugin/helm_controller.go
  pkg/test/util.go
Labels: core-apis

#174 Build website via Hugo action
  .github/workflows/docker-build.yaml
  .github/workflows/hugo.yaml
  Dockerfile.website
  docs/getting-started/overview.md
  website/hugo.yaml
  website/layouts/partials/landing-page.html
Labels: documentation, feature

#177 fix(plugindefinition): enable webhook for delete
  charts/manager/templates/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/plugin_webhook_test.go
  pkg/admission/plugindefinition_webhook.go
  pkg/controllers/plugin/suite_test.go
Labels: documentation, core-apis, helm-charts

#99 pluginbundle proposal
  PROJECT
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/templates/manager-role.yaml
  charts/manager/templates/webhooks.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  cmd/greenhouse/webhooks.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/plugin/plugin-management.md
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/admission/utils.go
  pkg/admission/webhook_suite_test.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/well_known.go
  pkg/clientutil/owner_reference.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/suite_test.go
Labels: documentation, feature, core-apis, idproxy, helm-charts, dependencies

#183 fix(pluginpreset): add crd to kustomization
  charts/manager/crds/kustomization.yaml
Labels: helm-charts

#187 fix(ui): re-release cluster-admin
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

#160 reconcile oauth2client
  charts/manager/templates/manager-role.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/controllers/organization/dex_controller.go
  pkg/util/slices.go
Labels: documentation, feature, core-apis, helm-charts

#192 [ui] fix tests
  ui/greenhouse-management/esbuild.config.js
  ui/greenhouse-management/jest.config.js
  ui/greenhouse-management/package-lock.json
  ui/greenhouse-management/package.json
  ui/greenhouse/esbuild.config.js
  ui/greenhouse/jest.config.js
  ui/helpers/appProps.js
Labels: ui

#191 feat(pluginpreset): make clusterSelector mutable
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: feature, core-apis
