Repository cloudoperators/greenhouse, pull requests merged in 2024-03, with the labels that each got.

#24 fix: reuse compliance
  .reuse/dep5
  README.md
Labels: documentation

#22 feat(CODEOWNERS): add initial set of CODEOWNERS
  .github/CODEOWNERS
Labels: feature

#28 Feat/add gh actions
  .github/CODEOWNERS
  .github/workflows/codeql.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/ghactions-updater.yaml
  .github/workflows/license.yaml
  Dockerfile.dev-env
Labels: feature

#32 feat(renovate) update renovate config
  .github/renovate.json
Labels: feature

#19 fix(makefile): add all generate cmds to generate-all
  Makefile
  charts/manager/crds/extensions.greenhouse.sap_rolebindings.yaml
  charts/manager/crds/extensions.greenhouse.sap_roles.yaml
  charts/manager/templates/webhooks.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
Labels: documentation, helm-charts

#29 feat(greenhouse-rbac): add ClusterAdmin and PluginAdmin roles
  cmd/dev-env/main.go
  pkg/controllers/organization/rbac_controller.go
  pkg/controllers/organization/rbac_controller_test.go
  pkg/idproxy/connector.go
  pkg/rbac/clusterrole.go
  pkg/rbac/role.go
  pkg/rbac/util.go
Labels: feature, idproxy

#30 feat(rbac): replace clusterSelector with clusterName
  charts/manager/crds/extensions.greenhouse.sap_rolebindings.yaml
  cmd/greenhouse/controllers.go
  pkg/admission/role_webhook_test.go
  pkg/admission/rolebinding_webhook.go
  pkg/admission/rolebinding_webhook_test.go
  pkg/apis/extensions.greenhouse/v1alpha1/rolebinding_types.go
  pkg/apis/extensions.greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/rbac/rolebinding_controller.go
  pkg/controllers/rbac/rolebinding_controller_test.go
Labels: documentation, feature, core-apis, idproxy, ui, headscale, helm-charts, dependencies

#36 Plugin-Admin
  .gitignore
  ui/plugin-admin/LICENSE
  ui/plugin-admin/README.md
  ui/plugin-admin/__mocks__/client.js
  ui/plugin-admin/__mocks__/fileMock.js
  ui/plugin-admin/__mocks__/styleMock.js
  ui/plugin-admin/babel.config.js
  ui/plugin-admin/esbuild.config.js
  ui/plugin-admin/helpers/appProps.js
  ui/plugin-admin/jest.config.js
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
  ui/plugin-admin/public/favicon-16x16.png
  ui/plugin-admin/public/favicon-32x32.png
  ui/plugin-admin/public/favicon.ico
  ui/plugin-admin/public/index.html
  ui/plugin-admin/secretProps.template.json
  ui/plugin-admin/setupTests.js
  ui/plugin-admin/src/App.js
  ui/plugin-admin/src/AppContent.js
  ui/plugin-admin/src/assets/.gitkeep
  ui/plugin-admin/src/components/AsyncWorker.js
  ui/plugin-admin/src/components/Auth.js
  ui/plugin-admin/src/components/Plugin.js
  ui/plugin-admin/src/components/PluginDetail.js
  ui/plugin-admin/src/components/PluginList.js
  ui/plugin-admin/src/components/StoreProvider.js
  ui/plugin-admin/src/hooks/.gitkeep
  ui/plugin-admin/src/hooks/useAPI.js
  ui/plugin-admin/src/hooks/useAPI.test.js
  ui/plugin-admin/src/hooks/useClient.js
  ui/plugin-admin/src/hooks/useCommunication.js
  ui/plugin-admin/src/hooks/useURLState.js
  ui/plugin-admin/src/index.js
  ui/plugin-admin/src/lib/store/createGlobalsSlice.js
  ui/plugin-admin/src/lib/store/createPluginSlice.js
  ui/plugin-admin/src/lib/store/createPluginSlice.test.js
  ui/plugin-admin/src/lib/store/index.js
  ui/plugin-admin/src/styles.scss
  ui/plugin-admin/tailwind.config.js
Labels: ui

#44 [plugin-admin] Changed to Juno UI Components version 2.12.1
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

#46 [plugin-admin] Fixed all dependencies versions
  ui/plugin-admin/package-lock.json
  ui/plugin-admin/package.json
Labels: ui

#47 Fix dependencies. Don't use latest
  ui/cluster-admin/package-lock.json
  ui/cluster-admin/package.json
Labels: ui

#45 feat(role&bindings): enable webhooks
  cmd/greenhouse/webhooks.go
Labels: feature

#41 enforce clusterName configured on pluginconfig
  pkg/admission/pluginconfig_webhook.go
  pkg/admission/pluginconfig_webhook_test.go
  pkg/admission/utils.go
  pkg/cmd/cluster_bootstrap.go
  pkg/controllers/pluginconfig/remote_cluster_test.go
  pkg/controllers/pluginconfig/suite_test.go
Labels: core-apis

#53 [plugin-admin] fix filename of UrlState hook for case sensitivity
  ui/plugin-admin/src/hooks/useUrlState.js
Labels: ui

#51 feat: add issue and pr templates
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: feature

#57 fix(charts) repository for images in headscale, tailscale-proxy
  charts/headscale/values.yaml
  charts/tailscale-proxy/values.yaml
Labels: headscale, helm-charts

#62 fix(chart) headscalectl image name and tag
  charts/headscale/values.yaml
Labels: headscale, helm-charts
