Repository cloudoperators/greenhouse, pull requests merged in 2024-12, with the labels that each got.

#775 feat(greenhousectl): setup local dev environment for plugin developers
  .gitignore
  Makefile
  dev-env/localenv/README.md
  dev-env/localenv/dev.config.yaml
  dev-env/localenv/dev.values.yaml
  dev-env/localenv/plugin.config.yaml
  dev-env/localenv/sample.config.json
  dev-env/localenv/samples/kustomization.yaml
  dev-env/localenv/samples/organization.yaml
  e2e/config.json
  e2e/config.yaml
  go.mod
  go.sum
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifest.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/manifest.go
  pkg/internal/local/setup/setup.go
  pkg/internal/local/setup/webhook.go
  pkg/internal/local/utils/utils.go
Labels: feature, dependencies

#791 feat(ci): add tests as valid PR title scope
  .github/workflows/ci-pr-title.yaml
Labels: feature

#770 feat(plugins): additional helm controller metrics
  charts/manager/alerts/operator.alerts
  pkg/controllers/plugin/helm_controller.go
  pkg/helm/helm.go
  pkg/metrics/plugin_metrics.go
  pkg/metrics/plugin_metrics_test.go
  pkg/metrics/suite_test.go
Labels: feature, helm-charts

#795 fix(charts): invalid alert rule for PluginConstantlyFailing
  charts/greenhouse/Chart.yaml
  charts/manager/alerts/operator.alerts
Labels: helm-charts, dependencies

#796 refactor(charts): remove dedicated servicemonitors
  charts/greenhouse/Chart.yaml
  charts/idproxy/templates/servicemonitor.yaml
  charts/manager/templates/servicemonitor.yaml
Labels: idproxy, helm-charts, dependencies

#799 feat(config): add epic template
  .github/ISSUE_TEMPLATE/epic.yaml
Labels: feature

#800 fix(config): convert issue template to markdown
  .github/ISSUE_TEMPLATE/epic.yaml
Labels: feature

#751 feat(ISSUE-724): implement ClusterSelector type
  docs/reference/api/index.html
  pkg/apis/greenhouse/v1alpha1/api_suite_test.go
  pkg/apis/greenhouse/v1alpha1/types.go
  pkg/apis/greenhouse/v1alpha1/types_test.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
Labels: documentation, feature, core-apis

#792 feat(teammemberships): refactor SCIM pkg
  go.mod
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
  pkg/controllers/teammembership/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
  pkg/mocks/mock_Client.go
  pkg/mocks/mock_Reconciler.go
  pkg/mocks/mock_SubResourceWriter.go
  pkg/scim/scim_client.go
  pkg/scim/scim_client_mocks.go
  pkg/scim/scim_client_test.go
  pkg/scim/scim_types.go
Labels: feature, dependencies

#803 refactor(ui): remove deprecated ui subchart
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/ui/Chart.yaml
  charts/ui/ci/test-values.yaml
  charts/ui/templates/dashboard-props-cm.yaml
  charts/ui/templates/deployment.yaml
  charts/ui/templates/ingress.yaml
  charts/ui/templates/service.yaml
  charts/ui/values.yaml
Labels: ui, helm-charts, dependencies

#787 fix(docs): updates docs due to ui folder migration and adds steps for local dev-env
  Dockerfile.dev-ui
  dev-env/.gitignore
  dev-env/build/greenhouse-ui/secretProps.json
  dev-env/docker-compose.yaml
  dev-env/network-host.docker-compose.yaml
  dev-env/onboard-cluster.sh
  dev-env/ui/appProps.json
  docs/contribute/local-dev.md
Labels: documentation

#794 feat(teams): add members to team status
  charts/manager/crds/greenhouse.sap_teams.yaml
  charts/manager/templates/manager-role.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/team_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
  test/e2e/controllers.go
Labels: documentation, feature, core-apis, helm-charts

#811 fix(charts): use sd job for variable query
  charts/greenhouse/Chart.yaml
  charts/greenhouse/dashboards/controller-runtime.json
Labels: helm-charts, dependencies

#814 fix(teammemberships): set members in Team status optional
  charts/manager/crds/greenhouse.sap_teams.yaml
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/team_types.go
  types/typescript/schema.d.ts
Labels: bug, documentation, core-apis, helm-charts
