Repository cloudoperators/greenhouse, pull requests merged in 2024-09, with the labels that each got.

#523 fix(dev-env): provide kubeconfig param for namespace apply
  pkg/internal/local/klient/kind.go
Labels: bug

#521 refac(org): controller reconciles namespace and team
  cmd/greenhouse/controllers.go
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/organization_controller_test.go
  pkg/controllers/organization/rbac_controller_test.go
  pkg/controllers/organization/suite_test.go
  pkg/test/resources.go
  test/e2e/controllers.go
Labels: feature

#525 fix(alerting): add for conditions, ignory proxy unauth(z) err
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/proxies.alerts
Labels: helm-charts, dependencies

#441 feat: add controller to periodically run Helm Chart Tests
  cmd/greenhouse/controllers.go
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/plugin_workload_status_controller.go
  pkg/controllers/plugin/util.go
  pkg/helm/helm.go
Labels: documentation, core-apis

#531 Improve helm chart test controller
  charts/manager/alerts/operator.alerts
  pkg/controllers/plugin/helm_chart_test_controller.go
Labels: helm-charts

#515 feat(pluginpreset): add clusterOptionOverrides
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/plugin/plugin-management.md
  pkg/admission/pluginpreset_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: documentation, feature, core-apis, helm-charts

#528 feat(logshipper): add config to send audit logs
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: feature, helm-charts, dependencies

#534 fix(logshipping): use correct values for octobus
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: feature, helm-charts, dependencies

#535 fix: remove superfluous colon
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: feature, helm-charts, dependencies

#536 fix(logshipper): update config
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: feature, helm-charts, dependencies

#495 feat(pluginpreset) Skip updating when plugin is not different (#437)
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: feature

#548 fix(ui): propagate assetsHost to appLoader
  ui/dashboard/public/index.html
  ui/org-admin/.gitignore
  ui/org-admin/package.json
  ui/org-admin/public/index.html
  ui/org-admin/src/lib/appLoader.js
Labels: ui

#549 feat(ui): bump dashboard version
  ui/dashboard/package.json
Labels: ui

#551 fix(pluginpreset): handle valueFrom in shouldSkipPlugin
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/helm/helm.go
Labels: documentation, core-apis

#555 chore(build): adjust helm charts to switch to dashboard image
  charts/ui/templates/dashboard-props-cm.yaml
  charts/ui/templates/deployment.yaml
  charts/ui/templates/index-html-cm.yaml
  charts/ui/values.yaml
Labels: ui, helm-charts

#552 fix(logshipping): remove suffix from audit input tag
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/pluginconfig-logshipping.yaml
Labels: feature, helm-charts, dependencies

#559 fix(build): fix dashboard volumen mount
  charts/ui/templates/deployment.yaml
Labels: ui, helm-charts

#446 docs(plugin): improve documentation for helm chart tests
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

#440 feat(teammembership): refactor cronjob into a controller
  Makefile
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/team-membership/.gitignore
  charts/team-membership/Chart.yaml
  charts/team-membership/templates/configmap.yaml
  charts/team-membership/templates/cronjob.yaml
  charts/team-membership/templates/rbac.yaml
  charts/team-membership/templates/secret.yaml
  charts/team-membership/templates/serviceaccount.yaml
  charts/team-membership/values.yaml
  cmd/greenhouse/controllers.go
  cmd/team-membership/k8s_client.go
  cmd/team-membership/main.go
  cmd/team-membership/team_membership_updater.go
  cmd/team-membership/team_membership_updater_test.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  hack/install
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/apis/greenhouse/v1alpha1/teammembership_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teammembership/suite_test.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: documentation, feature, core-apis, helm-charts, dependencies

#574 feat(plugin): Provide base domain as Plugin value
  pkg/helm/helm_test.go
  pkg/helm/values.go
  test/e2e/plugin_lifecycle_test.go
Labels: feature

#571 docs(plugin): enhance Plugin ChartTest documentation
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

#576 Fix(service-proxy): use release namespace
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/common/url.go
  pkg/common/url_test.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
Labels: documentation, core-apis

#603 feat(dev-setup): add option to specify image version
  Makefile
  pkg/internal/local/commands/cluster.go
  pkg/internal/local/commands/common.go
  pkg/internal/local/commands/manifest.go
  pkg/internal/local/commands/setup.go
  pkg/internal/local/commands/webhook.go
  pkg/internal/local/klient/kind.go
  pkg/internal/local/setup/cluster.go
  pkg/internal/local/setup/setup.go
Labels: feature

#606 Fix: prevent incomplete urls for exposed services in plugin
  docs/user-guides/plugin/plugin-deployment.md
  pkg/controllers/plugin/helm_controller.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/test/fixtures/chartWithExposedService/Chart.lock
  pkg/test/fixtures/chartWithExposedService/Chart.yaml
  pkg/test/fixtures/chartWithExposedService/templates/services.yaml
  pkg/test/fixtures/chartWithExposedService/values.yaml
Labels: documentation

#610 feat(organizationwebhook): deny deletion of organization
  pkg/admission/organization_webhook.go
  pkg/admission/organization_webhook_test.go
Labels: feature
