Repository cloudoperators/greenhouse, pull requests merged in 2025-05, with the labels that each got.

#1112 fix(charts): wrong secrets reference on org
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/organization.yaml
Labels: helm-charts, dependencies

#931 feat(greenhousectl): localenv OIDC setup with admin and remote clusters
  Makefile
  dev-env/dev.config.yaml
  dev-env/greenhouse-remote-cluster.yaml
  e2e/config.yaml
  internal/local/commands/common.go
  internal/local/commands/dashboard.go
  internal/local/commands/setup.go
  internal/local/setup/cluster.go
  internal/local/setup/setup.go
  internal/local/setup/webhook.go
  internal/local/utils/exec.go
Labels: feature

#1116 chore(greenhouse): update idxproxy chart
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/deployment.yaml
  charts/idproxy/templates/poddisruptionbudget.yaml
  charts/idproxy/values.yaml
Labels: idproxy, helm-charts, dependencies

#1123 chore(charts): add thanos ingress
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

#1125 chore(charts): add thanos ingress tls
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

#1129 feat(tests): add options for ui only plugindefinitions
  internal/test/resources.go
Labels: feature

#1130 feat(tests): helper for preset deletion
  api/v1alpha1/pluginpreset_types.go
  docs/reference/api/openapi.yaml
  internal/test/assert.go
  internal/test/util.go
  internal/webhook/pluginpreset_webhook.go
  internal/webhook/pluginpreset_webhook_test.go
Labels: documentation, feature, core-apis

#1131 chore(core): regenerate crds
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: documentation, core-apis, helm-charts

#1132 fix(charts): make thanos plugin optional
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

#1134 fix(charts): broken thanos template
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

#1137 fix(greenhousectl): reference the updated kind configuraton file for extra mounts
  internal/local/commands/setup.go
Labels: bug

#1105 feat(service-proxy): authenticated service-proxy endpoints via dex
  api/v1alpha1/organization_types.go
  docs/reference/api/openapi.yaml
  internal/controller/organization/dex.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  internal/test/resources.go
  internal/test/setup.go
Labels: documentation, feature, core-apis

#1117 refactor(core): move conditions to own package
  api/meta/v1alpha1/conditions_constants.go
  api/meta/v1alpha1/conditions_types.go
  api/meta/v1alpha1/conditions_types_test.go
  api/meta/v1alpha1/doc.go
  api/meta/v1alpha1/event_types.go
  api/meta/v1alpha1/suite_test.go
  api/meta/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/cluster_types.go
  api/v1alpha1/clusterkubeconfig_types.go
  api/v1alpha1/organization_types.go
  api/v1alpha1/plugin_types.go
  api/v1alpha1/pluginpreset_types.go
  api/v1alpha1/team_types.go
  api/v1alpha1/teammembership_types.go
  api/v1alpha1/teamrolebinding_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  docs/reference/api/index.html
  e2e/shared/cluster.go
  e2e/shared/e2e.go
  hack/docs-generator/config.json
  internal/clientutil/predicates.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/kubeconfig_controller.go
  internal/controller/cluster/status_test.go
  internal/controller/fixtures/dummy_types.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/plugin/helm_chart_testing.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/plugin/util.go
  internal/controller/teammembership/teammembership_updater_controller.go
  internal/controller/teammembership/teammembership_updater_controller_test.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
  internal/lifecycle/reconcile.go
  internal/lifecycle/reconcile_test.go
  internal/test/util.go
Labels: documentation, core-apis, helm-charts

#1145 fix(actions): set current year in spdx for new files
  .github/licenserc.yaml
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

#1148 feat(teams): alert for drop in members count
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/alerts/operator.alerts
Labels: feature, helm-charts, dependencies

#1151 feat(charts): add setting of image digest
  charts/cors-proxy/Chart.yaml
  charts/cors-proxy/templates/_helpers.tpl
  charts/cors-proxy/templates/deployment.yaml
  charts/cors-proxy/values.yaml
  charts/dashboard/Chart.yaml
  charts/dashboard/ci/test-values.yaml
  charts/dashboard/templates/_helpers.tpl
  charts/dashboard/templates/deployment.yaml
  charts/dashboard/values.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/_helpers.tpl
  charts/idproxy/templates/deployment.yaml
  charts/idproxy/values.yaml
  charts/manager/templates/_helpers.tpl
  charts/manager/templates/manager/deployment.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/values.yaml
Labels: feature, idproxy, helm-charts, dependencies

#1140 feat(clusters): propgate lables from cluster secret to cluster
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy_test.go
  internal/lifecycle/propagation.go
  internal/lifecycle/propagation_test.go
  internal/test/resources.go
  internal/test/setup.go
  internal/test/util.go
Labels: feature

#1121 feat(plugins): add ReleaseName field and defaulting logic
  api/v1alpha1/plugin_types.go
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/plugin/plugin-deployment.md
  internal/controller/organization/service_proxy.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/helm/helm.go
  internal/test/resources.go
  internal/webhook/plugin_webhook.go
  internal/webhook/plugin_webhook_test.go
  internal/webhook/pluginpreset_webhook.go
Labels: documentation, feature, core-apis, helm-charts
