Repository cloudoperators/greenhouse, pull requests merged in 2025-01, with the labels that each got.

#809 feat(pluginpresets): deletion protection for plugin preset
  docs/user-guides/plugin/plugin-management.md
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: documentation, feature, core-apis, helm-charts

#813 feat(teamrolebindings): allow changing namespaces for teamrolebindings
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
Labels: documentation, feature, core-apis, helm-charts

#847 docs(clusters): cluster off-boarding documentation
  docs/user-guides/cluster/offboarding.md
  docs/user-guides/cluster/onboarding.md
Labels: documentation

#841 feat(teamrolebindings): deny changing TeamRoleRef and TeamRef in TRB
  docs/user-guides/team/rbac.md
  pkg/admission/teamrolebinding_webhook.go
  pkg/admission/teamrolebinding_webhook_test.go
Labels: documentation, feature

#864 fix(charts): typo in demo org resource
  charts/demo/templates/organization.yaml
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

#788 feat(controller): deprecation of propagation controller
  pkg/clientutil/predicates.go
  pkg/controllers/propagation_reconciler.go
  pkg/controllers/propagation_reconciler_test.go
Labels: feature

#867 chore(core): regenerate CRDs with new controllergen
  charts/manager/crds/greenhouse.sap_clusterkubeconfigs.yaml
  charts/manager/crds/greenhouse.sap_clusters.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  charts/manager/crds/greenhouse.sap_teamroles.yaml
  charts/manager/crds/greenhouse.sap_teams.yaml
Labels: helm-charts

#868 fix(service-proxy): avoid Duplicate Proxy Path in URL Rewrite Function
  cmd/service-proxy/proxy.go
  cmd/service-proxy/proxy_test.go
  pkg/apis/greenhouse/v1alpha1/conditions_test.go
Labels: documentation, core-apis
