Repository cloudoperators/greenhouse, pull requests merged in 2025-06, with the labels that each got.

#1182 fix(charts): removes namespace from issuer certificate
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/cert/issuer.yaml
Labels: bug, helm-charts, dependencies

#1164 feat(clusterplugindefinitions): adds ClusterPluginDefinition CRD
  .github/workflows/ci-pr-title.yaml
  PROJECT
  api/v1alpha1/clusterplugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_clusterplugindefinitions.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  types/typescript/schema.d.ts
Labels: documentation, feature, core-apis, helm-charts

#1161 docs(greenhouse): updates architecture documentation
  docs/architecture/high-level.md
Labels: documentation

#1197 fix(ci): fix e2e workflow branch revision
  .github/workflows/ci-e2e-test.yaml
Labels: bug

#1190 feat(plugindefinitions): implements PluginDefinition controller
  api/v1alpha1/plugindefinition_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/manager/crds/greenhouse.sap_plugindefinitions.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/controller/plugindefinition/suite_test.go
  internal/test/util.go
  types/typescript/schema.d.ts
Labels: documentation, feature, core-apis, helm-charts, dependencies

#1192 feat(teams): remove teammembership crd
  .github/workflows/ci-pr-title.yaml
  PROJECT
  api/v1alpha1/team_types.go
  api/v1alpha1/teammembership_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/demo/templates/teams.yaml
  charts/manager/alerts/operator.alerts
  charts/manager/crds/greenhouse.sap_teammemberships.yaml
  charts/manager/crds/kustomization.yaml
  charts/manager/templates/rbac/manager-role.yaml
  cmd/greenhouse/controllers.go
  docs/contribute/local-dev.md
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  docs/user-guides/organization/creation.md
  docs/user-guides/team/create.md
  internal/controller/fixtures/teammembership.yaml
  internal/controller/fixtures/teammembership_update.yaml
  internal/controller/team/suite_test.go
  internal/controller/team/team_controller.go
  internal/controller/team/team_controller_test.go
  internal/controller/teammembership/teammembership_updater_controller_test.go
  internal/rbac/role.go
  types/typescript/schema.d.ts
Labels: documentation, feature, core-apis, helm-charts

#1233 chore(deps): bump dex to 2.43.1
  go.mod
  go.sum
  internal/controller/organization/dex.go
  internal/controller/organization/service_proxy.go
Labels: dependencies

#1220 refactor(charts): remove plugins & organization from greenhouse chart
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/etc/retain.sh
  charts/greenhouse/templates/_helpers.tpl
  charts/greenhouse/templates/cluster-admin-rbac.yaml
  charts/greenhouse/templates/configmap-perses-dashboards.yaml
  charts/greenhouse/templates/configmap-plutono-dashboards.yaml
  charts/greenhouse/templates/container-image-retainer.yaml
  charts/greenhouse/templates/organization-secrets.yaml
  charts/greenhouse/templates/organization.yaml
  charts/greenhouse/templates/plugin-alerts.yaml
  charts/greenhouse/templates/plugin-cert-manager.yaml
  charts/greenhouse/templates/plugin-digicert-issuer.yaml
  charts/greenhouse/templates/plugin-disco.yaml
  charts/greenhouse/templates/plugin-ingress-nginx.yaml
  charts/greenhouse/templates/plugin-kube-monitoring.yaml
  charts/greenhouse/templates/plugin-logs.yaml
  charts/greenhouse/templates/plugin-logshipping.yaml
  charts/greenhouse/templates/plugin-perses.yaml
  charts/greenhouse/templates/plugin-plutono.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
  charts/greenhouse/templates/teams.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts
