Repository cloudoperators/greenhouse, pull requests merged in 2025-09, with the labels that each got.

#1393 release(charts): bump versions
  charts/cors-proxy/Chart.yaml
  charts/cors-proxy/values.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/values.yaml
  charts/manager/Chart.yaml
  charts/manager/values.yaml
Labels: idproxy, helm-charts, dependencies

#1412 fix(charts): bump greenhouse chart
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies

#1407 feat(plugins): add cluster metadata labels to global.greenhouse
  api/well_known.go
  internal/controller/plugin/plugin_controller_flux.go
  internal/helm/template.go
  internal/helm/template_test.go
  internal/helm/values.go
Labels: feature, core-apis

#1416 release(version): backport feat(plugins): rename PluginDefinition label to ClusterPluginDefinition label #1356
  api/well_known.go
  internal/controller/plugin/plugin_controller.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
  internal/webhook/v1alpha1/plugindefinition_webhook.go
  internal/webhook/v1alpha1/plugindefinition_webhook_test.go
Labels: core-apis
