Repository cloudoperators/greenhouse, pull requests merged in 2025-03, with the labels that each got.

#949 feat(dex): additional test to validate URIs set on the default are kept
  pkg/controllers/organization/organization_controller_test.go
Labels: feature

#959 fix(plugins): set timeout for helm releasetest actions
  pkg/helm/helm.go
Labels: feature

#927 feat(teamrolebindings): teamrbac supports single users
  charts/manager/crds/greenhouse.sap_teamrolebindings.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/teamrolebinding_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/teamrbac/teamrolebinding_controller.go
  pkg/controllers/teamrbac/teamrolebinding_controller_test.go
  pkg/test/resources.go
Labels: documentation, feature, core-apis, helm-charts

#974 chore(clusters): add kubeconfig rotated at timestamp to secret
  pkg/controllers/cluster/cluster_controller.go
Labels: enhancement

#943 feat(pluginpresets): report pluginstatus to pluginpresetstatus
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/clientutil/predicates.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
  pkg/controllers/plugin/suite_test.go
Labels: documentation, feature, core-apis, helm-charts

#966 feat(flux): add flux installation manifests, flux renovate automation
  .github/licenserc.yaml
  .github/renovate.json
  .github/workflows/ci-pr-title.yaml
  config/flux/kustomization.yaml
  config/manifest/flux-installation-main.yaml
  config/manifest/flux-installation-release.yaml
Labels: feature

#944 chore(docs): removes deprecated dev env
  .github/workflows/ci-e2e-test.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/pr-docker-build.yaml
  .gitignore
  Dockerfile
  Dockerfile.dev-env
  Makefile
  cmd/dev-env/kubeconfig.go
  cmd/dev-env/main.go
  cmd/greenhouse/README.md
  dev-env/.gitignore
  dev-env/README.md
  dev-env/bootstrap/additional_resources/clusters.yaml
  dev-env/bootstrap/additional_resources/nodes.yaml
  dev-env/bootstrap/additional_resources/plugins.yaml
  dev-env/bootstrap/additional_resources/teams.yaml
  dev-env/bootstrap/core/test-org.yaml
  dev-env/cors.values.yaml
  dev-env/dev.config.yaml
  dev-env/dev.values.yaml
  dev-env/docker-compose.yaml
  dev-env/docs.go
  dev-env/greenhouse-admin-cluster.yaml
  dev-env/greenhouse-remote-cluster.yaml
  dev-env/localenv/README.md
  dev-env/localenv/ui.config.yaml
  dev-env/network-host.docker-compose.yaml
  dev-env/onboard-cluster.sh
  dev-env/samples/kustomization.yaml
  dev-env/samples/organization.yaml
  dev-env/templates/_generate-docs.md
  dev-env/templates/_intro.md
  dev-env/ui.config.yaml
  dev-env/ui.values.yaml
  dev-env/ui/appProps.json
  docs/user-guides/plugin/local-plugin-development.md
Labels: documentation

#967 fix(pluginpresets): clusteroverrides are not considered during admission
  pkg/admission/plugin_webhook.go
  pkg/admission/plugin_webhook_test.go
  pkg/admission/pluginpreset_webhook.go
  pkg/admission/pluginpreset_webhook_test.go
  pkg/apis/greenhouse/v1alpha1/pluginpreset_types.go
  pkg/controllers/plugin/pluginpreset_controller.go
  pkg/controllers/plugin/pluginpreset_controller_test.go
Labels: core-apis

#982 chore(deps): fix npm vulnerability
  website/package-lock.json
Labels: bug

#996 chore(greenhouse): adds kubectl oidc-login URLs
  charts/greenhouse/Chart.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

#986 chore(charts): adds heureka to the demo org
  charts/demo/templates/heureka-pluginconfig.yaml
  charts/demo/values.yaml
Labels: helm-charts

#973 docs(clusters): remote cluster onboarding with oidc configuration
  docs/user-guides/cluster/offboarding.md
  docs/user-guides/cluster/oidc_connectivity.md
  website/hugo.yaml
Labels: documentation

#997 refactor(idproxy): remove oauth2client template from chart
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/oauth2clients.yaml
Labels: idproxy, helm-charts, dependencies

#1019 refactor(plugins): remove unused field .spec.disabled
  charts/manager/crds/greenhouse.sap_pluginpresets.yaml
  charts/manager/crds/greenhouse.sap_plugins.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_chart_testing.go
Labels: documentation, core-apis, helm-charts

#1023 docs(core): update of docs to current APIs & Architecture
  docs/architecture/high-level.md
  docs/architecture/product_design.md
  docs/architecture/simplified-architecture.png
Labels: documentation

#1031 feat(charts): enable ingress for thanos
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: feature, helm-charts, dependencies

#1036 feat(charts): revert enable ingress for thanos
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: feature, helm-charts, dependencies

#1040 feat(charts): enable logs plugin
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/plugin-logs.yaml
  charts/greenhouse/templates/plugin-logshipping.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

#1018 feat(teams): resource has SCIM condition
  charts/manager/crds/greenhouse.sap_teams.yaml
  pkg/apis/greenhouse/v1alpha1/team_types.go
  pkg/controllers/teammembership/teammembership_updater_controller.go
  pkg/controllers/teammembership/teammembership_updater_controller_test.go
Labels: documentation, feature, core-apis, helm-charts
