Repository cloudoperators/greenhouse, pull requests merged in 2025-08, with the labels that each got.

#1232 feat(docs): updates contribution guide to local-dev setup
  Makefile
  dev-env/README.md
  dev-env/dev.config.yaml
  dev-env/docs.go
  dev-env/templates/_generate-docs.md
  dev-env/templates/_intro.md
  docs/contribute/local-dev.md
  e2e/config.yaml
  internal/local/commands/common.go
  internal/local/commands/dashboard.go
  internal/local/commands/setup.go
  internal/local/setup/manifest.go
  internal/local/setup/setup.go
  internal/local/setup/webhook.go
Labels: documentation

#1297 feat(ISSUE-1231): missing owner label metric and alert
  charts/manager/alerts/resource.alerts
  docs/getting-started/operations/ownership.md
  internal/controller/cluster/cluster_controller.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/metrics.go
  internal/controller/cluster/metrics_test.go
  internal/controller/flux/plugin_controller.go
  internal/controller/organization/metrics.go
  internal/controller/organization/organization_controller.go
  internal/controller/plugin/helm_chart_testing.go
  internal/controller/plugin/metrics.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/plugin_workload_status.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/util.go
  internal/controller/team/metrics.go
  internal/controller/team/team_controller.go
  internal/controller/teamrbac/metrics.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/helm/helm.go
  internal/metrics/plugin_metrics_test.go
  internal/metrics/suite_test.go
  internal/util/metrics.go
  internal/util/metrics_test.go
Labels: documentation, feature, helm-charts

#1316 fix(core): remove sap tlds from examples
  charts/demo/ci/test-values.yaml
  charts/demo/data/alerts.json
  charts/demo/templates/doop-pluginconfig.yaml
  charts/demo/templates/heureka-pluginconfig.yaml
  charts/greenhouse/ci/test-values.yaml
  docs/user-guides/cluster/onboarding.md
Labels: documentation, helm-charts

#1320 fix(ci): ensure CRDs are regenerated
  .github/workflows/check-changes-crd-api.yaml
  Makefile
  docs/contribute/new-controller.md
Labels: documentation

#1355 feat(catalogs): provision ServiceAccount for Catalog
  internal/controller/catalog/catalog_controller.go
  internal/controller/catalog/catalog_controller_test.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/rbac.go
  internal/flux/kustomize_builder.go
  internal/rbac/role.go
  internal/rbac/util.go
Labels: feature

#1359 chore(catalogs): add catalog and org samples to makefile
  Makefile
  api/well_known.go
  config/samples/catalog/extensions-catalog.yaml
  config/samples/catalog/kustomization.yaml
  config/samples/organization/demo.yaml
  config/samples/organization/greenhouse.yaml
  config/samples/organization/kustomization.yaml
  internal/controller/organization/organization_controller.go
  internal/controller/organization/rbac.go
  types/typescript/schema.d.ts
Labels: core-apis

#1379 chore(charts): bump version to 0.12.0
  charts/greenhouse/Chart.yaml
Labels: helm-charts, dependencies
