Repository cloudoperators/greenhouse, pull requests merged in 2025-02, with the labels that each got.

#861 refactor(plugins): standardize and combine plugin controllers
  charts/manager/crds/greenhouse.sap_plugins.yaml
  charts/manager/templates/manager-role.yaml
  cmd/greenhouse/controllers.go
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/helm_chart_test_controller.go
  pkg/controllers/plugin/helm_chart_testing.go
  pkg/controllers/plugin/plugin_controller.go
  pkg/controllers/plugin/plugin_workload_status.go
  pkg/controllers/plugin/remote_cluster_test.go
  pkg/controllers/plugin/suite_test.go
  pkg/controllers/plugin/util.go
  pkg/helm/helm.go
  pkg/helm/helm_test.go
  types/typescript/schema.d.ts
Labels: documentation, core-apis, helm-charts

#888 fix(charts): enable cross-namespace lookup for ingress-controller
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-ingress-nginx.yaml
Labels: helm-charts, dependencies

#886 chore(e2e): remove legacy e2e setup
  go.mod
  go.sum
  test/e2e/README.md
  test/e2e/controllers.go
  test/e2e/fixtures/fixtures.go
  test/e2e/local-cluster/create_cluster.go
  test/e2e/local-cluster/idproxy.values.yaml
  test/e2e/local-cluster/manager.values.yaml
  test/e2e/onboard_self_test.go
  test/e2e/plugin_lifecycle_test.go
  test/e2e/suite_test.go
  test/e2e/webhooks.go
Labels: dependencies

#900 refactor(greenhouse): clean-up Plutono values
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/configmap-perses-dashboards.yaml
  charts/greenhouse/templates/plugin-plutono.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

#885 feat(service-proxy): add optionValues to configure oauth2-proxy
  pkg/controllers/organization/service_proxy.go
  pkg/controllers/organization/service_proxy_test.go
Labels: feature

#890 feat(plugins): add helm diff to status
  charts/manager/crds/greenhouse.sap_plugins.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  e2e/plugin/e2e_test.go
  pkg/apis/greenhouse/v1alpha1/plugin_types.go
  pkg/controllers/plugin/plugin_controller.go
Labels: documentation, feature, core-apis, helm-charts

#913 docs(plugins): helm chart test clean up
  docs/user-guides/plugin/plugin-tests.md
Labels: documentation

#921 chore(charts): add global values to alerts plugin
  charts/demo/Chart.yaml
  charts/demo/templates/alertmanager-pluginconfig.yaml
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-alerts.yaml
Labels: helm-charts, dependencies

#933 fix(idproxy): add rbac to idproxy as well for configmaps
  charts/idproxy/templates/rbac.yaml
Labels: idproxy, helm-charts

#934 fix(charts): typo in feature-flag template name, idproxy rm double env, chart bump
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/_helpers.tpl
  charts/idproxy/templates/deployment.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/_helpers.tpl
Labels: idproxy, helm-charts, dependencies

#937 fix(charts): remove pg_port as we are defaulting it in code
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/deployment.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/deployment.yaml
Labels: idproxy, helm-charts, dependencies

#928 chore(charts): add thanos plugin
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-kube-monitoring.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

#939 fix(charts): remove duplicate optionValue from thanos plugin
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/plugin-thanos.yaml
Labels: helm-charts, dependencies

#929 feat(charts): template ingress-nginx annotations option
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/plugin-ingress-nginx.yaml
Labels: feature, helm-charts, dependencies

#940 feat(organizations): enable setting additional redirect uris for the oauth2clients
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/organization.yaml
  charts/greenhouse/values.yaml
  charts/manager/crds/greenhouse.sap_organizations.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  pkg/apis/greenhouse/v1alpha1/organization_types.go
  pkg/apis/greenhouse/v1alpha1/zz_generated.deepcopy.go
  pkg/controllers/organization/dex.go
  pkg/controllers/organization/organization_controller_test.go
Labels: documentation, feature, core-apis, helm-charts, dependencies
