Repository cloudoperators/greenhouse, pull requests merged in 2025-07, with the labels that each got.

#1202 feat(controller): enhances alerting
  charts/manager/alerts/cluster.alerts
  charts/manager/alerts/operator.alerts
  charts/manager/alerts/organization.alerts
  charts/manager/alerts/plugin.alerts
  charts/manager/alerts/proxies.alerts
  charts/manager/alerts/team.alerts
  charts/manager/ci/test-values.yaml
  internal/controller/cluster/metrics.go
  internal/controller/cluster/metrics_test.go
  internal/controller/organization/metrics.go
  internal/controller/organization/organization_controller.go
  internal/controller/plugin/helm_chart_testing.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/plugin_workload_status.go
  internal/controller/plugin/util.go
  internal/controller/teamrbac/metrics.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/helm/helm.go
  internal/metrics/plugin_metrics.go
  internal/metrics/plugin_metrics_test.go
Labels: feature, helm-charts

#1120 feat(controller): add flux controller
  Makefile
  charts/manager/templates/rbac/manager-role.yaml
  cmd/greenhouse/controllers.go
  cmd/greenhouse/main.go
  dev-env/dev.config.yaml
  e2e/config.yaml
  e2e/plugin/e2e_test.go
  e2e/plugin/fixtures/fixtures.go
  go.mod
  go.sum
  internal/clientutil/client.go
  internal/controller/flux/builder.go
  internal/controller/flux/builder_test.go
  internal/controller/flux/plugin_controller.go
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/flux/util.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/util.go
Labels: feature, helm-charts, dependencies

#1269 chore(deps): update kubernetes packages to v0.32.6 (patch)
  go.mod
  go.sum
Labels: dependencies

#1270 chore(ci): rollback postgres values
  charts/greenhouse/values.yaml
Labels: helm-charts

#1274 fix(plugins): refactor flux HelmRelease builder
  Makefile
  api/well_known.go
  charts/manager/templates/rbac/manager-role.yaml
  cmd/greenhouse/controllers.go
  config/samples/flux/kustomization.yaml
  internal/clientutil/client.go
  internal/controller/flux/plugin_controller.go
  internal/controller/flux/plugindefinition_controller.go
  internal/controller/flux/util.go
  internal/controller/plugindefinition/plugindefinition_controller.go
  internal/controller/plugindefinition/plugindefinition_controller_test.go
  internal/flux/builder.go
  internal/flux/builder_test.go
  internal/flux/utils.go
  internal/test/env.go
Labels: core-apis, helm-charts

#1227 feat(ISSUE-978): support group validating webhook
  api/meta/v1alpha1/conditions_constants.go
  api/well_known.go
  e2e/cluster/e2e_test.go
  e2e/cluster/expect/expect.go
  e2e/conversion/e2e_test.go
  e2e/plugin/e2e_test.go
  e2e/shared/cluster.go
  internal/controller/cluster/bootstrap_controller.go
  internal/controller/cluster/bootstrap_controller_test.go
  internal/controller/cluster/cluster_controller_test.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/kubeconfig_controller_test.go
  internal/controller/cluster/status_test.go
  internal/controller/cluster/suite_test.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/organization_controller_test.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
  internal/controller/plugin/plugin_controller.go
  internal/controller/plugin/pluginpreset_controller.go
  internal/controller/plugin/pluginpreset_controller_test.go
  internal/controller/plugin/remote_cluster_test.go
  internal/controller/plugin/suite_test.go
  internal/controller/plugin/util.go
  internal/controller/team/team_controller_test.go
  internal/controller/teamrbac/conversion_test.go
  internal/controller/teamrbac/teamrolebinding_controller.go
  internal/controller/teamrbac/teamrolebinding_controller_test.go
  internal/helm/diff_test.go
  internal/helm/helm_test.go
  internal/helm/suite_test.go
  internal/test/resources.go
  internal/test/setup.go
  internal/util/conditions.go
  internal/util/conditions_test.go
  internal/util/suite_test.go
  internal/webhook/suite_test.go
  internal/webhook/utils.go
  internal/webhook/utils_test.go
  internal/webhook/v1alpha1/cluster_webhook.go
  internal/webhook/v1alpha1/cluster_webhook_test.go
  internal/webhook/v1alpha1/plugin_webhook.go
  internal/webhook/v1alpha1/plugin_webhook_test.go
  internal/webhook/v1alpha1/pluginpreset_webhook.go
  internal/webhook/v1alpha1/pluginpreset_webhook_test.go
  internal/webhook/v1alpha1/secret_webhook.go
  internal/webhook/v1alpha1/secret_webhook_test.go
  internal/webhook/v1alpha1/teamrole_webhook_test.go
  internal/webhook/v1alpha1/teamrolebinding_webhook.go
  internal/webhook/v1alpha1/teamrolebinding_webhook_test.go
  internal/webhook/v1alpha2/teamrolebinding_webhook.go
  internal/webhook/v1alpha2/teamrolebinding_webhook_test.go
Labels: feature, core-apis

#1257 fix(clusters): regenerate OIDC kubeconfig on ca changes
  e2e/cluster/e2e_test.go
  e2e/cluster/expect/expect.go
  internal/controller/cluster/bootstrap_controller.go
Labels: bug

#1247 feat(organizations): allow Organization to reference ConfigMap
  api/v1alpha1/organization_types.go
  api/well_known.go
  charts/manager/crds/greenhouse.sap_organizations.yaml
  docs/reference/api/index.html
  docs/reference/api/openapi.yaml
  internal/clientutil/predicates.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/util.go
  internal/test/resources.go
  internal/test/setup.go
  types/typescript/schema.d.ts
Labels: documentation, feature, core-apis, helm-charts

#1290 feat(clusters): add additional status conditions
  api/v1alpha1/cluster_types.go
  docs/user-guides/cluster/oidc_connectivity.md
  docs/user-guides/cluster/onboarding.md
  internal/cmd/cluster_bootstrap.go
  internal/common/permissions.go
  internal/controller/cluster/cluster_status.go
  internal/controller/cluster/status_test.go
Labels: documentation, feature, core-apis
