Repository cloudoperators/greenhouse, pull requests merged in 2025-04, with the labels that each got.

#1046 fix(docs): remove internal documentation leftovers
  docs/getting-started/quick-start.md
  docs/user-guides/organization/creation.md
  docs/user-guides/organization/sap-id.md
  website/hugo.yaml
  website/layouts/partials/navbar-custom-items.html
Labels: documentation

#1041 fix(charts): adds webhook timeout to cert-manager plugin
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/plugin-cert-manager.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

#1045 docs(core): update readme
  README.md
Labels: documentation

#1051 chore(greenhouse): increases cert-manager webhook timeout
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/values.yaml
Labels: helm-charts, dependencies

#1057 refactor(core): update import alias for greenhousev1alpha1
  cmd/greenhouse/main.go
  cmd/service-proxy/main.go
  pkg/controllers/organization/dex.go
  pkg/controllers/organization/organization_controller.go
  pkg/controllers/organization/service_proxy.go
  pkg/controllers/organization/teamrole_seeder.go
  pkg/dex/connector.go
  pkg/dex/connector_test.go
  pkg/helm/helm_test.go
  pkg/helm/suite_test.go
  pkg/test/env.go
Labels: idproxy

#1065 fix(docs): remove mentioning of plusone
  README.md
  docs/README.md
  docs/reference/api/openapi.yaml
  hack/install
  hack/openapi-generator/openapi-info.yaml
Labels: documentation

#1076 feat(organizations): create technical secret for generated values
  api/well_known.go
  internal/controller/organization/organization_controller.go
  internal/controller/organization/service_proxy.go
  internal/controller/organization/service_proxy_test.go
Labels: feature, core-apis

#1073 feat(charts): combine greenhouse org secrets
  charts/greenhouse/Chart.yaml
  charts/greenhouse/ci/test-values.yaml
  charts/greenhouse/templates/oidc.yaml
  charts/greenhouse/templates/organization-secrets.yaml
  charts/greenhouse/templates/organization.yaml
  charts/greenhouse/templates/scim.yaml
  charts/greenhouse/values.yaml
Labels: feature, helm-charts, dependencies

#1078 fix(charts): remove organization owner reference on auth secrets
  charts/greenhouse/Chart.yaml
  charts/greenhouse/templates/organization-secrets.yaml
Labels: helm-charts, dependencies

#1077 refactor(docs): replace value propositions png
  docs/assets/value-propositions.png
  docs/getting-started/overview.md
Labels: documentation

#1091 feat(idproxy): make keepUpstreamGroups configurable
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/idproxy/Chart.yaml
  charts/idproxy/templates/deployment.yaml
  charts/idproxy/values.yaml
  cmd/idproxy/main.go
Labels: feature, idproxy, helm-charts, dependencies

#1082 feat(core): bump go version to 1.24
  .github/renovate.json
  .github/workflows/codeql.yaml
  Dockerfile
  go.mod
Labels: feature, dependencies

#1049 fix(e2e): removes deprecated fields from the appProps.json creation
  charts/dashboard/templates/dashboard-props-cm.yaml
  charts/dashboard/values.yaml
  dev-env/ui.values.yaml
  internal/local/setup/dashboard.go
Labels: helm-charts

#1090 feat(organizations): add pod logs to org admin rbac
  internal/rbac/role.go
Labels: feature

#855 feat(greenhouse): split deployment of greenhouse
  .github/licenserc.yaml
  Makefile
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/_helpers.tpl
  charts/manager/templates/cert/kube-webhook-certgen-rbac.yaml
  charts/manager/templates/cert/kube-webhook-certgen.yaml
  charts/manager/templates/manager/config.yaml
  charts/manager/templates/manager/deployment.yaml
  charts/manager/templates/manager/feature-flag.yaml
  charts/manager/templates/manager/serviceaccount.yaml
  charts/manager/templates/manager/vpa.yaml
  charts/manager/templates/metrics-service.yaml
  charts/manager/templates/metrics/metrics-service.yaml
  charts/manager/templates/plugin-viewer-rbac.yaml
  charts/manager/templates/prometheus/manager-prometheusrules.yaml
  charts/manager/templates/prometheus/servicemonitor.yaml
  charts/manager/templates/rbac/leader-election-rbac.yaml
  charts/manager/templates/rbac/manager-role.yaml
  charts/manager/templates/rbac/manager-rolebinding.yaml
  charts/manager/templates/rbac/metrics-reader-rbac.yaml
  charts/manager/templates/rbac/proxy-rbac.yaml
  charts/manager/templates/webhook-service.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/templates/webhook/service.yaml
  charts/manager/templates/webhook/webhooks.yaml
  dev-env/dev.config.yaml
  docs/reference/api/openapi.yaml
  e2e/config.yaml
  e2e/plugin/e2e_test.go
  hack/helmify
  internal/local/commands/common.go
  internal/local/commands/setup.go
  internal/local/setup/manager.go
  internal/local/setup/manifest.go
  internal/local/setup/webhook.go
  internal/test/env.go
  types/typescript/schema.d.ts
Labels: documentation, feature, helm-charts, dependencies

#1106 fix(charts): fix indendation, add missing pg config
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/ci/test-values.yaml
  charts/manager/templates/manager/deployment.yaml
Labels: helm-charts, dependencies

#1107 fix(charts): readd manager replicas, fix webhook replicas
  charts/greenhouse/Chart.lock
  charts/greenhouse/Chart.yaml
  charts/manager/Chart.yaml
  charts/manager/templates/manager/deployment.yaml
  charts/manager/templates/webhook/deployment.yaml
  charts/manager/templates/webhook/service.yaml
  charts/manager/values.yaml
Labels: helm-charts, dependencies
